[2021-01-28 01:34] xing-yang commented on #461
v2.1.3 image should support multiarch.  I'll have to investigate why it does not work.

v2.1.1 is a little old.  We won't be releasing a separate image for an old release.

[2021-01-28 01:44] xing-yang commented on #461
Does other sidecar image such as the external-provisioner work on arm64?

[2021-01-28 02:07] ajaykmis commented on #461
both the images you pointed didn't work for me on arm64.

for the external provisioner, this is the one I used.
raspbernetes/csi-external-provisioner

[2021-01-28 03:04] xing-yang commented on #461
So the earlier build that supports multiarch is 3.0.x and the latest 3.0.x is 3.0.3.
The changes needed in release-tools to support multiarch didn't all go into 2.1.x.

[2021-01-28 03:23] xing-yang commented on #463
Do you see this message in the logs `Failed to sync content %q, will retry again: %v`?  Can you provide logs?

[2021-01-28 03:30] xing-yang commented on #463
I looked at the code.  It should get added to the rate-limited queue if syncContent fails.  So I want to see which code path it falls thru.

[2021-01-29 01:20] Jiawei0227 opened #465 "CreateSnapshot being called several times when only one Snapshot is wanted."
I am testing the csi-snapshotter metrics. And I had this little experiment in my env. Basically I just created one VolumeSnapshot. And the snapshot was created successfully.
When I check my snapshotter metrics, it seems that it has recorded a lot of CreateVolume event. And I checked my driver log, it also has a lot of CreateVolume call like 20ish times.

I checked with @msau42 and she mentioned th

[2021-01-29 01:20] Jiawei0227 commented on #465
/assign @xing-yang

[2021-01-29 01:27] xing-yang commented on #465
Which version of external-snapshotter are you using?

[2021-01-29 01:35] Jiawei0227 commented on #465
I am using v3.0.1, does this get fixed in v4?

[2021-01-29 01:38] msau42 commented on #465
My understanding is that this is inherent due to 'CreateSnapshot' being overloaded as a 'GetSnapshot' use case, so it won't be fixed until we add a GetSnapshot call in CSI

[2021-01-29 02:34] xing-yang commented on #465
ListSnapshots with snapshot_id serves the same purpose as GetSnapshot so we don't really need a new GetSnapshot RPC. The reason that we decided not to use ListSnapshots is that it is optional.  CreateSnapshot is idempotent so it serves the same purpose as GetSnapshot.

CC @yuxiangqian

[2021-01-29 20:44] bswartz commented on #463
I0129 20:42:04.692484       1 snapshot_controller.go:57] synchronizing VolumeSnapshotContent[snapcontent-087c1a00-d0f0-47b9-aa6c-e0aea482fe42]
I0129 20:42:04.692495       1 snapshot_controller.go:531] Check if VolumeSnapshotContent[snapcontent-087c1a00-d0f0-47b9-aa6c-e0aea482fe42] should be deleted.
I0129 20:42:04.692506       1 snapshot_controller.go:76] syncContent: Call CreateSnapshot for conte

[2021-01-29 21:02] bswartz commented on #463
This behavior can be easily reproduced by taking any CSI plugin that otherwise works and support snapshots and replacing the CreateSnapshot() implementation with something like this:

func (x *X) CreateSnapshot(context.Context, *csi.CreateSnapshotRequest) (*csi.CreateSnapshotResponse, error) {
	return nil, status.Error(codes.Internal, "Intentional error")
}

[2021-01-31 02:02] xing-yang commented on #463
I also did some experiments by returning failure at create snapshot time.  In my testing, I checked the logs after about 30 minutes after issuing the first create snapshot call.  Initially the retry happened instantly, but gradually the wait time was increased.  You can see that the wait time between 2 tries incremented from less than 1 second to more than 20 minutes at the end of the logs I provi

[2021-01-31 21:44] bswartz commented on #463
I wonder if the API update race is happening every time in my system because I see it retrying very fast. I would have expected the exponential backoff on retries to increase rapidly so that there was no more than 6-8 attempts in the first minute. In the API update race scenario, the sidecar should not be calling the CSI RPC again, right?

[2021-02-01 08:55] ialidzhikov commented on #306
@xing-yang @msau42 any feedback on the above question?

[2021-02-01 10:17] #406 closed

[2021-02-01 14:21] xing-yang commented on #306
We could.  @ialidzhikov do you want to submit a PR to backport this fix to release-2.1?

[2021-02-01 17:24] xing-yang commented on #463
For any failure including API update failure, we add it to the same queue for retries.  In earlier version of the code, we have local retries for some API update failures, but those were removed based on review comments.  So the only place to do retry is to add failed object back to the queue.  This means it will go thru the same code path.  CSI RPC call is likely to happen because we need to do t

[2021-02-01 17:25] xing-yang commented on #463
We do have a WIP PR to use patch instead of update which should reduce the API update failures.

[2021-02-01 18:01] bswartz commented on #463
So the provisioner sidecar has a tunable exponential backoff, using command line params [1]. Perhaps if we could similarly tune the exponential backoff for snapshot creation, then individual vendors could pick the values that make sense for them.

[1]: https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L65

[2021-02-01 18:30] xing-yang commented on #463
That seems to be a good one to have.

[2021-02-01 20:57] xing-yang commented on #463
Adding the feature tag for adding a tunable exponential backoff option, similar to the option in external-provisioner.

[2021-02-02 03:52] daresheep commented on #465
Dears,

Is there any updates?

i had testing on V4,  and this issue already exist.

i had a big PVC about  30G, and i create snapshot for this pvc.  it create a lot of snap files.

![image](https://user-images.githubusercontent.com/8828158/106549779-a54ae180-654c-11eb-83f8-d5594f3fad96.png)
![image](https://user-images.githubusercontent.com/8828158/106549853-ce6b7200-654c-11eb-98c3-91ea9d17d5b9.pn

[2021-02-02 04:07] xing-yang commented on #465
@daresheep Which CSI driver are you using?  CreateSnapshot must be idempotent. This means if CreateSnapshot is called multiple times for the same create snapshot request, the storage system should only create 1 snapshot, not multiple snapshots.  This looks like a problem with the CSI driver and the storage system.

[2021-02-02 05:41] daresheep commented on #465
thank you so much for your replay.

The csi driver is https://github.com/kubernetes-csi/csi-driver-host-path and the  version is  V1.5.0 relase  4 days ago.

I'll try lower version for this later.

Thanks  again.

[2021-02-02 10:28] ialidzhikov commented on #306
https://github.com/kubernetes-csi/external-snapshotter/pull/466

[2021-02-02 20:26] xing-yang commented on #465
@daresheep can you open an issue for the csi hostpath driver here?  https://github.com/kubernetes-csi/csi-driver-host-path/issues

[2021-02-03 01:32] daresheep commented on #465
Ok,  The issue created here:

https://github.com/kubernetes-csi/csi-driver-host-path/issues/243

[2021-02-03 18:48] ggriffiths commented on #151
PR https://github.com/kubernetes/kubernetes/pull/96299 adds a framework for testing e2e snapshot controller metrics and a few simple test cases.

Here is the progress on this work:

- [ ] Snapshot controller metrics e2e framework - PR https://github.com/kubernetes/kubernetes/pull/96299
- [ ] Simple positive test cases for snapshot controller metrics  - PR https://github.com/kubernetes/kubernetes/p

[2021-02-03 18:48] ggriffiths commented on #151
/remove-lifecycle rotten

[2021-02-03 18:49] ggriffiths commented on #431
Makes sense, agreeing on the error codes would be hard. Will close this for now.

[2021-02-03 18:49] #431 closed

[2021-02-03 18:50] ggriffiths opened #467 "Add per-reconciliation snapshot-controller metrics via workqueue"
/assign @ggriffiths

Continuation of #409 - phase two of snapshot-controller metrics is reporting metrics based on the workqueue.

[2021-02-07 22:25] timoreimann commented on #463
I was just looking at the backoff intervals as well on csi-snapshotter v3.0.3. Here are times at which errors for `CreateSnapshot()` were reported over a period of 10 minutes:

[code]

The intervals are always around 2-3 seconds with no significant increase.

I also checked the code and couldn't tell why the backoff doesn't work. 🤔

[2021-02-07 23:49] timoreimann commented on #463
I verified that the backoff interval is in fact set correctly (and increasing on each retry).

However, what I did also notice while watching the VolumeSnapshotContents is that my object was updated at the same frequency that the snapshotter sidecar got triggered. Doing a diff between two updates, I see that the resource version is changing:

[code]

Could there be some part in the sidecar that is

[2021-02-08 16:04] ialidzhikov commented on #306
Reopen as the cherry-pick for release-2.1 is still pending.

/reopen
/priority important-soon

[2021-02-09 07:59] ialidzhikov opened #472 "1-20-on-kubernetes-1-20 is failing for release-2.1 branch"
Currently `1-20-on-kubernetes-1-20` job is failing for the `release-2.1` branch.

Here are several PRs in which this was discussed and tried to be addressed without success:
- https://github.com/kubernetes-csi/external-snapshotter/pull/471
- https://github.com/kubernetes/test-infra/pull/20792

/kind bug
/priority important-soon

[2021-02-09 11:32] pohly commented on #472
It probably also fails for release-3.0 and release-4.0. Which of these are still supported?

[2021-02-09 13:34] xing-yang commented on #472
Both release-3.0 and release-4.0 are supported.  release-4.0 should not have the problem as it supports v1 CRDs.  release-3.0 might have a problem.

[2021-02-11 11:04] pohly commented on #472
Fix for release-3.0 is here: https://github.com/kubernetes-csi/external-snapshotter/pull/474

[2021-02-16 18:06] ialidzhikov commented on #472
@pohly , I see that all related PRs are merged. Can this be closed now?

[2021-02-16 18:14] ialidzhikov commented on #306
Hello @xing-yang 👋

I see that the cherry-pick PR is now merged. Is there a release date (ETA) for external-snapshotter@v2.1.4 patch release? In Gardener project (https://github.com/gardener) we are looking forward to it! Many thanks in advance and appreciate your support!

[2021-02-16 19:26] xing-yang commented on #306
I'm working on the release.

[2021-02-17 06:34] ialidzhikov commented on #306
@xing-yang , thank you for the release!

[2021-02-17 06:35] ialidzhikov commented on #306
/close

[2021-02-17 06:35] #306 closed

[2021-02-17 07:31] pohly commented on #472
I think so.

/close

[2021-02-17 07:31] #472 closed

[2021-02-25 15:12] xing-yang opened #477 "Need more fine-grained control of volume mode conversion between source and target PVC"
Currently a user can do the following:
- Create a PVC with filesystem mode, take a snapshot, and create a new PVC with block mode using the snapshot as the source
- Create a PVC with block mode, take a snapshot, and create a new PVC with filesystem mode using the snapshot as the source

This conversion is required by backup software to efficiently copy the blocks.  We need a more fine-grained cont

[2021-02-25 18:00] xing-yang commented on #443
/assign @prateekpandey14

[2021-02-25 18:07] prateekpandey14 commented on #443
/assign @prateekpandey14

[2021-02-26 06:07] yuxiangqian commented on #477
/cc @yuxiangqian

[2021-02-26 15:13] #379 closed

[2021-03-03 13:33] xing-yang commented on #326
This issue was fixed in v3.0.0 with changes in both snapshot controller and csi-snapshotter sidecar.

[2021-03-05 00:55] ggriffiths commented on #434
/remove-lifecycle stale
Picking up this work soon.

[2021-03-05 05:49] #216 closed

[2021-03-09 01:19] #399 closed

[2021-03-15 17:03] #443 closed

[2021-03-16 00:05] msau42 opened #482 "Move validation webhook to distroless:static"
Right now it's using "distroless:base" which installs glibc and openssl packages, which have frequent vulnerabilities. Investigate if we can move to "distroless:static".

[2021-03-16 02:59] xing-yang commented on #482
@yuxiangqian do you know if there's any specific reason why "distroless:base" is used instead of "distroless:static" for the validation webhook image?
https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/snapshot-validation-webhook/Dockerfile#L1

[2021-03-17 06:30] yuxiangqian commented on #482
I am not aware of/can recall any specific reason why "base" is used over "static"
from this [documentation](https://github.com/GoogleContainerTools/distroless/blob/master/base/README.md), it seems to be fine to switch to use static as the webhook is implemented in Go. We should definitely test the behavior though.

[2021-03-17 22:59] grosser commented on #455
/lifecycle frozen

[2021-03-19 04:17] #401 closed

[2021-03-22 15:35] pohly opened #484 "distributed snapshotting"
For local storage (e.g. LVM disks) it makes sense to support a deployment model where the driver only runs locally on nodes together with sidecars. This is already support for provisioning (https://github.com/kubernetes-csi/external-provisioner/pull/524, https://github.com/kubernetes-csi/external-provisioner#deployment-on-each-node).

[2021-03-22 15:35] pohly commented on #484
In the snapshotter, the sidecar probably needs to check whether the volume is local before invoking the CSI driver. This can be achieved via the existing topology field. https://github.com/kubernetes-csi/external-provisioner/issues/592 might help to reduce traffic by configuring the informer so that it filters by label and thus only receives PVs that are of interest. See https://github.com/kuberne

[2021-03-23 01:48] #403 closed

[2021-03-24 16:27] smrutiranjantripathy opened #487 "Snapshot Controller should check for status of PV attached to PVC before creating VolumeSnapshotContent in dynamic provisioning"
**What happened:**
If we take snapshot of a pvc and if the volume attached to that pv of pvc is deleted then the VolumeSnapshot Object shows as "snapshot-controller  Waiting for a snapshot default/test-snapshot-5 to be created by the CSI driver." in describe of *VolumeSnapshot Object*.
[code]

**What you expected to happen:**
To log error in the event as:
[code]

**How to reproduce it (as minimall

[2021-03-30 15:44] stiller-leser commented on #273
So half a year later I "re-found" this issue when, as predicted by @nrb, I ran into an issue with one `VolumeSnapshotContent-insert-namespace-here` with `deletionPolicy: Delete` deleted the underlying snapshot (on cloud provider level) for other `VolumeSnapshotContent-insert-namespace-here`. When handling many namespaces and many snapshots the touple-approach really has its problems.

In our useca

[2021-04-02 06:00] mitchellhuang opened #489 "Support for in-tree volumes migrated with CSIMigration feature-gate"
It appears that snapshot-controller does not support snapshotting volumes that have been migrated to CSI with the CSIMigration/CSIMigrationAWS feature-gate. When attempting to snapshot a migrated volume it will error:

[code]

You can see [here](https://github.com/kubernetes-csi/external-snapshotter/blob/533ed88/pkg/common-controller/snapshot_controller.go#L650) where the error occurs because the

[2021-04-03 01:21] xing-yang commented on #489
VolumeSnapshot is only supported for CSI drivers.  It is never supported for in-tree volume plugins.  So this feature is not covered by CSIMigration.

[2021-04-05 19:21] mitchellhuang commented on #489
Hi @xing-yang, the in-tree volumes that are migrated by the CSIMigration feature-gate are ultimately run on CSI once enabled, so I believe this is within scope. I have submitted a PR to enable compatibility for snapshot-controller using the official csi-translation-lib. It maintains existing compatibility with native CSI volumes and is a relatively simple code change. Hopefully you and the maintai

[2021-04-05 19:27] xing-yang commented on #489
CSI migration is intended to support features that are already supported by in-tree drivers.  It is not intended to add new CSI features.

[2021-04-05 19:36] mitchellhuang commented on #489
Ahh, I see, understood, we will fork internally then.

[2021-04-06 05:21] Kartik494 commented on #359
/remove-lifecycle stale

[2021-04-13 05:09] saikat-royc opened #492 "csi-snapshotter sidecar does not honor http-endpoint"
https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/csi-snapshotter/main.go#L157
`err := http.ListenAndServe(*metricsAddress, mux)`, instead addr should be used.

[2021-04-13 05:09] saikat-royc commented on #492
/assign @xing-yang

[2021-04-13 15:11] xing-yang commented on #487
What error messages do you see in the logs?

[2021-04-13 15:16] xing-yang commented on #487
So in this case, the user tries to delete PV without deleting PVC first?  PV should not be deleted though as there is finalizer on it.  So even though PV is terminating, the volume should still be available on the storage system and PVC is still "bound".

[2021-04-14 16:23] smrutiranjantripathy commented on #487
I'm pointing to the scenario where the storage attached to pv has been deleted from backend.

[2021-04-15 12:15] mowangdk opened #495 "Add VolumeSnapshot.Name & VolumeSnapshot.Namespace to Parameters fields in CreateSnapshotRequest"
Snapshot-controller pass the newly generated snapshot name（snapshot+uid） instead of the original VolumeSnapshot.Name to CSI. This makes it very difficult to trace PVC usages base on the backend snapshot resources.

Can we add VolumeSnapshot.Name & VolumeSnapshot.Namespace to Parameters fields in CreateSnapshotRequest for tag backend snapshot resource?

[2021-04-15 13:10] xing-yang commented on #495
VolumeSnapshot Name/Namespace and VolumeSnapshotContent Name can all be passed into CreateSnapshotRequest.  See doc here:
https://kubernetes-csi.github.io/docs/external-snapshotter.html#volumesnapshot-and-volumesnapshotcontent-parameters

[2021-04-15 13:11] xing-yang commented on #492
@ggriffiths can you take a look of this?

[2021-04-15 14:59] mowangdk commented on #495
thanks~

[2021-04-15 14:59] #495 closed

[2021-04-15 19:49] #492 closed

[2021-04-20 13:07] mowangdk opened #501 "what's differences between v1beta1 and v1 (v3.0.3-> v4.0.0)"
I want to know what is the difference between version 3.0.3 and version 4.0.0  and What should I pay attention to when upgrading from version 3.0.3 to 4.0.0 （Sorry I didn't find the relevant document~

[2021-04-20 13:44] xing-yang commented on #501
You can the release notes here:
https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v4.0.0
https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v3.0.3

[2021-04-27 13:14] mowangdk commented on #501
ok, thx~

[2021-04-27 13:14] #501 closed

[2021-05-03 14:53] vishutrilio commented on #288
Hi @xing-yang , can you tell how did you fix it? I just wanted to understand how `resource.Quantity` resulted in `string` in CRD. Thanks

[2021-05-03 16:26] xing-yang commented on #288
We made a manual change to remove "integer" and keep "string".  It is documented in the README:
https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/hack#update-crdsh

[2021-05-03 22:00] vishutrilio commented on #288
Thank you @xing-yang

[2021-05-04 19:43] ggriffiths commented on #467
/remove-lifecycle stale

[2021-05-04 21:51] ggriffiths commented on #151
/remove-lifecycle rotten Being worked on in https://github.com/kubernetes/kubernetes/pull/96299

[2021-05-06 22:57] mauriciopoppe opened #514 "Startup code that gets a namespace fails if there are no RBAC rules"
This is a bug introduced in https://github.com/kubernetes-csi/external-snapshotter/pull/504 (thanks @zhucan for finding that out) where during startup we attempt to list volumesnapshots in the `kube-system` namespace, if there are no RBAC rules for this request then

https://github.com/kubernetes-csi/external-snapshotter/blob/f235e24b75fafb26df8734be9a2a9f6c869ae771/cmd/snapshot-controller/main.go

[2021-05-06 23:12] msau42 commented on #514
I think if you call `List` with an empty string namespace, that lists the objects in all namespaces.

[2021-05-07 17:50] mauriciopoppe commented on #514
@msau42 in an experiment doing the request with an empty string namespace is equal to listing in the `default` namespace

[code]

[2021-05-07 18:54] msau42 commented on #514
I think kubectl may behave differently than client-go. If you try "" in client-go, are you able to see objects from other namespaces?

[2021-05-09 15:03] timoreimann commented on #463
/remove-lifecycle stale

[2021-05-10 20:24] pohly opened #516 "Prow: ensure that canary controller is tested"
It looks like the code in prow.sh which is meant to select the canary version of the driver fails to do so:
https://github.com/kubernetes-csi/csi-driver-host-path/blob/54431443245c9fd46048ba5f89324e2e8d7efefb/release-tools/prow.sh#L341-L348

It selects "master" as `CSI_SNAPSHOTTER_VERSION`, just like the canary Prow job does in:
https://github.com/kubernetes/test-infra/blob/9901b188a14600d62641c14

[2021-05-11 18:04] #514 closed

[2021-05-13 06:16] Kartik494 commented on #516
/assign

[2021-05-23 10:53] alibo opened #522 "There's no Event for a sucessfully created snapshot"
`Snapshot-controller` creates a new normal event with type `Normal` and reason `CreatingSnapshot` after `VolumeSnapshotContent` is created:

https://github.com/kubernetes-csi/external-snapshotter/blob/f255fe7b46bd5410370537319879d06f2bf1a156/pkg/common-controller/snapshot_controller.go#L704-L705

However, when the snapshot is created successfully, the snapshot controller/sidecar only changes `Read

[2021-05-25 01:37] mrwwheat7 opened #523 "Question about VolumeSnapshot API"
Hi team,

I am using k8s 1.21 version, and when I am declaring
`apiVersion: snapshot.storage.k8s.io/v1 kind: VolumeSnapshotClass` in yaml file, it will throw the error: `no matches for kind "VolumeSnapshotClass" in version "snapshot.storage.k8s.io/v1"`. But after I apply the volumesnapshot [CRD](https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd), it works.

Accor

[2021-05-25 01:39] ggriffiths commented on #368
@msau42 @xing-yang should we rename this to "snapshot controller and snapshotter sidecar fail to update CRs with "object has been modified"" or something similar, as the patch implementation in https://github.com/kubernetes-csi/external-snapshotter/pull/480 did not fix this?

I have a feeling that this problem might be happening because the snapshot-controller and snapshotter sidecar are both resp

[2021-05-25 01:59] xing-yang commented on #368
@ggriffiths Sure, go ahead and rename the issue.

[2021-05-25 02:02] xing-yang commented on #523
@mrwwheat7 VolumeSnapshot is a CRD so not every K8S distro deploys the CRDs by default.  In the blog, we talked about a feature gate.  That feature gate is controlling a DataSource field in the PVC spec.

[2021-05-25 13:17] xing-yang commented on #522
Good point.  I think we should add an event when the snapshot is created successfully.

[2021-05-25 14:51] Kartik494 commented on #516
Hi @pohly  , i have a confusion on this [line](https://github.com/kubernetes-csi/csi-driver-host-path/blob/54431443245c9fd46048ba5f89324e2e8d7efefb/release-tools/prow.sh#L343) actually in that [file](https://github.com/kubernetes/test-infra/blob/9901b188a14600d62641c14c0d9003dae9fbdf9b/config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml#L321) the kubernetes 1.21 and 1.

[2021-05-26 18:02] ggriffiths opened #525 "VolumeSnapshotContent update fails with "object has been modified""
Seeing this consistently on snapshotting e2e tests in the snapshot controller pod:

[code]

There seems to be multiple root causes for this error. We'll be tracking them here:
- [x] [updateContentErrorStatusWithEvent](https://github.com/kubernetes-csi/external-snapshotter/blob/679e71e89d4644ae4b50fa71874b4d9a77bb9e5a/pkg/sidecar-controller/snapshot_controller.go#L140) - ~~if we perform a Get befor

[2021-05-26 18:02] ggriffiths commented on #525
/assign @ggriffiths

[2021-05-27 08:44] Kartik494 commented on #516
Hi @pohly for patching the  canary for snapshot controller , i need to add a kustomization.yaml file in the  [repo](https://github.com/kubernetes-csi/external-snapshotter/tree/master/deploy/kubernetes/snapshot-controller) and then made changes in [prow.sh](https://github.com/kubernetes-csi/csi-driver-host-path/blob/54431443245c9fd46048ba5f89324e2e8d7efefb/release-tools/prow.sh#L818-L821) to use `k

[2021-05-27 13:30] jsafrane commented on #525
Debugging the case when `CreateSnapshot` returns a final error and this error is not saved to VolumeSnapshotContent because of "object has been modified". This happens when e.g. related VolumeSnapshotClass has an invalid parameter and the CSI driver checks for it, e.g. Azure Disk. (Not reproducible with AWS EBS, GCP PD, csi-hostpath, they don't check parameters...)

external-snapshotter sidecar lo

[2021-05-28 06:52] pohly commented on #516
You need to create a kustomization in prow.sh which replaces the image.

While at it, perhaps use the same approach in https://github.com/kubernetes-csi/csi-driver-host-path/blob/54431443245c9fd46048ba5f89324e2e8d7efefb/release-tools/prow.sh#L780-L817

In other words, always use `kubectl apply -k <my local kustomization>` and just change what's in that kustomization.yaml.

[2021-05-28 08:30] pohly commented on #516
This code here uses `--kustomize` to add labels to YAML files. You probably can copy it and then just change what's in the kustomization.yaml to replace the image.

https://github.com/kubernetes-csi/csi-driver-host-path/blob/2a06cb4c6636c994002837ec75147deeed3430e5/deploy/util/deploy-hostpath.sh#L173-L207

[2021-06-01 16:57] ankitagbhat opened #528 "Dynamic Creation of snapshot from pvc is getting failed"
[code]

[2021-06-03 13:33] xing-yang commented on #463
Here's a PR that makes ratelimiter tunable:
https://github.com/kubernetes-csi/external-snapshotter/pull/308

[2021-06-03 16:28] ggriffiths commented on #434
/remove-lifecycle stale
PR opened for this

[2021-06-03 22:14] ggriffiths commented on #151
Progress on this work:
- [x] Snapshot controller metrics e2e framework - PR kubernetes/kubernetes#96299
- [x] Simple positive test cases for snapshot controller metrics - PR kubernetes/kubernetes#96299
- [ ] Negative metric tests
- [ ] Per-reconciliation metrics tests (once these metrics are implemented)

/remove-lifecycle rotten

[2021-06-06 03:20] #271 closed

[2021-06-08 15:29] xing-yang commented on #522
We do add events when failure occurs.  If you think an event is missing for a particular failure, please report a separate issue so we can fix it.

[2021-06-08 15:30] xing-yang commented on #522
By the way, events will disappear after a period of time while logs will persist.  So it also depends on when you checked the events.

[2021-06-08 15:40] xing-yang commented on #522
/assign @rexagod

[2021-06-08 16:56] xing-yang commented on #528
Can you also post logs from CSI snapshotter sidecar and CSI hostpath driver?  Also what is the output of kubectl describe of VolumeSnapshot, VolumeSnapshotContent?

[2021-06-08 16:59] xing-yang commented on #528
I see the above error.  Did you try to delete the snapshot?

[2021-06-09 05:31] rexagod commented on #522
/assign

[2021-06-10 18:55] #463 closed

[2021-06-14 23:08] ggriffiths opened #533 "external-snapshotter constantly retrying CreateSnapshot calls on error w/o backoff"
Creating a snapshot from a non-existing volume will repro this. @jsafrane discovered this, opening this issue for tracking.

[2021-06-17 00:17] ggriffiths commented on #533
/assign @ggriffiths

[2021-06-21 12:43] xing-yang commented on #484
/remove-lifecycle stale

[2021-06-21 12:45] #489 closed

[2021-06-21 12:46] xing-yang commented on #482
/remove-lifecycle stale

[2021-06-27 04:52] #461 closed

[2021-06-29 20:34] ggriffiths commented on #525
Still planning to further address this issue in the next few weeks. The next step will be to fix up #526.

[2021-07-01 16:44] akashpatel2 commented on #522
Our K8s cluster monitoring framework heavily use Events; in this case we are getting only Snapshot Create event, and after successful snapshot create, we are not getting 'successful snapshot create event', I think we should fix this issue.

[2021-07-03 02:42] #465 closed

[2021-07-06 09:05] sdelrio opened #543 "validating-webhook could cert-file parameter be without ca.crt included?"
Hello, I'm trying to install the external-snapshooter in a production enviornment, and when installing the webhook I found a good solution for the cert genration in your documentation:
https://github.com/kubernetes-csi/external-snapshotter/tree/master/deploy/kubernetes/webhook-example

There, you link to other method to deploy the webhook using cert-manager certificates.

The problem I found is th

[2021-07-06 13:56] #522 closed

[2021-07-07 05:56] Kartik494 commented on #359
/remove-lifecycle stale

[2021-07-07 09:07] sdelrio commented on #543
More detailed info on the workaround done in the Deployment, in case someone needs:

* Added initContainer

[code]

* Containersr, webhook + added sidecar with inotify to generate pem files when secret changed

[code]

[2021-07-07 13:17] xing-yang commented on #543
I'll mark this issue an enhancement request.

[2021-07-12 14:18] gman0 opened #551 "Helm chart for CRDs and snapshot controller?"
Are there any plans to offer snapshot CRDs, controller, etc. as a single Helm chart? If not, would you accept contributions in this area?

I realize that all these currently external components (CRDs, controller) will probably be incorporated in Kubernetes some time in the future, so maybe it doesn't make sense having to maintain a Helm chart for these.

[2021-07-14 11:15] xing-yang commented on #482
Fixed by #550

[2021-07-14 11:16] #482 closed

[2021-07-14 11:17] xing-yang commented on #551
@gman0 Thanks for your willingness to contribute!  We are discussing about this.

[2021-07-15 07:32] WanzenBug commented on #551
Hey @gman0

FYI: I recently worked on exactly this: https://github.com/piraeusdatastore/helm-charts/

My main motivation was helping users of Piraeus to enable snapshotting on their cluster, but I'd be happy if there was a "official" solution.

[2021-07-15 07:48] gman0 commented on #551
@WanzenBug thank you! That is exactly my motivation as well, but I just started working on this. From the first glance, your solution looks great, it even seems to offer deployment for the webhook. Would you like to take over this ticket? Of course that is if sig-storage folks think this indeed makes sense.

[2021-07-16 11:52] andyzhangx commented on #489
@mitchellhuang have you maintained a forked external-snapshotter with snapshot support? I would like to have snapshot feature enabled with in-tree also, thanks.

[2021-07-18 12:56] ialidzhikov opened #554 "pull-kubernetes-csi-external-snapshotter-1-21-on-kubernetes-1-21 is failing for release-4.0 branch"
Currently pull-kubernetes-csi-external-snapshotter-1-21-on-kubernetes-1-21 job is failing for the release-4.0 branch.

Here are few link for failed runs:

- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_external-snapshotter/547/pull-kubernetes-csi-external-snapshotter-1-21-on-kubernetes-1-21/1416124256483282944
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/p

[2021-07-18 22:43] circy9 commented on #489
@xing-yang Is there any plan from k8s to fully deprecate CSI migration? Or is the plan to allow CSI migrated PVs to exist for unlimited time?

[2021-07-19 09:26] mowangdk opened #557 "VolumeSnapshotContent update failed"
Clusters often report the following event when dynamically creating VolumeSnapshot. Has anyone encountered it before?
It eventually end up in ready state. but the warning event is annoying.

snapshot-controller ver: v3.0.2
ps: VolumeSnapshotContent is not modified outside of the snapshot sidecars

[code]

[2021-07-19 14:41] xing-yang commented on #557
There's another issue opened for this: https://github.com/kubernetes-csi/external-snapshotter/issues/525
cc @ggriffiths

[2021-07-20 05:14] mowangdk commented on #557
ok, thx~

[2021-07-20 05:14] #557 closed

[2021-07-22 15:50] Xyaren commented on #551
I would also really appreciate there being a helm chart, as it makes updating so much easier.

[2021-07-26 20:53] ialidzhikov commented on #554
Seems to be fixed by https://github.com/kubernetes-csi/external-snapshotter/pull/558.

Hence
/close

[2021-07-26 20:53] #554 closed

[2021-07-27 18:11] travisghansen commented on #533
Ran into this as well. If further info can be helpful let me know.

[2021-07-27 18:29] ggriffiths commented on #533
@travisghansen did you repro this by creating a snapshot from a non-existing volume? Want to make sure it's the same cause.

[2021-07-27 20:31] travisghansen commented on #533
In my case the api call to the backing storage system had some invalid options in the payload resulting in a failure. I would effectively pass the failed api response back up to the grpc client (this repo?) and observe that over and over at a rapid pace.

[2021-07-30 20:53] #434 closed

[2021-08-02 12:05] hoyho opened #566 "snapshot request to controller service is not guarantee consistency"
In current design, when a user request to create a snapshot in kubernetes cluster, the volume data is not guarantee consistency.
consider following step:
1.  Create PVC and Pod and assume volume mounted and being use (more specifically , we can assume the volume format as xfs)
2.  Do some IO operation inside the pod with the volume：

![企业微信截图_16278959047804](https://user-images.githubusercontent.c

[2021-08-02 14:14] humblec opened #567 "Unable to map original PVC from the snapshot object after PVC rerreation"
Snapshot objects are created from a PVC and snapshot object record the source PVC name in the snapshot object spec. However if there is a situation of PVC recreation,  ie PVC get recreated with the same name after snapshot has been created/taken, there is no way to identify the `original` PVC reference from the snapshot object or we miss the backtracking facility here. The PVC name reference bring

[2021-08-02 16:10] xing-yang commented on #567
Hi @humblec, do you need this information to info user that PVC still has VolumeSnapshots and therefore the volume may not be able to be deleted if the snapshot is dependent on the volume on the StorageSystem?  In Kubernetes, since we treat PVC and VolumeSnapshot as independent of each other, you should not need to find the original PVC after the VolumeSnapshot is created. This is similar to Cloni

[2021-08-02 17:25] xing-yang commented on #566
The underlying Storage System will need to ensure it is crash consistent.

[2021-08-02 17:26] xing-yang commented on #567
CC @yuxiangqian

[2021-08-03 03:56] hoyho commented on #566
That's not easy to make sure that from storage side.
At least I see someone have face the problem too https://github.com/ceph/ceph-csi/issues/1532
Do you think is it possible to introduce a new interface to NodeServer in CSI spec?

[2021-08-04 06:14] humblec commented on #567
True, however considering snapshot object is having a reference to the `source PVC` by its `name`, which is not the unique identity of the PVC object, I was thinking we could have a reference by UID, so that at any point in time, a storage admin can refer the PVC from which snapshot is taken or snapshot is based on.

While considering cloning, eventhough the semantics remain same, the use case  po

[2021-08-05 13:17] xing-yang commented on #567
Maybe we can consider adding the PVC UUID in the VolumeSnapshot Status field.
@yuxiangqian What do you think?

[2021-08-05 13:22] xing-yang commented on #566
There was a proposal about this a while back in the CSI spec:
https://github.com/container-storage-interface/spec/pull/407
We still have not reached consensus on going forward with it yet.

We are working on adding a pod inline definition to do the quiesce.  See here: https://github.com/kubernetes/enhancements/pull/1995

[2021-08-05 19:32] kfox1111 commented on #551
Using helm to manage it would be preferable for us. It would make it easy to customize for our environment and keep it up to date.

[2021-08-05 21:45] xing-yang commented on #551
We have yaml files that are used by CI. If we have helm charts, can the charts be used to generate yaml files so that they don't go out of sync?

[2021-08-05 21:51] kfox1111 commented on #551
yeah. You can run something like: 'helm template external-snapshotter > static.yaml' to generate them.

[2021-08-06 03:49] humblec commented on #567
@xing-yang Indeed, thats what I was proposing to, so that the spec field remains unchanged and avoid big API change, but if someone want to map , we have the UID recorded in the status which should serve the requirement!

[2021-08-06 07:34] Jeinhaus opened #572 "http-endpoint and metrics server seem not to be working in snapshot-controller"
Hi,
I just tried to enable the http-endpoint on the `snapshot-controller:v4.1.1` deployment as described [in the docs](https://github.com/kubernetes-csi/external-snapshotter/tree/v4.1.1#snapshot-controller-command-line-options). The resulting manifest currently looks like this:

[code]

The logs indicate that the server was started:

[code]

But when i port-forward port `8080` I get the following

[2021-08-06 13:15] xing-yang commented on #572
@ggriffiths can you take a look?

[2021-08-06 13:56] ggriffiths commented on #572
Hi @Jeinhaus - it seems the snapshot controller doesn't setup the leader election healthcheck you're looking for. Only the snapshotter sidecar seems to [setup this endpoint](https://github.com/kubernetes-csi/external-snapshotter/blob/5e46b4bceb0057dee4a4722e4f79fb24302d3e8a/cmd/csi-snapshotter/main.go#L236). @xing-yang, do we want to add this healthcheck endpoint to the snapshot controller? `/heal

[2021-08-06 21:26] xing-yang commented on #572
@ggriffiths Looks like that's missing.  Yes, we should add this.

[2021-08-07 05:21] Jeinhaus commented on #572
You are right. The metrics work as expected after a snapshot was created. I'm sorry. I was sure I looked at the metrics after creating a snapshot.
The leader-election endpoint would still be great to have I think.

[2021-08-09 12:51] ggriffiths commented on #572
No problem @Jeinhaus! Yes agreed, it would be nice to have that. I'll send a PR to fix this.
/assign @ggriffiths

[2021-08-10 21:58] #572 closed

[2021-08-11 11:42] humblec commented on #567
@xing-yang @yuxiangqian if we are fine to add a new field in `status` something like `DataSourceUID` or similar , I can work on the same . Please share your thoughts.

[2021-08-11 12:44] xing-yang commented on #567
@humblec This is an API change.  Need to go thru lots of discussions first.

[2021-08-11 15:51] humblec commented on #567
Sure. nw, lets get consensus first . Thanks @xing-yang

[2021-08-11 23:22] nearora-msft commented on #484
/assign

[2021-08-13 00:34] mkimuram opened #577 "Add CSI secret templates as annotation in volumeSnapshotContent"
There was a discussion in the meeting on PVC/Snapshot transfer about the model that __operation on volumeSnapshotContent should not rely on information in SnapshotClass after volumeSnapshotContent is created__. The reason for it is that SnapshotClass can be changed/deleted after the volumeSnapshotContent is created, as a result, the controllers might not rely on the current information in Snapshot

[2021-08-15 07:49] yuxiangqian commented on #567
Per discussion in the data protection working group:
1. There is way to make the connection, not ideal however but for example snapshot content resource has reference to underlying volume id, which can also potentially be used to match against underlying PV's volume ID.
2. The main use case here is that end users of VolumeSnapshot feature to be able to trace back the origin PVC.
a further discussi

[2021-08-16 11:05] humblec commented on #567
Thanks @yuxiangqian for summarizing the discussion.

True, there is a way to map the `volumeID` of the PV ( which indirectly could help to map the pvc) , however it is bit tedious.

Steps required to get the mapping of PVC and snapshot looks something like below;

1. We need to get the volumesnapshot resource to get the volumeSnapshotcontent name.
2. Then we need to get volumesnapshotContent resou

[2021-08-19 12:56] xing-yang commented on #577
We are not depending on SnapshotClass after VolumeSnapshotContent is created.  Deletion secret is added to content as annotation and that will be used at deletion time.

[2021-08-19 14:17] jsafrane opened #580 "v4.2.0 snapshot-controller stops working after a while"
As seen in CI, snapshot-controller stops processing VolumeSnapshots after a while. For example, [this CI run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-1-21-on-kubernetes-master/1428003887222099968) failed to delete a few VolumeSnapshotContents, however, [the controller](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-csi-1-21-on-kubernetes-master/1

[2021-08-19 14:19] jsafrane commented on #580
Looking at the snapshot-controller container, all its `snapshotWorker` goroutines get stuck at:

[code]

[2021-08-19 14:21] jsafrane commented on #580
This goroutine looks suspicious:

[code]

Both `RecordMetrics` and `recordCancelMetric` want to acquire the same mutex in the same goroutine. Mutexes are not recursive in go and therefore `recordCancelMetric` gets stuck, holding the mutex.

[2021-08-19 16:12] jsafrane commented on #580
/assign

[2021-08-19 16:18] jsafrane commented on #580
/priority critical-urgent
I can deadlock snapshot-controller by just running Kubernetes tests in parallel.

[2021-08-19 16:20] jsafrane commented on #580
cc @ggriffiths @xing-yang see above, we may need a new patch release soon-ish. v4.2.0 is not really usable in my test environment. See #581 for a simple fix, I hope I got the right deadlock.

[2021-08-19 17:01] #580 closed

[2021-08-23 14:24] xing-yang commented on #368
/remove-lifecycle stale

[2021-08-26 11:10] #516 closed, assigned to Kartik494

[2021-08-31 08:50] yokowu commented on #377
@eyinwag I have encountered the same problem. May I ask, how did you solve the problem?

[2021-09-02 22:09] ggriffiths commented on #467
/remove-lifecycle rotten

[2021-09-02 22:10] ggriffiths commented on #151
/remove-lifecycle stale

[2021-09-08 09:51] lajiao117 opened #587 "missing required field "signerName"
use the deploy sh :https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/webhook-example/create-cert.sh

As im using the newest kubernetes Version 1.22.0 i have to use the apiVersion certificates.k8s.io/v1 instead of certificates.k8s.io/v1beta1. After deployment of webhook-create-signed-cert.sh i got this failure:

Warning: certificates.k8s.io/v1beta1 CertificateSign

[2021-09-08 12:18] xing-yang commented on #587
If you use `apiVersion: certificates.k8s.io/v1` in the script, does it work?

[2021-09-08 14:56] xing-yang commented on #587
We should update "https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/webhook-example/create-cert.sh" to use "apiVersion: certificates.k8s.io/v1" instead.

[2021-09-08 19:25] Kartik494 commented on #587
/assign

[2021-09-09 02:19] Kartik494 commented on #587
@lajiao117 Thanks for Suggestions i have created a PR for the same

[2021-09-09 06:39] lajiao117 commented on #587
I use csr v1 and use this signerName: kubernetes.io/kube-apiserver-client ，the webhook logs this err:
2021/09/09 06:30:21 http: TLS handshake error from 10.244.0.0:30789: remote error: tls: bad certificate

i use csr v1beta1, it works well

[2021-09-09 06:40] lajiao117 commented on #587
@Kartik494

[2021-09-09 07:16] Kartik494 commented on #587
I have checked on my environment here i got the error as  `error: unable to recognize "STDIN": no matches for kind "CertificateSigningRequest" in version "certificates.k8s.io/v1beta1"
`  even after adding `signerName` field . For this to work in my environment i need to use `v1` and use field `signerName` to get the expected output

[2021-09-09 07:18] Kartik494 commented on #587
@xing-yang Could you please take a look here and validate this.
Thanks

[2021-09-11 17:13] #487 closed

[2021-09-14 04:54] Sg-23 opened #590 "Unable to create volume snapshot"
I am facing issue while creating a volume snapshot of pvc on Openshift cluster v4.6.29 .

I am unable to create volume snapshot with the following error in events :
Waiting for a snapshot test-project/k10-csi-snap-vtmhd4spq2bxc6rt to be created by the CSI driver.

The provisioner for the pv is rook-ceph.rbd.csi.ceph.com.

[2021-09-14 12:09] xing-yang commented on #590
What is the "Provisioner" field in StorageClass?
Did you provide a VolumeSnapshotClass?  What is the "Driver" field in VolumeSnapshotClass?

[2021-09-14 12:56] Sg-23 commented on #590
"Provisioner" field in StorageClass is rook-ceph.rbd.csi.ceph.com
yes i have provided VolumeSnapshotClass.
"Driver" field in VolumeSnapshotClass is rook-ceph.rbd.csi.ceph.com

[2021-09-14 13:35] xing-yang commented on #590
Who is the maintainer of this CSI Driver rook-ceph.rbd.csi.ceph.com?  Can you ask them to take a look of the logs?

[2021-09-15 06:17] Kartik494 commented on #590
@Sg-23 I think you can check with status of your pvc and [volumesnapshotclass](https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/master/examples/kubernetes/snapshotclass-v1.yaml) otherwise this operation run successfully , or as suggested by xing you can ping for maintainer of CSI Driver rook-ceph.rbd.csi.ceph.com to take a look on this

[2021-09-15 14:53] Madhu-1 commented on #590
@Sg-23 please open an issue with https://github.com/rook/rook with logs I can take a look at it.

[2021-09-16 04:14] Sg-23 commented on #590
@Madhu-1 I have opened an issue with rook.
[Issue](https://github.com/rook/rook/issues/8728)

[2021-09-16 04:17] Madhu-1 commented on #590
@Sg-23 feel free to close this issue

[2021-09-16 04:30] Sg-23 commented on #590
ok thanks

[2021-09-16 04:30] #590 closed

[2021-09-17 15:26] xing-yang commented on #587
@lajiao117 can you verify if this PR has fixed the problem for you?  https://github.com/kubernetes-csi/external-snapshotter/pull/588

[2021-09-17 15:36] lajiao117 commented on #587
@xing-yang the PR didn't fix the problem,i use the PR script ,the webhook logs this err:
2021/09/09 06:30:21 http: TLS handshake error from 10.244.0.0:30789: remote error: tls: bad certificate, so i switched to the old v1beta1 version

[2021-09-17 15:51] xing-yang commented on #587
@lajiao117 I thought v1beta1 is no longer supported in k8s v1.22.  I don't know how it can work for you?  Can you share the script you used?

[2021-09-17 16:07] lajiao117 commented on #587
@xing-yang i just use https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/webhook-example/create-cert.sh,
cat <<EOF | kubectl create -f -
apiVersion: certificates.k8s.io/v1beta1
kind: CertificateSigningRequest
metadata:
  name: ${csrName}
spec:
  groups:
  - system:authenticated
  request: $(cat ${tmpdir}/server.csr | base64 | tr -d '\n')
  usages:
  - digital sign

[2021-09-17 16:30] lajiao117 commented on #587
@xing-yang i tried other CertificateSigningRequest also(https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/), but can't  fix the problem

[2021-09-17 17:03] xing-yang commented on #587
So if the existing script work for you in 1.21.2, then you can continue to use it.  What is the problem we need to fix?

[2021-09-17 17:05] lajiao117 commented on #587
i need to use it in 1.22+,my users may use the k8s v1.22+

[2021-09-17 17:06] xing-yang commented on #587
Do you have an environment in 1.22?

[2021-09-17 17:07] lajiao117 commented on #587
yes, but the exists script can't be use in v1.22+

[2021-09-17 17:08] xing-yang commented on #587
Have you tested PR #588 in v1.22?

[2021-09-17 17:09] lajiao117 commented on #587
i tested in v.21, i will try it in the v1.22 tomorrow

[2021-09-17 17:12] lajiao117 commented on #587
certificates.k8s.io/v1beta1 CertificateSigningRequest is deprecated in v1.19+, unavailable in v1.22+; use certificates.k8s.io/v1 CertificateSigningRequest

the v1 version is supported in  k8s v1.21 2 @xing-yang

[2021-09-17 17:17] xing-yang commented on #587
@Kartik494 Can you investigate why your PR does not work in K8S v1.21.2?

[2021-09-20 05:21] anshulahuja98 commented on #213
/reopen

[2021-09-20 05:23] anshulahuja98 commented on #213
Hi @xing-yang / @humblec / @wing328
Is there any update wrt this issue?
We were planning to generate csharp client code from the swagger for Volumesnapshot/snapshotcontent etc using https://github.com/kubernetes-client/gen

Is there any alternative for it for now?

[2021-09-21 14:46] anshulahuja98 commented on #213
I can't do that without swagger right. Or is there some way that it can be done using CRD YAML.

[2021-09-22 05:33] andyzhangx commented on #213
/reopen

[2021-09-22 05:34] andyzhangx commented on #213
/remove-lifecycle stale

[2021-09-22 08:05] Kartik494 commented on #587
@xing-yang Sure i will investigate and let you know on this

[2021-09-27 20:59] ggriffiths commented on #525
/remove-lifecycle stale
working on this issue now.

[2021-09-28 07:32] mowangdk opened #591 "Could we add VolumeSnapshot name & namespace in DeleteSnapshot & GetSnapshotStatus interface?"
we want to use these infos in ```ListSnapshots``` & ```DeleteSnapshot``` methods for check custom labels in VolumeSnapshots. Is it possible to pass this information like the ```CreateSnapshot``` interface?

[2021-09-28 10:13] Kartik494 commented on #587
Hi @lajiao117 @xing-yang  , I have Checked in my environment on both the versions 1.21.2 and 1.22.
When i use version 1.21.2 with csr `v1beta1` with or without `signername` then it is running successful.But in case when i have to run csr as `v1` then i need to provide signername also.The signername you provide in issue description running fine in my environment too.
And from k8s enviorment 1.22+

[2021-09-28 10:19] Kartik494 commented on #587
@lajiao117 from k8s 1.22+ we need to use csr as `v1` .If you want to run in on k8s < 1.22 then you can use csr as `v1beta1` or `v1`. But when you use csr as `v1` then then you make sure you must provide `signername` and when you are using csr as `v1beta1` then providing `signername`  seems optional to me. Can you try with this in your environment?
Thanks!

[2021-09-28 10:48] lajiao117 commented on #587
@Kartik494  i know the  k8s 1.22+ need to use crr v1 and tried, but i don know which signername  i should choose

[2021-09-28 10:52] Kartik494 commented on #587
@lajiao117 i don't have exact idea on this as of now.But the `signerName: kubernetes.io/kube-apiserver-client` you described in the issue description works fine for running the script and testing.You can use this to test.
Thanks

[2021-09-28 10:56] noamgreen opened #592 "snapshot from pvc is getting failed"
HI
try to restore Vol from snapshot using external-snapshotter and getting this error

" ebs-csi-controller-574c8fb7bf-4mfjb csi-provisioner W0928 10:43:31.003139       1 warnings.go:70] snapshot.storage.k8s.io/v1beta1 VolumeSnapshot is deprecated; use snapshot.storage.k8s.io/v1 VolumeSnapshot
ebs-csi-controller-574c8fb7bf-4mfjb csi-provisioner W0928 10:43:31.003224       1 controller.go:958] Retr

[2021-09-28 11:04] lajiao117 commented on #587
@Kartik494 i used  `signerName: kubernetes.io/kube-apiserver-client` the webhook logs this err:
2021/09/09 06:30:21 http: TLS handshake error from 10.244.0.0:30789: remote error: tls: bad certificate

[2021-09-30 09:16] Kartik494 commented on #587
@lajiao117 it's strange why this is not working in your environment and i think this error is not related to `signerName`. you could investigate on this. Else it's seems fine for me. @xing-yang Could you please check in your environment for clarification. Thanks

[2021-10-04 04:48] astraw99 opened #595 "`VolumeSnapshotContentStatus` field type inconsistency"
When get a ready `VolumeSnapshotContentStatus`: `kubectl get volumesnapshotcontent snapcontent-xxx -oyaml`
got follows output:
[code]

To be consistent with `VolumeSnapshotStatus`:
the `creationTime: 1633315996000000000` should be like `creationTime: "2021-10-04T02:53:16Z"`
the `restoreSize: 536870912000` should be like `restoreSize: 500Gi`

[2021-10-04 19:16] xing-yang commented on #477
/remove-lifecycle stale

[2021-10-05 23:34] #525 closed

[2021-10-14 08:44] byjos opened #598 "volumesnapshots READYTOUSE：false"
hello,I installed csi driver followed https://fuckcloudnative.io/posts/kubernetes-storage-using-ceph-rbd/
k8s version：v1.18.8
ceph version：14.2.22
snapshotter version ：2.1
When I create a volumesnapshots,my volumesnapshot is always showing READYTOUSE: false
![image](https://user-images.githubusercontent.com/25920168/137281070-fce1701c-bef7-443c-ba4a-59575408d9a0.png)
If further info can be helpful

[2021-10-14 15:53] xing-yang commented on #595
As discussed in the PR, this works as designed.

[2021-10-14 15:56] xing-yang commented on #592
What is the version of external-provisioner?

[2021-10-15 03:32] #595 closed

[2021-10-20 03:39] mowangdk commented on #591
We are using the method you mentioned.  but why didn’t we add a params(map) to the interfaces?

[2021-10-20 13:32] xing-yang commented on #591
Snapshot_id is enough to identify the snapshot on the storage system. Why do you need additional parameters?

[2021-10-22 03:37] #523 closed

[2021-10-28 09:35] zhucan opened #602 "If "update" no longer use, should we cleanup it?"
https://github.com/kubernetes-csi/external-snapshotter/blob/caef201192f6e4c748fa8d67b8de3886d3bb3997/deploy/kubernetes/csi-snapshotter/rbac-csi-snapshotter.yaml#L38

[2021-10-29 13:31] robbie-demuth opened #603 "Short names for Volume Snapshot CRDs"
Kubernetes CRDs support defining [short names](https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/custom-resource-definition-v1/#CustomResourceDefinitionSpec) - allowing users to run, for example, `kubectl get vs` instead of `kubectl get volumesnapshot`. The names of the Volume Snapshot CRDs are quite long:

* `VolumeSnapshot`
* `VolumeSnapshotContent`
* `VolumeSnapshotClass`

Pr

[2021-11-01 06:25] zhucan commented on #602
@xing-yang

[2021-11-01 15:17] xing-yang commented on #602
@ggriffiths Do we still use "update" in some places?

[2021-11-01 16:48] ggriffiths commented on #602
Yes, we still use Update in a number of places for now. If we run into more update errors, we can replace the rest with patch.

[2021-11-03 23:17] Xyaren commented on #551
/remove-lifecycle stale

[2021-11-05 18:04] #528 closed

[2021-11-08 08:59] itspngu opened #605 "Kustomize manifests for CRDs and snapshot controller?"
This repository is not very GitOps-friendly. While building and maintaining a Helm chart as suggested in #551 might be something that's not very high on the priority list, adding `kustomization.yaml` files to a few directories is neither a huge task nor does it require maintenance, and it would (at least for me and likely other users of automation frameworks like FluxCD) pretty much achieve the sa

[2021-11-10 00:54] xing-yang commented on #484
/remove-lifecycle stale

[2021-11-11 15:26] pabrahamusa commented on #592
I am facing the same issue from EKS 1.20 snapshotter v4.2.1 . I am trying to create a PVC from snapshot

[code]

Error:

1 snapshot_controller.go:223] Failed to get snapshot class ebs-csi-aws for snapshot content pvc-snapshot: volumesnapshotclass.snapshot.storage.k8s.io "ebs-csi-aws" not found
ebs-csi-controller-74b4f95f5c-b8wsc csi-snapshotter E1111 15:19:59.969451       1 snapshot_controller.go:

[2021-11-11 16:30] pabrahamusa commented on #592
I see that I was missing the following but adding it still not resolving the issue

[code]

[code]

[code]

[2021-11-11 17:31] pabrahamusa commented on #592
I found that my csi-snapshotter was using old image so I updated it to v4.2.1 and now VolumeSnapshotContent seems to be populated correctl but not VolumeSnapshot

[code]

[code]

[2021-11-11 20:52] xing-yang commented on #587
@lajiao117 Can you comment whether this PR #588 fixed your problem?

[2021-11-11 22:53] #603 closed

[2021-11-11 23:45] pabrahamusa commented on #592
Finally found the issue was around awb-ebs-csi-driver external-snapshotter , I have to install the controller separately and everything started working fine

[2021-11-12 04:55] lajiao117 commented on #587
@xing-yang yes, i used that,it works well

[2021-11-12 05:06] Kartik494 commented on #587
@lajiao117 I think it's better to keep it open for now.We could wait for PR to be merged

[2021-11-12 05:08] lajiao117 commented on #587
ok, @Kartik494

[2021-11-12 10:25] shrac commented on #533
Hi, ran into this issue while there was a permissions issue and create snapshot call has failed. Attached logs (enabled verbose logging in snapshotter) if they might help.

[snapshotter_logs.txt](https://github.com/kubernetes-csi/external-snapshotter/files/7526825/snapshotter_logs.txt)

I see an `enqueued "snapcontent-c5a12581-b9c7-430e-9c61-9bcb576a60d4" for sync ` everytime as part of `setAnnVol

[2021-11-15 04:58] anshulahuja98 commented on #533
+1
The controller seems to be in a bad state, and can bring the cluster health by throttling the vendor APIs

@ggriffiths  any update on this fix?

[2021-11-15 18:46] ggriffiths opened #610 "Update deploy images with v5.0.0 once released"
Update snapshot-controller and snapshotter images to v5.0.0

[2021-11-15 18:51] ggriffiths commented on #610
/assign @ggriffiths

[2021-11-15 23:10] ggriffiths commented on #533
Yes, that is the same issue @shrac. I'm looking into the root cause of this issue, no update yet.

[2021-11-16 05:53] zhucan opened #611 "Remove protecton finalizer from volume snapshot failed."
**snapshot controller logs print::**
I1116 05:30:30.132034       1 snapshot_controller.go:1524] Removed protection finalizer from volume snapshot default/new-snapshot-demo
![image](https://user-images.githubusercontent.com/13997135/141928585-6d050595-cb10-40bd-ac84-622f929e4e1a.png)

**print the snapshot:**
kubectl get vs new-snapshot-demo -o yaml
apiVersion: snapshot.storage.k8s.io/v1
kind: Volum

[2021-11-16 05:54] zhucan commented on #611
@xing-yang

[2021-11-17 22:01] #587 closed

[2021-11-18 06:55] andyzhangx opened #614 "request a new release for arm64 support"
current master branch should already supports arm64 build, need to cut a new release for arm64 support
@xing-yang thanks.

[2021-11-18 18:52] xing-yang commented on #614
Can you wait until 1.23 release?  There's a RC build: https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v5.0.0-rc1.  Can you use that first?

[2021-11-18 18:53] xing-yang commented on #614
We use RC images for CI now:
https://github.com/kubernetes-csi/external-snapshotter/commit/d880aa1a741131855306aa8567456f18f4c49c93

[2021-11-19 02:35] andyzhangx commented on #614
sure, thanks.

[2021-11-22 02:13] zhucan opened #615 "Rename "KUBE_NODE_NAME" to "NODE_NAME""

[2021-11-22 02:13] zhucan commented on #615
/assgin @zhucan
CC @xing-yang

[2021-11-22 02:15] zhucan commented on #615
/assign @zhucan

[2021-11-24 15:28] xing-yang commented on #533
Does this still happen with the latest code in the master branch?

[2021-11-25 20:13] LarsBingBong opened #620 "No resource limits in the snapshot controller"
I can see that there are no resource limit section in the workload spun up by [this deployment](https://github.com/kubernetes-csi/external-snapshotter/blob/release-4.2/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml).

Is that on purpose?

I have a Kubernetes linting tool warning me of this and in general, I thought this to be a best practice. Or is that a special case?

Looki

[2021-11-27 06:08] Kartik494 commented on #620
@LarsBingBong Could you describe here warnings you got for not having resource limit in deployment file?

[2021-11-27 20:24] LarsBingBong commented on #620
Sure ... I'm using [datree]() a Kubernetes YAML linter and quality tool. The warning I get is:

[code]

This output can be seen in the console of my IDE as Datree executes as part of a git pre-commit hook.

Also, I got [this](https://kubernetes.slack.com/archives/C8EJ01Z46/p1637958487158200?thread_ts=1637918140.157800&cid=C8EJ01Z46) very telling and good answer over on Slack. Mr. Patrick Ohly answ

[2021-11-29 15:44] xing-yang commented on #620
Add this issue here for reference: https://github.com/kubernetes-csi/csi-driver-host-path/issues/47

[2021-11-29 22:37] #605 closed

[2021-12-01 16:14] xing-yang commented on #533
@anshulahuja98 The following error should not occur any more with the code in the master branch.

[code]

@ggriffiths This should be fixed with the "patch" fix?

[2021-12-01 16:21] anshulahuja98 commented on #533
Can you point me to the PR that fixed it? I am not very clear as to what fixed it.
And when can we expect the new release with the required fix.
Current version is 4.2.1 from August

[2021-12-01 16:23] anshulahuja98 commented on #533
cc @andyzhangx  @shrac

[2021-12-01 22:58] xing-yang commented on #151
@ggriffiths I thought you've already added e2e tests for this.  Are there still remaining items?

[2021-12-01 22:59] xing-yang commented on #467
/remove-lifecycle stale

[2021-12-01 23:49] xing-yang commented on #533
@anshulahuja98 This following PR changes "update" to "patch". That reduces the error "the object has been modified".
https://github.com/kubernetes-csi/external-snapshotter/pull/526

[2021-12-02 00:49] ggriffiths commented on #533
There are two issues being discussed here:
1. Object has been modified issue:
[code]
This has been fixed for all common cases in snapshotter master, which will be in v5.0.0. The version v4.2.1 will not have this fix.

2. #533 - this issue is unrelated to the above error. I've reproduced it in master without the `object has been modified error`. The object are constantly being re-queued without bac

[2021-12-02 01:10] ggriffiths commented on #151
We can close this

[2021-12-02 03:34] #151 closed

[2021-12-04 14:10] #543 closed

[2021-12-04 14:40] pando85 commented on #543
Reopen it? This is enough interesting. At least making it compatible with cert-manager output.

[2021-12-06 13:09] xujianhai666 opened #624 "checkandUpdateContentStatusOperation will createSnapshot again and over again if vendor create snapshot is not idempotent"
test my vendor snapshot api， when apply snapshot.yaml, I found my api received many create snapshot request from my vendor, that is stanger, I deep into code, and found that if snapshot status is not ready, snapshotter sidecar will call method createSnapshotWrapper forever, which cause my create snapshot api high qps
    In my opinion, snaoshotter sidecar should call GetSnapshotStatus to get ready

[2021-12-06 13:33] xing-yang commented on #624
The CreateSnapshot RPC is required to be idempotent. If a driver does not support idempotency, it should be fixed to support it.
One important reason we decided to call CreateSnapshot instead of ListSnapshots is because ListSnapshots is optional. It is possible for a driver to support CreateSnapshot but not ListSnapshots, while it is not possible for a driver to support ListSnapshots but not Creat

[2021-12-15 03:32] cwyj opened #629 "can not delete VolumeSnapshot and VolumeSnapshotContent after deleting VolumeSnapshotClass still happen"
version info:
csi-provisioner:v2.0.4
csi-snapshotter:v3.0.2
snapshot-controller:v3.0.3

snapshot-controller error log:
snapshot_controller_base.go:192] Failed to sync snapshot "default/new-snapshot-test", will retry again: snapshot controller failed to update new-snapshot-test on API server: failed to update object (Update for snapshot.storage.k8s.io/v1beta1, Kind=VolumeSnapshot) managed fields: f

[2021-12-15 07:25] Jainbrt opened #630 "setup-controller image are not sync with release setup-snapshot-controller.yaml file"
Steps to reproduce :

1. Downloaded below  setup-snapshot-controller.yaml file for v4.2.1 release

https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v4.2.1/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml

2. Check the k8s.gcr.io/sig-storage/snapshot-controller image

it shows version v4.2.0, while it should match to 4.2.1.

Expected behavior :

[code]

Impa

[2021-12-16 01:30] xing-yang commented on #630
@SmruthiManjunath can you take a look of this?

[2021-12-16 01:37] SmruthiManjunath commented on #630
"/assign"

[2021-12-16 01:37] SmruthiManjunath commented on #630
/assign

[2021-12-17 17:16] pkit opened #632 "Nor clear if csi-snapshotter is needed and when, not to mention the weird namespacing"
It's not clear from the docs what's the purpose of `csi-snapshotter` `StatefulSet` and how it should be configured.
Is it needed for `ebs` driver or not for example?

[2021-12-17 21:53] smanjunath3 commented on #630
/assign

[2021-12-22 03:05] #615 closed

[2021-12-25 14:05] #484 closed

[2021-12-31 14:41] PSjoe opened #637 "docker image for snapshot-validation-webhook:v5.0.0 is not present"
There appears to be no docker image for the web hook 5.0.0 release:

[code]

The release tag docs suggest there should be:  https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v5.0.0

[2022-01-01 13:27] xing-yang commented on #637
For some reason, the snapshot validation webhook image for v5.0.0 was not automatically created.  I'm still investigating.  For now, please use v5.0.0-rc1 or v4.2.1.

[2022-01-02 15:11] #566 closed

[2022-01-03 14:32] xing-yang commented on #477
/remove-lifecycle stale

[2022-01-05 05:00] astraw99 opened #638 "Validation-webhook of `v1beta1.VolumeSnapshotContent` not work"
In my cluster, the VolumeSnapshotContent version is:
[code]

the client lib is: `github.com/kubernetes-csi/external-snapshotter/client/v4 v4.2.0`
K8s Client Version: `v1.21.0`, Server Version: `v1.18.4-tke.3`

Issue is:
we can edit the immutable fields like `snapcontent.Spec.Source.VolumeHandle` or `snapcontent.Spec.Source.SnapshotHandle`, by kubectl or apiserver update request and response OK.

P

[2022-01-07 10:15] jsafrane opened #639 "RestoreSize should be nil instead of zero"
When a CSI driver returns `CreateSnapshotResponse.snapshot.size_bytes = 0`, it says that the [the snapshot size is unspecified](https://github.com/container-storage-interface/spec/blob/5b0d4540158a260cb3347ef1c87ede8600afb9bf/csi.proto#L1140).

External-snapshotter (and perhaps the snapshot-controller too) copies this zero to VolumeSnapshotContent / VolumeSnapshot `status.RestoreSize`. But zero he

[2022-01-07 19:03] xing-yang commented on #637
Keep this open until the image is published.

[2022-01-07 21:18] xing-yang commented on #639
There's a gap between how we handle size in K8s vs the definition in CSI. Similarly, volume size is undefined when it is 0.
https://github.com/container-storage-interface/spec/blob/v1.5.0/csi.proto#L470
In external-provisioner, we ignore 0 returned by the driver and use whatever requested by the user because Kube API server does not support a 0 size:
https://github.com/kubernetes-csi/external-prov

[2022-01-08 01:40] xing-yang commented on #637
k8s.gcr.io/sig-storage/snapshot-validation-webhook:v5.0.0 is available now.

[2022-01-08 01:40] #637 closed

[2022-01-08 01:57] ggriffiths commented on #610
can close this now, right @xing-yang ?

[2022-01-08 02:24] xing-yang commented on #610
@ggriffiths Yes.

[2022-01-08 02:24] #610 closed

[2022-01-14 00:47] iyashu opened #644 "snapshot-controller shouldn't require read permissions for storage class resources"
As part of deploying snapshot controller in our K8s cluster, we were reviewing rbac permissions required by controller and noticed that [storage class read permissions](https://github.com/kubernetes-csi/external-snapshotter/blob/ea7834929a37af7af5b63a979001cdddc0372f4e/deploy/kubernetes/snapshot-controller/rbac-snapshot-controller.yaml#L27) are mentioned in [deployment recipes](https://github.com/

[2022-01-14 03:42] xing-yang commented on #632
That's just a deployment example. For ebs driver, you should take a look of the ebs driver doc and see what's recommended way to deploy.

[2022-01-14 03:45] xing-yang commented on #630
This is fixed.

[2022-01-14 03:45] #630 closed

[2022-01-14 09:25] pkit commented on #632
Thanks.
I found out that it's installed in ebs driver anyway.

Still I couldn't find any docs on how it should be used in all the specific cases.
It seems like the world didn't catch on to the split of `external-snapshotter` yet.

[2022-01-14 09:25] #632 closed

[2022-01-16 14:38] #577 closed

[2022-01-17 15:08] xing-yang commented on #632
We only provide a deployment example using CSI hostpath driver. For specific CSI drivers, driver maintainer will provide deployment steps. This is the same with all other CSI sidecars.
https://github.com/kubernetes-csi/csi-driver-host-path#csi-hostpath-driver

[2022-01-19 02:26] andyzhangx opened #646 "snapshot controller v4.2.1 crash due to fail list v1 volumesnapshots to invalid group/version: snapshot.storage.k8s.io/v1alpha1"
snapshot controller v4.2.1 crash due to fail list v1 volumesnapshots to invalid group/version: snapshot.storage.k8s.io/v1alpha1

@xing-yang any guide about how to mitigate this issue? I believe user has installed `snapshot.storage.k8s.io/v1alpha1` crds and created related object and we could not find those `v1alpha1` CRDs any more.

To mitigate this issue, shall we install `snapshot.storage.k8s.io

[2022-01-19 03:10] xing-yang commented on #646
We documented that user should delete snapshots created using v1alpha1 CRD and uninstall v1alpha1 CRD before upgrading to v1beta1:
https://github.com/kubernetes-csi/external-snapshotter#upgrade-from-v1alpha1-to-v1beta1

I'm not sure if there are better approaches.

[2022-01-19 03:12] xing-yang commented on #646
Yes, you could manually install v1alpha1 CRDs and delete them manually.  You can take a look of earlier docs.

[2022-01-19 04:25] andyzhangx commented on #646
@xing-yang do you know where v1alpha1 CRDs are? I could not find it under https://github.com/kubernetes-csi/external-snapshotter/tree/v1.2.2/deploy/kubernetes

[2022-01-19 04:31] Madhu-1 commented on #646
It was getting created by the external snapshotter https://github.com/kubernetes-csi/external-snapshotter/blob/b3f591d85cce516e431c70e5337d5c67611ae2fe/cmd/csi-snapshotter/create_crd.go#L28

[2022-01-20 03:10] zhucan commented on #533
@ggriffiths How to set the backoff to the snapshot-controller?

[2022-01-20 18:30] ggriffiths commented on #533
Retry flags are defined here:
https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/csi-snapshotter/main.go#L85-L86

[2022-01-21 01:43] xing-yang commented on #368
/remove-lifecycle stale

[2022-01-21 01:44] xing-yang commented on #368
@ggriffiths Do we still need to keep this issue open?

[2022-01-21 08:58] zhucan commented on #533
@xing-yang @ggriffiths Maybe ecause of the https://github.com/kubernetes-csi/external-snapshotter/blob/c3585a99384ce2fba588e9b05c9b227ad7259796/pkg/sidecar-controller/snapshot_controller.go#L328 to update the snapshotcontent.

After the snapshot was created failed, it will to remove the "snapshot.storage.kubernetes.io/volumesnapshot-being-created"  and update the snapshotcontent.

[2022-01-21 09:04] zhucan commented on #533
![image](https://user-images.githubusercontent.com/13997135/150497761-27daf39f-802e-4013-93b7-e0242d1c4457.png)
If we don't remove the annotion "snapshot.storage.kubernetes.io/volumesnapshot-being-created" and not update the snapshotcontent, the retry interal is 1s. 2s, 4s, 8s,16s,32s,64s,128s,256s, 5min.

[2022-01-21 14:40] xing-yang commented on #533
I see.  So it is not really a normal requeue due to the failure but it is a new update that triggers the requeue.  If we don't remove the annotation "snapshot.storage.kubernetes.io/volumesnapshot-being-created" and don't update the snapshotcontent, how does the snapshotter know the creation has failed?  If the annotation is not removed, the snapshotter will think the storage system is still workin

[2022-01-21 14:43] xing-yang commented on #533
Another idea to explore is to compare the old obj vs the new obj when update is triggered. If the annotation "snapshot.storage.kubernetes.io/volumesnapshot-being-created" is the only thing being removed, maybe we don't need to go through CreateSnapshot again.

[2022-01-21 19:11] zhucan commented on #533
I agree it

[2022-01-21 19:22] ggriffiths commented on #368
No we can close this. If another simillar error comes up, we can open a new issue for any further update -> patch replacements.

[2022-01-22 04:21] #644 closed

[2022-01-22 12:38] Jainbrt opened #649 "setup-controller image are not sync with release setup-snapshot-controller.yaml file"
Steps to reproduce :

Downloaded below setup-snapshot-controller.yaml file for v5.0.1 release

https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v5.0.1/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml

Check the k8s.gcr.io/sig-storage/snapshot-controller image

it shows version v5.0.0, while it should match to 5.0.1.

Expected behavior :

[code]

[2022-01-24 02:23] zhucan commented on #533
If we can  only compare the annotations of the snapshotcontent, if they are different, we don't re-queue.

[2022-01-24 02:55] xing-yang commented on #533
I think we need to check if the annotation "snapshot.storage.kubernetes.io/volumesnapshot-being-created" is the only thing being removed and if that's the only change. If there are other changes, we still need to process it.

[2022-01-31 13:58] #649 closed

[2022-02-02 15:58] Xyaren commented on #551
/remove-lifecycle stale

[2022-02-11 20:37] bobbywatson3 commented on #638
I just encountered this behavior as well. I was able to change the `snapshotHandle` of a `VolumeSnapshotContent`. I expected this to raise an error. Instead, the `snapshotHandle` was changed in the installed kubernetes manifest, but it doesn't look like the underlying snapshot was changed. This was in use by a volumesnapshot that was associated with a PVC that was attached to a running pod, so I d

[2022-02-21 17:38] ctml91 opened #663 "VolumeSnapshot Storage Quota"
Hello!

Is it possible today (or in the future) for ResourceQuotas to support storage snapshots based on size as opposed to object count? For my purpose I don't particularly find setting the [ResourceQuota using object count](https://github.com/kubernetes-csi/external-snapshotter#setting-quota-limits-with-snapshot-custom-resources) for storage objects to be very useful (though I am sure it can be

[2022-02-23 13:34] xing-yang commented on #663
@ctml91 I looked at this long time ago, but didn't find a solution for it due to the challenges you've already discovered.  Storage Quota is not designed to consider CRDs, so there isn't a way to support snapshot quota currently.

[2022-02-23 13:57] xing-yang commented on #638
Both snapshot-validation-webhook v4.2.0 and v3.0.3 have logic to validate immutability:
[code]

Have you deployed snapshot-validation-webhook?  Can you share what image of snapshot-validation-webhook is deployed?  Please note that is a different image from snapshot-controller and csi-snapshotter.

[2022-02-23 19:44] ctml91 commented on #663
Thanks for your feedback @xing-yang !

Completely understand there might be some limitations in the design of quotas and/or volumesnapshots. Unfortunately it's above be level of understanding and I am surely oversimplifying, but is it not possible to extend the interface providing `requests.storage` from core to be consumed in a VolumeSnapshot that the `Quota` can pickup? Or is it not suitable for

[2022-02-24 15:08] #533 closed

[2022-02-25 10:39] dashjay commented on #646
Can we provide a converter help to migrate elegantly, as document of k8s: [Versions in CustomResourceDefinitions](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#webhook-conversion)

[2022-02-25 10:49] xing-yang commented on #646
We discussed about this in the past and decided not to support v1alpha1 conversion.

We documented that user should delete snapshots created using v1alpha1 CRD and uninstall v1alpha1 CRD before upgrading to v1beta1:
https://github.com/kubernetes-csi/external-snapshotter#upgrade-from-v1alpha1-to-v1beta1

[2022-02-25 10:51] dashjay commented on #551
I use helm chart 2.1.2 then I found that: old version of deployment can create crds(Related to volumesnapshot ) by them themselves.
Recently, our storage has been depleted, so we want to set up a new ceph cluster.

I found following questions:
 - new `csi-snapshotter` will not apply a crd into cluster,
 - and not any crds in helm chart.
 - I found that new crds remove the support for v1alpha1.

Be

[2022-03-01 18:57] ggriffiths commented on #602
/close

[2022-03-01 18:57] #602 closed

[2022-03-04 16:48] jsafrane opened #667 "Webhook to ensure single default VolumeSnapshotClass"
**Is your feature request related to a problem?/Why is this needed**

When users create two or more default VolumeSnapshotClasses, any subsequent VolumeSnapshot they create is then pending with `Failed to set default snapshot class with error 2 default snapshot classes were found` event.

It would be cool to have an admission webhook that would prevent creation / update of the second default Volum

[2022-03-04 16:50] jsafrane commented on #667
/help-wanted
This is quite standalone work that does not need to have detailed knowledge about external-snapshotter nor snapshot-controller. And there is an existing [snapshot-validation-webhook](https://github.com/kubernetes-csi/external-snapshotter/tree/master/cmd/snapshot-validation-webhook) + its deployment files that can be used as a good example.

[2022-03-04 16:52] jsafrane commented on #667
/help

[2022-03-04 19:24] shawn-hurley commented on #667
@jsafrane I would like to take this on, is there any need for a KEP or something or do you imagine the webhook would live in this repo?

[2022-03-04 22:21] xing-yang commented on #667
@jsafrane How is this handled for default StorageClass?

[2022-03-06 05:18] #359 closed

[2022-03-07 09:12] jsafrane commented on #667
There is one open design question: shall it be part of the existing VolumeSnapshot validation webhook binary or a separate one? I'm inclined to put it into the existing one, but I don't have a strong opinion about it.

[2022-03-07 13:53] xing-yang commented on #667
I vaguely remember there was a reason to allow more than 1 default VolumeSnapshotClasses when we were developing that part of code.  I'll need to dig more into this.  @jingxu97 @yuxiangqian Do you remember anything about this?

[2022-03-11 03:38] xing-yang commented on #667
I found it.  We actually added notes in the VolumeSnapshotClass API to explain why multiple default VolumeSnapshotClasses may be needed.  See here:
https://github.com/kubernetes-csi/external-snapshotter/blob/v5.0.1/client/apis/volumesnapshot/v1/types.go#L85-L86

[2022-03-11 17:03] shawn-hurley commented on #667
@xing-yang does this mean that the validation has to check for a single default per-driver then?

[2022-03-11 18:52] xing-yang commented on #667
@shawn-hurley Yes.

[2022-03-13 09:42] #598 closed

[2022-03-21 03:56] #591 closed

[2022-03-28 08:37] crazytaxii opened #676 "Hung on deleting VolumeSnapshot and VolumeSnapshotContent"
**What happened**:
Hung on deleting VolumeSnapshot and VolumeSnapshotContent. The VolumeSnapshotContent shares the same `snapshotHandle` with another VolumeSnapshotContent(we call it VolumeSnapshotContent0) in cluster.

**What you expected to happen**:
VolumeSnapshot and VolumeSnapshotContent should be deleted successfully.

**How to reproduce it**:
1. snapshot-controller version: v4.0.0
2. Use an

[2022-03-28 14:32] crazytaxii commented on #676
VolumeSnapshotContent2 must be created with annotation:

[code]

a corresponding issue: https://github.com/kubernetes-csi/external-snapshotter/issues/251

[2022-03-28 14:32] #676 closed

[2022-03-28 15:24] 651juan opened #677 "Creating snapshot with pre-provisioned contents with different namespace outputs wrong error."
**What happened**:
Create snapshot content X with `volumeSnapshotRef` field and namespace: `one` . Create snapshot Y with namespace `two`. Error outputs `Failed to check and update snapshot: VolumeSnapshotContent [X] is bound to a different snapshot`

**What you expected to happen**:
A different error message such as "Snapshot not found"
**How to reproduce it**:

X snapshot content:
[code]
Y Snaps

[2022-03-28 15:37] 651juan commented on #677
Correction to the above, if the namespace of the `volumeSnapshotRef` is wrong this will happen. I will edit above.

[2022-03-29 09:32] blackpiglet opened #678 "Fail to delete VolumeSnapshotContent without VolumeSnapshot"
I'm using a Backup/Restore tools with CSI volume snapshot.

The current behavior of the B/R tools is using VolumeSnapshotContent as a place holder for future potential cleanup the snapshot on cloud provider, so in some cases, k8s clusters may only have VolumeSnapshotContent without VolumeSnapshot.

When deletion of the standalone VolumeSnapshotContent is triggered, only deletionTimestamp is added,

[2022-03-29 13:25] xing-yang commented on #678
Can you do a "kubectl describe" of the VolumeSnapshotContent?
Also can you provide logs from csi-snapshotter sidecar?

[2022-03-29 13:29] xing-yang commented on #678
By the way, do you try to "create" or "delete" VolumeSnapshotContent?  The issue title says "create" but the description talks about "delete".

[2022-03-29 15:01] 651juan commented on #677
Yes, I agree but the error message is not indicative of what actually happens. The error message states VolumeSnapshotContent [X] is bound to a different snapshot. This is not the case, the snapshot content is not bound to any snapshot...

[2022-03-30 06:28] Kartik494 commented on #678
Hi @xing-yang it seems like we don't have logic for `snapshot==nil` case but we are mentioning in the [comment](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L124-L126) that if we don't get snapshot from  `getSnapshotFromStore()` then it will check for `snapshot==nil` case. Should we proceed forward to add the condition for that cas

[2022-03-30 06:37] Kartik494 commented on #629
/remove-lifecycle stale

[2022-03-30 06:37] Kartik494 commented on #629
@cwyj Could you provide deployment yaml files you are using . so that i can check this in my environment.

[2022-03-30 17:40] xing-yang commented on #678
@Kartik494 I need to take a look at the logs first to understand what happened.

[2022-03-31 04:40] Kartik494 commented on #678
@xing-yang  yes , Sure thing.

[2022-03-31 12:49] Carlimeunier opened #681 "version 4.0.1 and version 5.0., which is the lastest release to use?"
Hello,

i am confused about the release version.

Actually, the 4.0.1is mentioned to be the last one but there is also 5.0.1. Which one is the good version?

Thanks

Carl

[2022-03-31 13:12] xing-yang commented on #681
A release is automatically labeled as "Latest" by Github based on the timestamp when the release was cut. Release 4.0.1 is a patch release on the stable branch release-4.0 to include a bug fix.  Release 5.0.1 is the one that includes the most recent new features.  So you should be looking at the version.  The higher the release version, the newer the code base.

[2022-04-04 01:47] xing-yang commented on #477
/remove-lifecycle stale

[2022-04-06 11:44] #667 closed

[2022-04-11 00:51] #592 closed

[2022-04-13 20:17] mconigliaro opened #695 "Unable to create PVC from snapshot on EKS 1.21+"
I'm following the instructions from [here](https://aws.amazon.com/blogs/containers/using-ebs-snapshots-for-persistent-storage-with-your-eks-cluster/) using the volume snapshot CRDs and volume snapshot controller from the 6.0 pre-release. Snapshots are created just fine, but when I try to create a new PVC from one, I get the following two errors:

This is on a recent version of EKS:

That `InvalidV

[2022-04-13 20:25] mconigliaro commented on #695
That `Parameters on this idempotent request are inconsistent with parameters used in previous request(s)` seems odd, but for what it's worth, I literally copied and pasted the original PVC to create the new one for the test restore. The spec is the same except for the addition of the `dataSource` to specify the source snapshot:

## Source PVC
[code]

## Test restore PVC
[code]

### How I created t

[2022-04-13 20:28] mconigliaro commented on #695
That `InvalidVolume.NotFound: The volume 'vol-00fb50f0f0c0da1a8' does not exist` also seems odd. Where is that volume id coming from? Is that the volume created from the snapshot? I noticed I get a new one every time I try this, but I never see a new volume appear in the AWS console.

[2022-04-13 21:12] mconigliaro commented on #695
Possibly related: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/1036

[2022-04-13 23:01] mconigliaro commented on #695
Sorry for the distraction. I now believe this was caused by using an old version of the IAM policy for the EBS CSI driver and use of encrypted volumes.

[2022-04-13 23:01] #695 closed

[2022-04-15 07:42] #611 closed

[2022-04-18 05:06] #614 closed

[2022-04-18 12:53] xing-yang commented on #213
/reopen

[2022-04-18 12:53] xing-yang commented on #213
/remove-lifecycle rotten

[2022-04-18 13:02] #102 closed

[2022-04-19 08:43] humblec commented on #213
will get this done. thanks.

[2022-04-21 19:41] ggriffiths commented on #368
/close

[2022-04-21 19:41] #368 closed

[2022-04-28 17:29] #620 closed

[2022-05-01 00:48] #467 closed

[2022-05-05 14:15] #624 closed

[2022-05-10 19:48] shawn-hurley opened #705 "Unable to deploy Webhook"
**What happened**:
The validation was unable to work because the container did not have the correct permissions
**What you expected to happen**:
The container to have the correct permissions
**How to reproduce it**:
attempt to deploy with the example for the webhook
**Anything else we need to know?**:

**Environment**:
- Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from

[2022-05-10 21:20] xing-yang commented on #374
/remove-lifecycle rotten

[2022-05-10 21:21] xing-yang commented on #374
/assign @shawn-hurley

[2022-05-12 10:59] #678 closed

[2022-05-20 14:01] #705 closed

[2022-05-24 20:50] xing-yang commented on #663
/remove-lifecycle stale

[2022-05-26 03:53] RaunakShah commented on #638
Potentially related to https://github.com/kubernetes-csi/external-snapshotter/issues/705?

[2022-05-26 14:13] xing-yang commented on #638
No, #705 is fixing the latest logic added to the webhook.  This was reported long before that logic was added.

[2022-05-26 19:05] mconigliaro opened #722 "User "system:serviceaccount:kube-system:snapshot-controller" cannot list resource "volumesnapshots" in API group "snapshot.storage.k8s.io" at the cluster scope"
I'm following the instructions here on a brand new AWS EKS cluster (`v1.22.6-eks-14c7a48`): https://docs.aws.amazon.com/eks/latest/userguide/managing-ebs-csi.html

When I deployed snapshot-controller from the `v6.0.1` tag, I noticed the following error in my `snapshot-controller-*` pod logs, which is preventing the deploy from succeeding:

`E0526 18:56:41.753296       1 main.go:87] Failed to list

[2022-05-26 19:11] mconigliaro commented on #722
I get the same error when using what's tagged with `v6.0.0` and `v5.0.1`.

[2022-05-26 19:26] xing-yang commented on #722
What RBAC rules have you installed?

[2022-05-26 19:38] mconigliaro commented on #722
I installed the following:

1. https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v6.0.1/client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
1. https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v6.0.1/client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
1. https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/

[2022-05-26 20:07] mconigliaro commented on #722
I think I figured it out. I'm using [kubectl_manifest](https://registry.terraform.io/providers/gavinbunney/kubectl/latest/docs/resources/kubectl_manifest) to apply these. I just noticed this:

`TIP: This resource only supports a single yaml resource.`

Your RBAC file contains many in the same document.

[2022-05-26 22:13] #722 closed

[2022-05-26 22:19] mconigliaro opened #723 "Incorrect image version in setup-snapshot-controller.yaml"
The image version in [setup-snapshot-controller.yaml](https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml) (e.g. `v5.0.1`) is out of sync with what's available in the [repository](gcr.io/k8s-staging-sig-storage/snapshot-controller) (e.g `v6.0.1`).

[2022-05-27 05:06] RaunakShah commented on #723
@mconigliaro would you like to create a PR to update the YAMLs?

[2022-05-27 16:24] nariman-maad commented on #551
Yes, helm is more convenient for automation.

[2022-06-01 03:24] astraw99 opened #725 "Snapshot validation webhook got `tls: bad certificate` error"
**What happened**:
When running the webhook(`deploy/kubernetes/webhook-example/webhook.yaml`) to test the validation logic,
with the image `k8s.gcr.io/sig-storage/snapshot-validation-webhook:v4.0.0` (our K8s version 1.18 only support v1beta1),
got error below:
[code]

**What you expected to happen**:
Run without TLS error, and easy to validate volumesnapshot resources with validation webhook local

[2022-06-02 12:28] saiharshitachava opened #726 "Is it possible to take snapshots of all pvc's available in cluster?"
Is it possible to take snapshots of all pvc's available in cluster? CAn I give a * on persistentVolumeClaimName which will take all pvc snapshots for me?

apiVersion: snapshot.storage.k8s.io/v1beta1
kind: VolumeSnapshot
metadata:
  name: test-snapshot
spec:
  volumeSnapshotClassName: test-snapclass
  source:
    persistentVolumeClaimName: ebs-claim

[2022-06-02 12:30] Madhu-1 commented on #726
No this is not possible. you need to create volumesnapshot object per pvc.

[2022-06-03 17:50] trallnag commented on #551
I agree that a Helm chart would be more convenient. Although I also see that maintaining a proper chart requires more resources. The charts provided by @WanzenBug work great btw.

[code]

[2022-06-06 10:16] humblec commented on #726
@saiharshitachava its 1:1 mapping , so regular expression like above is not supported. I am closing this one for now.. please feel free to reopen or create new issue.

[2022-06-06 10:20] humblec commented on #725
@astraw99 can you please try with a latest kube version ? 1.18 is an unsupported/old version by kube support policy (n-1 and we are runnig 1.24 atm )perspecitive.

[2022-06-06 22:04] #639 closed

[2022-06-13 14:01] itspngu opened #735 "Sample manifests deploy 2 replicas of snapshot-controller, only 1 is supported"
**What happened**:

Application of sample manifests configures a deployment/replicaset with 2 replicas

**What you expected to happen**:

Configuration of a deployment/replicaset with 1 replica

**How to reproduce it**:

[code]

**Anything else we need to know?**:

As per README.md:

**Environment**:
- Driver version: n/a
- Kubernetes version (use `kubectl version`): n/a
- OS (e.g. from /etc/os-re

[2022-06-13 19:40] ggriffiths commented on #735
Hi @itspngu - this is working as expected.

CSI sidecars and snapshot controller use leader election to elect one leader per deployment:
https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/snapshot-controller/main.go#L59

If deployed with 2+ containers and leader election is enabled, the non-leader containers will attempt to get the lease. If the leader container dies, the non-l

[2022-06-13 19:41] #726 closed, assigned to nobody

[2022-06-14 19:18] ggriffiths commented on #735
Agreed, that comment can be confusing.

I think what it's trying to say is that one deployment of the controller should exist per cluster. In contrast, the CSI Snapshotter sidecar must run once per CSI driver. The single snapshot controller deployment works for all CSI driver.

[2022-06-27 18:42] mattcary opened #736 "v6.0.1 controller seems to break k8s e2e tests"
See https://testgrid.k8s.io/sig-storage-kubernetes#volume-snapshot. The failures started after https://github.com/kubernetes/kubernetes/pull/110204 was merged, which updated the controller from v4 to v6.

Failures for the mock csi driver tests are due to the VolumeSnapshot not being ready, but the snapshot-controller logs show that the VolumeSnapshotContents are being marked as ready. Maybe someth

[2022-06-27 21:14] mattcary commented on #736
Ah... I was looking for error messages around that, but I guess the tests just aren't going to find the new resources.

[2022-06-28 04:01] humblec commented on #736
@mattcary @xing-yang shall I drop a PR to fix the same?

[2022-06-28 06:53] Kartik494 commented on #629
/remove-lifecycle stale

[2022-07-04 07:53] RaunakShah commented on #477
/remove-lifecycle stale

[2022-07-25 11:39] #646 closed

[2022-07-25 14:39] #638 closed

[2022-07-28 05:55] Kartik494 commented on #735
@ggriffiths  if i am not wrong , this behaviour to be updated in README ? Please let me know if anyone working on this , else i would like to give a try.
Thanks!!

[2022-07-28 17:45] ggriffiths commented on #735
Yes, let's update the readme to clarify that one deployment/leader controller should exist per cluster.

[2022-07-29 02:56] Kartik494 commented on #735
Sure i am assigning this issue and will update this.
/assign

[2022-08-02 18:47] #551 closed

[2022-08-02 19:11] david-kirby opened #738 "Add Github App to installed apps for this repo"
**Is your feature request related to a problem?/Why is this needed**

I'd like to request this repo add the GithubApp [found here](https://slack.github.com/) so that we can setup notifications for releases.

**Describe the solution you'd like in detail**

Adding the above app will help our admins stay up-to-date with releases of this add-on for our clusters.

**Describe alternatives you've conside

[2022-08-08 23:40] xing-yang commented on #374
/remove-lifecycle stale

[2022-08-11 00:00] kaovilai opened #745 "Validating webhook contains typo `exits`"
**What happened**:
This line contain `exits`
https://github.com/kubernetes-csi/external-snapshotter/blob/23ef3b5220e2f1182a1e7872db65741f2c6f9088/pkg/validation-webhook/snapshot.go#L193
**What you expected to happen**:

**How to reproduce it**:
Get this error.
**Anything else we need to know?**:

**Environment**:
- Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/

[2022-08-11 12:35] fische opened #747 "Deadlock when creating a PVC from a snapshot that's being deleted"
**What happened**:
So we have a setup where a snapshot gets updated quite often (every 30 minutes) and the way we do that is by simply deleting it and re-creating it. This is then used by [ephemeral PVCs](https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/) where many can be created or deleted in short periods of time.
However, at some point, one of those PVCs was created while the snap

[2022-08-11 12:55] xing-yang commented on #747
What is the version of snapshot-controller and csi-snapshotter sidecar?  Can you also provide logs?

[2022-08-11 15:21] #745 closed

[2022-08-11 15:42] fische commented on #747
I'll try to find the versions for you. As for the logs, unfortunately I don't have access to them, but I'm not sure they would be really helpful, as based on those error messages I shared and the code in [external-snapshotter](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L304-L309) and [external-provisioner](https://github.com/kube

[2022-08-11 16:12] #735 closed

[2022-08-12 10:22] fische commented on #747
If anyone gets blocked by this issue, it seems deleting the VolumeSnapshotContent tied to the snapshot will unblock the deletion, and recreating a new one after that will allow PVCs to be created.

[2022-08-12 11:54] ambiknai opened #748 "snapshot-controller logs report failure frequently"
**What happened**:

In our csi-driver snapshot controller logs shows below error. There is no impact on functionality. But there are too many of these errors.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**: I tested in IKs 1.22,1.23,1.24
- Driver version: Our csi driver is not GA
- Kubernetes version (use `kubectl version`)

[2022-08-12 14:28] xing-yang commented on #748
@ggriffiths Can you take a look?  These are from the "update" that are not replaced with "patch" in snapshot-controller.

[2022-08-19 16:10] alex0z1 opened #750 "6.0.1 release uses 5.0.1 image"
file `./deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml` in
https://github.com/kubernetes-csi/external-snapshotter/archive/refs/tags/v6.0.1.tar.gz

uses `gcr.io/k8s-staging-sig-storage/snapshot-controller:v5.0.1` image
should it be v6.0.1 ?

[2022-08-19 16:18] xing-yang commented on #750
The image v6.0.1 was built automatically when we cut the release v6.0.1. Therefore we updated the images in the deploy yaml file afterwards.  That is the reason why you see v5.0.1 in the tar file.
If we update the image version before the image was available, there is a risk that the image may never be available due to some build issues. This is rare but it did happen in the past.

[2022-08-24 12:14] vassav-nn opened #754 "Shortnames conflict"
**What happened**:
No resources found in default namespace.

**What you expected to happen**:
List of VirtualService

**How to reproduce it**:
kubectl get vs

**Anything else we need to know?**:

kubectl api-resources | grep vs
**virtualservices                   vs**                  networking.istio.io/v1beta1            true         VirtualService
volumesnapshotclasses             vsclass,vscla

[2022-08-24 21:12] ggriffiths commented on #748
Yes, there are many spots where we still use "update" instead of "patch":

Update:
[code]

UpdateStatus:
[code]

This error will still be hit in these scenarios. We reduced the major scenarios in https://github.com/kubernetes-csi/external-snapshotter/pull/526, but there is more work to be done. I'm happy to review a PR for this work.

[2022-08-24 21:12] ggriffiths commented on #748
/help

[2022-08-26 16:52] #677 closed

[2022-08-29 20:30] ggriffiths commented on #754
Unfortunately, there isn't much that can be done about this.

CRD short names aren't reserved, so any community CRD short name can conflict with another.

As a workaround, you can start setting up your cluster(s) with Instio CRDs first and install the snapshot CRDs second. This will allow Istio CRDs to claim the short name.

[2022-08-29 22:51] camartinez04 commented on #748
I've sent a [PR-757](https://github.com/kubernetes-csi/external-snapshotter/pull/757)

[2022-08-29 23:04] ggriffiths commented on #748
/assign @camartinez04

[2022-08-30 06:12] vassav-nn commented on #754
Or you can rename vs to vsn for example.

[2022-08-31 16:36] ggriffiths commented on #754
I'm assuming we wouldn't want to rename `vs` to `vsn` as that isn't backwards compatible, but will defer to @xing-yang .

[2022-09-02 00:03] xing-yang commented on #754
Right, we don't want to make backward incompatible changes.

[2022-09-04 11:58] astraw99 commented on #725
/remove-lifecycle stale

[2022-09-16 10:32] #213 closed

[2022-09-20 09:20] gland1 opened #763 "The controller does not issue event when the driver return ErrorCode InvalidArgument"
**What happened**:
Our driver returned InvalidArgument because snapshots are not supported for volumes with 512b block size.

**What you expected to happen**:
I expected to see an error event when I do describe volumesnapshot
But there was only an info event - waiting for the csi....

**How to reproduce it**:
Create a snapshot for volumes which doesn't support it or mock invalid argument in your u

[2022-09-20 09:26] gland1 opened #764 "finalizer is not removed from pvc when deleting multiple snapshots at once"
**What happened**:
I've created 8 snapshots on a certain volume.
All creations failed due to InvalidArgument error code.
I've deleted all snapshots in parallel with :
kubectl delete volumesnapshot --all
I've tried to delete the volume pvc and got hang.
Noticed that the finalizer:
snapshot.storage.kubernetes.io/pvc-as-source-protection
remained.

**What you expected to happen**:
pvc delete should n

[2022-09-26 13:17] xing-yang commented on #736
Here's an issue to track this: https://github.com/kubernetes/kubernetes/issues/112694

[2022-09-26 13:17] xing-yang commented on #736
/remove-lifecycle stale

[2022-09-27 04:54] bhargavkeshav commented on #300
Hi @xing-yang,

I am facing similar issue , was this issue fixed.

[code]

[2022-09-27 06:12] Jeinhaus opened #769 "v6.1.0 images not available"
**What happened**:

When following the docker pull commands from the [v6.1.0 release](https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v6.1.0) the image cannot be found:

[code]

**What you expected to happen**:

The `docker pull` command to succeed.

**How to reproduce it**:

[code]

[2022-09-27 06:13] Jeinhaus commented on #769
Same thing with the registry referenced in the [setup-snapshot-controller.yaml](https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml):

[code]

[2022-09-27 07:27] tgip-work commented on #769
Same for me.

This works for me:

[code]

Also see [https://console.cloud.google.com/gcr/images/k8s-staging-sig-storage/GLOBAL/snapshot-controller](https://console.cloud.google.com/gcr/images/k8s-staging-sig-storage/GLOBAL/snapshot-controller)

Also for older version:
`docker pull gcr.io/k8s-staging-sig-storage/snapshot-controller:v6.0.1@sha256:a49993c3325b4bb010e52b8e661ebc62b9d45ebceae6e432d3ee6

[2022-09-27 13:53] xing-yang commented on #769
Can you try now?  The images should be there now.

[2022-09-27 14:53] Jeinhaus commented on #769
Yes, I can confirm, that the images linked in the release are available now.
I'm still a bit confused about the image linked in the release page and the ones referenced in the [setup-snapshot-controller.yaml](https://github.com/kubernetes-csi/external-snapshotter/blob/ba73208e901b26b47a28e259626c5d802118f6f8/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml#L36).

[2022-09-27 15:22] xing-yang commented on #769
I'll update the release page to use registry.k8s.io.  Both should work.  It is a re-direction but we are supposed to use registry.k8s.io now.

[2022-09-28 07:51] gland1 commented on #763
I see now the event is shown under the volumesnapshotcontent and not the volumesnapshot.
I assume that if the operation failed to create a snapshot, the event should be listed under volumesnapshot ,

[2022-09-28 07:59] Jeinhaus commented on #769
Thank you. :tada:

[2022-09-28 07:59] #769 closed

[2022-09-30 08:02] GunaKKIBM opened #771 "Snapshot webhook doesn't throw error if volumesnapshotclass is not provided"
**What happened**:
I created snapshot providing the following input.
[code]
But when I created snapshot providing, empty string as shown below, I see the expected error
[code]
Error:
[code]

**What you expected to happen**:
I expected to see the same error as mentioned above even when I don't provide the volumeSnapshotClassName

**How to reproduce it**:
Create a snapshot with the following yaml pr

[2022-09-30 12:46] kon-angelo commented on #771
I think (this)[https://github.com/kubernetes-csi/external-snapshotter/blob/ba73208e901b26b47a28e259626c5d802118f6f8/client/apis/volumesnapshot/v1/types.go#L83] should answer your question.

If the value is `nil` it will use the default `volumesnapshotclass`. However when you populate it with the empty string this is considered an invalid value.

[2022-09-30 12:48] xing-yang commented on #771
This works as expected.  Explicitly specifying an empty string is not the same as not specifying anything (which implies a default snapshot class).

[2022-09-30 13:04] kon-angelo commented on #771
Maybe it is useful to think of it in terms of go code. This is a `string pointer` and not a `string`.  In your last yaml you have not specified any value for `volumeSnapshotClassName` and it gets default to the default value for a string pointer which is `nil`.  This `nil` means that it will use the default class.

In your initial example, you specifically use the empty string, so it gets populate

[2022-09-30 13:14] GunaKKIBM commented on #771
okay, this is my understanding:

https://github.com/kubernetes-csi/external-snapshotter/blob/e746d0717a32109d8c57cb76a70b299ec849f54d/pkg/validation-webhook/validation.go#L34

So, if nothing is provided in front of volumesnapshotclassname, not even empty string, the volumesnapshotclassname will be considered nil, when we try to fetch it from k8s go client?
Please correct me if I am wrong.

[2022-09-30 14:07] xing-yang commented on #771
See this KEP regarding default StorageClass: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3333-reconcile-default-storage-class#behavior-change

pvc.spec.storageClassName=nil is not the same as pvc.spec.storageClassName=""

[2022-10-03 06:40] RaunakShah commented on #477
/remove-lifecycle stale

[2022-10-03 15:03] Jainbrt commented on #750
This issue has been fixed with PR #770.

[2022-10-11 08:16] blackpiglet commented on #748
Also hit this issue.

[code]

[2022-10-14 08:15] Jainbrt commented on #750
@xing-yang should we close this issue ?

[2022-10-18 04:19] humblec commented on #567
/reopen

[2022-10-18 04:20] humblec commented on #567
Considering we have to continue this discussion and probability of solving it, I am reopening this.

[2022-10-18 06:19] 7309766 opened #773 "Error with VolumeSnapshotContent.snapshot.storage.k8s.io spec.sourceVolumeMode: Invalid value: "null""
**What happened**:
Created two resources:

apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: my-ebs-csi-snapshot-class-handle
driver: ebs.csi.aws.com
deletionPolicy: Retain
—-
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshot
metadata:
  name: ebs-volume-snapshot-test
  namespace: monitoring
spec:
  volumeSnapshotClassName: my-ebs-csi-snapshot-class-handl

[2022-10-18 07:42] RaunakShah commented on #773
I ran this on CSI host path driver and was able to provision the snapshot:

[code]

This is my snapshotter and provisioner versions:
[code]

Can you confirm that you enabled `--prevent-volume-mode-conversion` In both of these containers?

[2022-10-18 11:17] RaunakShah commented on #773
You need to enable it on snapshot-controller as well as external-provisioner.

But were you running into this issue before the flags were enabled?

[2022-10-18 11:21] 7309766 commented on #773
No, this flag was omitted

[2022-10-18 11:29] RaunakShah commented on #773
Can you paste the logs of snapshot-controller without the feature flag enabled?

[2022-10-18 11:38] 7309766 commented on #773
Here
https://pastebin.com/kjwjMqQu

[2022-10-19 19:36] ggriffiths commented on #748
/unassign @camartinez04

[2022-10-20 04:29] RaunakShah commented on #773
@7309766 can you also tell me what version of snapshot CRDs have been installed on the cluster?

[2022-10-20 11:22] 7309766 commented on #773
controller-gen.kubebuilder.io/version: v0.8.0
    api-approved.kubernetes.io: "https://github.com/kubernetes-csi/external-snapshotter/pull/665"

[2022-10-24 16:42] #723 closed

[2022-11-01 03:43] Kartik494 commented on #629
Hi @cwyj Could you please close this issue , if no more query required from your side on this.

[2022-11-01 09:31] aschi1 opened #774 "Provide more metadata in CreateSnapshot request"
**Is your feature request related to a problem?/Why is this needed**
We are backing up our PVC's in Kubernetes via snapshots which are then stored in AWS console. Since the metadata provided in a `CreateSnapshot` request does not contain pvc name, pvc namespace or pv name we cant really distinguish between them in AWS console. We would like to be able to know what PVC does a snapshot belong to whe

[2022-11-01 15:14] david-kirby commented on #738
/remove-lifecycle stale

[2022-11-04 04:21] ambiknai opened #778 "Retry interval of failed volume snapshot creation or deletion does not double after each failure: v6.0.1"
**What happened**:

Created VolumeSnapshot but the request failed  due to authorisation issue in storage provider. In logs, I could see frequent calls to `CreateSnapshot` method.  Ad per doc, it should double after each failure but logs doesn't show that behaviour.

**What you expected to happen**:
retry interval of failed volume snapshot creation or deletion should double after each failure

**Ho

[2022-11-04 04:25] ambiknai opened #779 "Failure messages are not shown in VolumeSnapshot Description"
**What happened**:

VolumeSnapshot creation failed due to authorisation issue from storage provider. csi-snapshotter and driver logs show proper error message. VolumeSnapshotContent also shows this error message. But VolumeSnapshot description doesnt show the reason for failure.

**What you expected to happen**:

Expect to see reason for failure when we do `kubectl describe volumesnapshot`

**How

[2022-11-04 20:51] xing-yang commented on #778
@zhucan Can you take a look?

[2022-11-07 07:10] zhucan commented on #778
@xing-yang https://github.com/kubernetes-csi/external-snapshotter/blob/09a98bc845072e54f46f8e2cbd195c43fabfc23f/pkg/sidecar-controller/snapshot_controller_base.go#L107  if create the snapshot failed(and the err is csi final err), it wiil remove the finalizer from the content(it is the update function) and the content.status.err is nil, the content will be readded to the queue agian.

[2022-11-17 19:02] gabrielpvbw opened #789 "name of the snapshot not showing in aws"
The name of the snapshot is not showing in aws. I am not sure if it's suppose to be like that, but I would like to have the actual snapshot name in aws as well.

Right now it only has a dash there

![image](https://user-images.githubusercontent.com/100797215/202535109-505fa795-616e-43db-aeea-3a8e37c56355.png)

[2022-11-22 00:41] xing-yang commented on #789
What name are you expecting to show up there?  The name of the VolumeSnapshot?

What is your observation of the volume?  Does it behave differently?

[2022-11-22 12:23] gabrielpvbw commented on #789
Hi, thanks for your help. I want to somehow identify the snapshot in aws by name tag. Could be the name of the VolumeSnapshot or a custom name of my choice. But I don't know if that's possible.

[2022-11-25 08:27] samuelkerchouni opened #792 "Restore volumesnapshot"
Hello,

I have an issue with VolumeSnapshot on my GKE 1.22.

My goal is to backup / restore volumesnapshot on other namespace to duplicate my database on postgres

I explain my process  :
  - I create a volumesnapshot on my source namespace
  - I get volume Handle of my volumesnapshotcontent
  - I copy/past my volume Handle to create a new volumesnapshotcontent
  - I create my new volumesnapshotco

[2022-11-28 02:04] xing-yang commented on #789
There is a way to set extra-create-metadata flag to true when csi-snapshotter is started. If true, the VolumeSnapshot's name / namespace and the VolumeSnapshotContent's name will be passed as parameters to the CSI driver in CreateSnapshotRequest. I don't know if AWS EBS CSI driver uses this flag though.  You may want to check with AWS EBS driver maintainers.
https://github.com/kubernetes-csi/exter

[2022-11-28 18:21] xing-yang commented on #792
In the final step - "I create my pvc with like source my volumesnapshot", is the PVC in a namespace that is different from VolumeSnapshot created in step 1?
What did you do to the VolumeSnapshot created in step 1 after the final step?  Do you have 2 VolumeSnapshots, one in the source namespace and the other in the destination namespace, both point to the same snapshot on the storage system?
Did yo

[2022-11-29 12:44] samuelkerchouni commented on #792
Hi,
Thanks for your reply and your help

In the final step - "I create my pvc with like source my volumesnapshot", is the PVC in a namespace that is different from VolumeSnapshot created in step 1? -> Yes it's my new volumesnapshot in the target namespace ( build from volumesnapshotcontent )

What did you do to the VolumeSnapshot created in step 1 after the final step? ->  I keep the source volume

[2022-11-29 15:21] gabrielpvbw commented on #789
Ok, but where in my yaml files I can set this ?