[2018-07-09 18:04] jessfraz opened #1 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-08-08 21:00] #1 closed

[2018-08-13 23:54] saad-ali opened #10 "Make passing Travis required for merge"
Make passing Travis required for merge

xref https://github.com/kubernetes/test-infra/pull/9014#discussion_r209759777

/assign @xing-yang

[2018-08-14 01:53] xing-yang commented on #10
I have made "passing travis-ci required before merging".  Let me know if anything is missing.  Thanks!

[2018-08-14 16:18] spiffxp commented on #10
@xing-yang you'll need to open a PR against https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml for branch protection and required contexts to be enforced

eg for kubernetes/external-attacher: https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L172-L175

[2018-08-14 17:35] xing-yang commented on #10
Will do.  Thanks!

[2018-08-16 04:25] xing-yang commented on #10
PR submitted here: https://github.com/kubernetes/test-infra/pull/9072

[2018-08-16 14:12] #10 closed

[2018-10-03 17:32] mattsmithdatera opened #38 "csi-address CLI argument does not accept `unix:///` prefixed sock files"
When you specify a sock file to the snapshotter binary's --csi-address argument it can't be prefixed with `unix:///`.  If it does contain this prefix you get errors like this:

[code]
Omitting the prefix works as expected.  This is inconsistent with csi-sanity and csi-provisioner which can both accept the prefix without issue.

Example yaml deployment file
[code]

[2018-10-16 13:50] mickymiek opened #43 "Error creating snapshot with ceph-csi rbd plugin"
When trying to create as snapshot using examples, modified to match my environment I'm getting this error: `snapshot_controller.go:310] createSnapshot [create-default/rbd-pvc-snapshot[ba056701-d142-11e8-813b-525400123456]]: error occurred in createSnapshotOperation: failed to take snapshot of the volume, pvc-b064c0f5d06d11e8: "rpc error: code = Unknown desc = RBD key for ID: admin not found"`.
I c

[2018-10-16 16:04] mickymiek commented on #43
Managed to make it work by adding `csiSnapshotterSecretName` and `csiSnapshotterSecretNamespace`. I wasn't aware of these parameters.
Closing this!

[2018-10-16 16:04] #43 closed

[2018-10-18 13:40] GongWilliam opened #45 "transport is closing"
hey there , can anybody tell me what problem is this ? any information would be appreciated.

I1018 13:25:25.835377       1 snapshot_controller.go:304] createSnapshot[default/new-snapshot-demo]: started
I1018 13:25:25.835403       1 snapshot_controller.go:279] scheduleOperation[create-default/new-snapshot-demo[45f5dfea-d2d9-11e8-b369-5254008caa0c]]
I1018 13:25:25.835507       1 snapshot_controller

[2018-11-06 16:18] msau42 opened #54 "Remove snapshotter argument"
There's no reason for snapshotter name to be different from the plugin name.  We should remove this argument and make it match the plugin name.
/help

[2018-11-09 18:25] xing-yang opened #55 "Fix external-snapshotter sidecar container RBAC rule"
We don't need "create", "delete", "update" for PV and PVC resources in the external-snapshotter RBAC rule.  We only need "get", "list", "watch".  We should clean up the following rbac.yaml file.

https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/rbac.yaml

[2018-11-12 02:59] wackxu commented on #55
Will  fix this

[2018-11-14 14:39] pohly commented on #55
Once this is fixed, please ensure that it propagates also to those places which use the modified file:
- https://github.com/kubernetes/kubernetes/pull/69036
- https://github.com/kubernetes-csi/docs/blob/master/book/src/Example.md#create-rbac-rules-for-csi-snapshotter

[2018-11-14 14:39] pohly commented on #55
If you want, file a bug against kubernetes-csi/docs and assign it to me.

[2018-11-16 13:12] #55 closed

[2018-11-17 04:49] msau42 opened #60 "Break out snapshot CRD libraries into separate repo"
This makes it easier to update external-provisioner dependencies

[2018-11-18 20:16] saad-ali opened #62 "Take advantage of `csi_secret` in CSI 1.0"
CSI 1.0 decorates senstive fields with `csi_secret`. Let's take advantage of this feature to programmatically ensure no sensitive fields are ever logged by this side car container.

[2018-11-19 17:41] aybabtme opened #63 "Requires CRD create permissions?"
Hey there,

I was reviewing this [PR](https://github.com/digitalocean/csi-digitalocean/pull/104) and noticed that apparently, the `"create"` verb on `"customresourcedefinitions"` is required to run this program, seemingly because it [tries to install itself](https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/csi-snapshotter/main.go#L106-L111) on boot and [doesn't handle `IsUnau

[2018-11-21 10:50] pohly commented on #62
PR open against external-provisioner: https://github.com/kubernetes-csi/external-provisioner/pull/171

Needs to be reviewed there and then could be copied into external-snapshotter.

[2018-11-27 00:31] xing-yang opened #70 "Add pvcLister to snapshot controller"
We should add pvcLister to the snapshot controller, and after that changes should be made to snapshot controller to use pvcLister instead of using the client.  This is more efficient.

This was brought up during code reviews of https://github.com/kubernetes-csi/external-snapshotter/pull/39

[2018-11-27 19:58] #70 closed

[2018-11-28 00:54] xing-yang commented on #60
This is a good idea.  I'll work on this after the v1.13 release.

[2018-11-30 21:51] #62 closed

[2019-01-28 19:45] Akrog opened #89 "Probe timeout is too low"
Analogous to the [external-attacher issue](https://github.com/kubernetes-csi/external-attacher/issues/67), we have a timeout for the probe request that is set to 1 second, which is too low for many plugins that want to do a thorough health check.

We should increase this timeout to 1 minute like we did on the external-attacher.

[2019-02-15 19:43] hakanmemisoglu opened #94 "Error when importing snapshots"
Hi,

I have a problem with importing snapshots to Kubernetes. I managed to create a custom Kubernetes Cluster (version 1.13 and the nodes are VMs from Google Cloud) with GPD CSI driver (version DEV where it uses external provisioner, snapshotter v1.0.1) installed. I was able to provision volumes, create snapshots and restore volumes from snapshots.

Next, I decided to import existing snapshots tha

[2019-02-18 07:17] cwdsuzhou opened #95 "GetSnapshotStatus is never called"
In snapshot_controller.go, the function"CreateSnapshot" is called over and over again during  my development and test`.  Thus, a lot of snapshots were created in my test environment.

Finally, I found the function "GetSnapshotStatus" is never called is external-snapshotter. So "ListSnapshots"  function is never called.

I wonder if this is a bug?  If not , I do not think it is a good idea to call

[2019-02-19 02:17] xing-yang commented on #95
Please see my comments in your PR.  "CreateSnapshot" in a CSI driver should be idempotent.  Repeated call should not create lots of snapshots.  The same call with same parameters should only create one snapshot.  If repeated call resulted in lots of snapshots, there is a bug in the CSI driver.

CreateSnapshot is the preferred way to check snapshot status.

[2019-02-19 02:34] cwdsuzhou commented on #95
T

Thank you for your reply, I have make the CSI driver idempotent now. So, "ListSnapshot" is currently useless, I wonder if it would be dropped absolutely in the futrue? Or, if it is better that the external-snapshot  calls "ListSnapshot" in advance when the CSI driver has implemented it.

[2019-02-19 02:42] xing-yang commented on #95
ListSnapshots cannot return an gRPC error code.  That is why CreateSnapshot is better when checking the status while the snapshot is being created.

[2019-02-21 21:11] vkamra commented on #94
@jingxu97 @xing-yang - is the "Import an external snapshot" workflow as described above still supported? @hakanmemisoglu and I were hitting the issues described above.

It seems that the controller is looking for a snapshot source (a PVC) in the `VolumeSnapshot`. Given that the `VolumeSnapshotContent` already exists - I'd expect the binding to go through without requiring a PVC to snapshot.

We ca

[2019-02-21 22:27] jingxu97 commented on #94
@hakanmemisoglu @vkamra Thanks for reporting this issue. I think this problem was introduced by this PR https://github.com/kubernetes-csi/external-snapshotter/pull/61/files
I will work with @xing-yang to fix it.

[2019-02-22 18:09] hakanmemisoglu commented on #94
@jingxu97, I'd like to volunteer to fix this issue.

[2019-02-22 18:12] xing-yang commented on #94
@hakanmemisoglu Thanks for reporting the issue and volunteering to fix it.  Please go ahead to submit a PR.  @jingxu97 and I will review it.  Thanks!

[2019-03-06 14:02] cwdsuzhou commented on #95
Thank you

[2019-03-06 14:02] #95 closed

[2019-03-12 05:20] msau42 commented on #60
cc @nikhita is this something that the k8s publishing bot can help with?

[2019-03-12 13:03] nikhita commented on #60
Yes :)

From our conversation on Slack: iiuc this repo is supposed to be canonical source of truth and the  `client` (and maybe the `api`) directory needs to be published/synced to another repo.

For this, we'll just need a set of rules like https://github.com/kubernetes/kubernetes/blob/master/staging/publishing/rules.yaml. Very roughly, it'll look something like:

[code]

We'll also need a cluste

[2019-03-12 13:14] nikhita commented on #60
To describe more concrete next steps: If we can get approval from sig-architecture (i'm guessing this falls under [code-organization](https://github.com/kubernetes/community/tree/master/sig-architecture#subprojects)) and sig-storage, I can help move forward with this.

[2019-03-13 03:50] msau42 opened #102 "Generating CRD API docs"
Consider using this tool: https://github.com/ahmetb/gen-crd-api-reference-docs/

[2019-03-28 18:48] msau42 commented on #60
We discussed this in the sig-arch meeting today.  The suggestion is to first look into switching over to go modules.  If that doesn't work, then we can come back and discuss the staging/publishing bot option.

[2019-03-29 00:42] crimsonfaith91 opened #106 ""dep ensure -add" does not work"
I may miss out something simple, but I couldn't import this package via `dep ensure -add github.com/kubernetes-csi/external-snapshotter` command.

Following is the output:
[code]

Any documentation / guidance will be much appreciated!

[2019-03-29 02:04] xing-yang commented on #106
Where are you trying to import this into?  It may have conflicting k8s dependencies with this repo?

[2019-03-29 06:01] hakanmemisoglu commented on #94
#98 should fix this.

[2019-03-29 06:01] #94 closed

[2019-04-01 01:15] crimsonfaith91 commented on #106
@xing-yang I tried to vendor this repository to a project generated based on this [framework](https://github.com/kubernetes-sigs/kubebuilder) (not the framework, but a project generated from it).

Do you know what is the best way to vendor this repository inside another Golang repository?

[2019-04-01 03:28] xing-yang commented on #106
The latest kubebuilder depends on k8s 1.13.1.  External-snapshotter master branch depends on k8s 1.14.0 so it won't work.   External-snapshotter v1.0.1 depends on k8s 1.13.0-beta.1.  In the Gopkg.toml file of your project, can you try add the following, and then run "dep ensure"?

[[constraint]]
  name = "github.com/kubernetes-csi/external-snapshotter"
  version = "1.0.1"

[2019-04-01 18:38] crimsonfaith91 commented on #106
@xing-yang Thanks for the information. I added the constraint, but still encountered the same error.

Tagging @liyinan926 for follow-up.

[2019-04-01 19:14] xing-yang opened #108 "Check SupportsControllerListSnapshots before calling ListSnapshots"
In GetSnapshotStatus, we should check SupportsControllerListSnapshots before calling ListSnapshots.

[2019-04-03 18:11] xing-yang commented on #106
@crimsonfaith91 I created a temporary branch on external-snapshotter called k8s_1.13.1 and updated the dependencies to k8s 1.13.1 to be consistent with kubebuilder.

[[constraint]]
  name = "github.com/kubernetes-csi/external-snapshotter"
  branch = "k8s_1.13.1"

Please add this to your Gopkg.toml and run "dep ensure".  It works for me.

[2019-04-03 18:19] liyinan926 commented on #106
Thanks @xing-yang. Will give it a try.

[2019-04-04 22:46] liyinan926 commented on #106
The new branch works fine. Thanks again @xing-yang. This issue can be closed.

[2019-04-06 03:01] xing-yang commented on #106
Great.  Thanks.

[2019-04-06 03:01] #106 closed

[2019-04-10 11:44] rollandf opened #112 "Missing 'groupName' comment in doc.go - wrong group for fake objects"
The group name of the APIs is "snapshot.storage.k8s.io" as specified here:

https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/apis/volumesnapshot/v1alpha1/register.go#L23

However, "fake" objects are generated with "volumesnapshot"

https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/client/clientset/versioned/typed/volumesnapshot/v1alpha1/fake/fake_volumesn

[2019-04-21 23:01] msau42 commented on #54
This was fixed by #103
/close

[2019-04-21 23:01] #54 closed

[2019-04-23 03:59] zhucan opened #115 "If driver can't delete PVC when it still has snapshots, when deleting the PVC, maybe it can't delete the PVC in the etcd?"
Version:
external-snapshotter: v1.0.1
kubernetes: v1.13.0

Details:
 If driver can't delete PVC when it still has snapshots, when I delete the PVC with snapshots，the PVC in the etcd has been delete，but in fact,  delete the PVC failed.

Expectation：
If driver can't delete PVC when it still has snapshots， it can't delete the pvc in etcd.

[2019-04-23 04:05] xing-yang commented on #115
Thanks @zhucan for reporting this issue!  It was a design decision not to prevent PVC with snapshots from being deleted because some drivers do support that, but I think we should re-evaluate and figure out how to handle this better.

[2019-04-25 04:27] zhucan commented on #45
maybe your csi driver is not healthy， please check the "sock"

[2019-04-25 07:52] zhucan opened #117 "why not deploy the external-snapshotter with "Deployment"，maybe "Deployment" is better than "StatefulSet"?"

[2019-05-06 17:26] msau42 opened #120 "snapshot tests are failing on master"
https://k8s-testgrid.appspot.com/sig-storage-csi#alpha-canary-on-master

Latest failing run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-csi-alpha-canary-on-kubernetes-master/1125363941975789568

[2019-05-06 17:26] msau42 commented on #120
/kind bug
/assign @xing-yang

[2019-05-06 17:40] xing-yang commented on #120
I see the following failure in the logs. So this is because the rbac used by the tests don't have permissions to update PVC object.

May  6 11:58:20.966: INFO: At 2019-05-06 11:53:20 +0000 UTC - event for snapshot-694nl: {csi-snapshotter csi-hostpath } SnapshotCreationFailed: Failed to create snapshot: snapshot controller failed to update pvc-8fjdj on API server: persistentvolumeclaims "pvc-8fjdj"

[2019-05-06 17:45] xing-yang commented on #120
I see the following in the logs:

kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v1.1.0/deploy/kubernetes/rbac.yaml

So it reads rbac.yaml from v1.1.0.  The change that requires an update PVC rbac permission is merged after the v1.1.0 release.

[2019-05-06 17:50] xing-yang commented on #120
Should I backport the rbac.yaml change to v1.1.0 branch?

[2019-05-06 20:29] msau42 commented on #120
@pohly since this is a canary job, should it be using rbacs from master?

[2019-05-07 07:42] pohly commented on #120
That depends. One aspect of the "canary" jobs is to verify that the new images are still compatible with existing deployments, i.e. also with the RBAC rules used by those deployments. If that test fails, then we know that the next release has a breaking change and thus needs a major version bump.

The deployment controls the RBAC rules, but there is already a knob for overriding that if needed. I'

[2019-05-07 15:11] msau42 commented on #120
Alpha features can break so I think that is fine.

If a stable sidecar required a new rbac rule for an existing feature, then the canary-on-1.13/1.14 jobs would break

[2019-05-08 01:34] #120 closed

[2019-05-08 14:25] Akrog commented on #89
As mentioned in PR #90 this has already been fixed on PR #93

[2019-05-08 14:25] #89 closed

[2019-05-09 18:24] xing-yang commented on #117
Both "StatefulSet" and "Deployment" work, depending on user's needs, as stated in this doc: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md

[2019-05-09 18:46] xing-yang commented on #112
Thanks for reporting this issue.  A PR is submitted.

[2019-05-10 21:32] #112 closed

[2019-05-14 06:48] rollandf commented on #112
Thanks for fixing this!

[2019-05-23 22:04] jingxu97 opened #124 "Update deletion policy in snapshot doc"
Since Kubernetes v 1.13, VolumeSnapshotContent and VolumeSnapshotClass support deletion policy. Should update the doc here https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/

[2019-05-28 13:07] xing-yang opened #125 "Need to create a repo for ExecutionHook"
We need to create a new repo for ExecutionHook under kubernetes-sigs.  Open this issue to track it.  We are targeting k8s release 1.15.  Code freeze for 1.15 in-tree code is May 30th.  ExecutionHook code is out-of-tree so we have more time, but we still need to have the repo created as soon as possible so we can submit code there.

Hi @jingxu97, can we finalize on the repo name?  Should we call it

[2019-05-28 16:02] luayalem opened #126 "Add incremental snapshot support"
This is FER is to add CSI support to provide incremental snapshot.

[2019-05-28 16:06] xing-yang commented on #126
Thanks @luayalem.  We'll look into this.

[2019-05-30 05:41] jingxu97 commented on #125
go ahead with the name unless we have objections.

On Tue, May 28, 2019 at 6:07 AM Xing Yang <notifications@github.com> wrote:

--
- Jing

[2019-05-30 14:43] xing-yang commented on #125
Sure.  Sent an email to sig-storage, sig-apps, and sig-node with the proposal to create a repo named execution-hook in kubernetes-sigs.  Once Saad responds with okay, I"ll submit a request for the repo.

[2019-06-11 17:48] msau42 commented on #102
/lifecycle frozen
/help

[2019-06-17 23:36] msau42 opened #128 "Leader election lock name should include driver name"
To be consistent with the other sidecars

[2019-06-18 02:20] verult commented on #128
And also to allow for the possibility that multiple drivers run in the same namespac

[2019-06-18 09:53] zhucan commented on #128
"external-snapshotter-leader-election" + driverName is ok?

[2019-06-18 12:18] xing-yang commented on #128
@zhucan do you want to work on this?  I see that @verult submitted a PR in external-provisioner to add namespace locking.  You can take a look here: https://github.com/kubernetes-csi/external-provisioner/pull/296

[2019-06-18 13:32] zhucan commented on #128
yeah

[2019-06-25 00:49] #38 closed

[2019-06-26 04:17] #63 closed

[2019-06-28 10:25] stiller-leser opened #131 "Import existing, externally created snapshot into cluster"
Hi everybody,

I have started playing around with snapshotting. My usecase is to import an existing snapshot into the cluster (it has been created externaly, not from a `pv` in the cluster). My current attempt with these two configurations fails with `the snapshot source is not specified` when creating the `VolumeSnapshot`:

[code]
[code]
( taken from [this blog post](https://kubernetes.io/blog/20

[2019-06-28 17:06] lpabon opened #132 "Snapshotter uses ListSnapshots on drivers which do not advertise it."
Snaphotter uses a function called GetSnapshotStatus() to do the binding from a VolumeSnapshot to a VolumeSnapshotContent. GetSnapshotStatus() then uses the csi.ListSnapshot() call even when the driver does not support it. Therefore this causes an error and the binding does not occur.

[2019-06-28 17:07] lpabon commented on #132
This affects release-0.4 and later.

[2019-06-28 21:20] nrb opened #133 "`DeletionPolicy` contradictory docs"
On `VolumeSnapshotClass`, the[ comments](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/apis/volumesnapshot/v1alpha1/types.go#L136-L139) specify that the default behavior is `Delete` if a `DeletionPolicy` is not defined.

However, the `VolumeSnapshotContentRetain` [constant](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/apis/volumesnapshot/v1alpha1/

[2019-07-01 13:32] xing-yang commented on #133
I'll take a look.

[2019-07-01 16:57] xing-yang commented on #133
The default policy for dynamic provisioning is Delete. That's why the controller sets it to Delete. The default policy for static provisioning is Retain. That's the reasoning for those comments on VolumeSnapshotContentRetain which is still correct (if not override by the policy set in storage class).

I can see that it is very confusing.  I'll try to clarify the comments.  Thanks.

[2019-07-01 20:59] msau42 commented on #108
/remove-lifecycle stale

[2019-07-01 21:00] msau42 commented on #132
This looks like the same issue as https://github.com/kubernetes-csi/external-snapshotter/issues/108?

[2019-07-01 21:14] xing-yang commented on #132
Yes.

[2019-07-02 11:12] ShyamsundarR opened #134 "Problems dealing with snapshot create requests timing out"
When a CSI plugin is passed a CreateSnapshot request and the caller (snapshotter sidecar) times out, the snapshotter sidecar marks this as an error and does not retry the snapshot. Further, as the call only timed out and did not fail, the storage provider may have actually created the said snapshot (although delayed).

When such an snapshot is deleted, there are no requests to the CSI plugin to de

[2019-07-02 11:15] ShyamsundarR commented on #134
The issue was faced when developing and testing the Ceph CSI implementation (issue details are captured here: https://github.com/ceph/ceph-csi/issues/446 ).

snapshotter sidecar code reading also suggests that CreateSnapshot is a one time call, and the error returned is stashed in the snapshot object and hence the create never called again.

During the testing, introducing artificial delays was al

[2019-07-02 11:24] Madhu-1 commented on #134
cc @xing-yang

[2019-07-02 14:08] msau42 commented on #134
cc @jingxu97

[2019-07-02 14:23] msau42 commented on #131
Importing existing snapshot should be possible. It needs more documentation and testing though.
cc @xing-yang @jingxu97

[2019-07-02 16:23] nrb commented on #131
If you're using GKE, I saw this too. It appears to be fixed in v1.1.0 of csi-snapshotter, but GKE's driver currently comes with v1.0.1. See https://github.com/kubernetes-csi/external-snapshotter/issues/94

[2019-07-02 16:28] msau42 commented on #131
fyi, tracking issue to update snapshotter in pd csi driver: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/321

[2019-07-02 17:03] xing-yang commented on #131
@stiller-leser The comment "If not specified, user can create VolumeSnapshotContent and bind it with VolumeSnapshot manually" means you can dynamically create a VolumeSnapshot using an already existing snapshot resource.  It does not mean you need to define an existing PVC in VolumeSnapshot.

Can you try v1.1.0 or later of csi-snapshotter as suggested by @nrb?  Looks like you need to wait for a fi

[2019-07-02 22:32] jingxu97 commented on #134
@ShyamsundarR thank you very much for bringing this issue up. The following is the behavior I copied from create volume.

As you mentioned, the reason CreateSnapshot does not retry is to avoid constantly trying to create new snapshot if the previous operations failed. In case of timeouts, as you pointed out, there is a potential issue that snapshot is being created. But the assumption here is that

[2019-07-03 00:13] msau42 commented on #134
Problem is client side (sidecar) times out but server side (csi driver) operation continues.  When the server side operation finally returns, the client side doesn't get the response because it gave up on the rpc.

Can we do something like repeatedly call DeleteSnapshot if CreateSnapshot failed until DeleteSnapshot returns success?  Unsure how to handle snapshot handle that is returned by the driv

[2019-07-03 00:22] xing-yang commented on #134
We can't call DeleteSnapshot before CreateSnapshot returns success because DeleteSnapshot needs the snapshot handle.  If CreateSnapshot fails or times out, we won't get the handle to delete it.

[2019-07-03 01:18] ShyamsundarR commented on #134
The problem is as @msau42 and @xing-yang put it, the client times out, and also the client does not have the Snapshot ID to call DeleteSnapshot

@jingxu97 Current timeouts for CreateSnapshot seem to be set to 60 seconds, and not 1 second. Considering timeouts as errors does not help, or expecting snapshots to *always* complete successfully in certain time may not be true for all systems all the ti

[2019-07-03 03:24] msau42 commented on #134
cc @jsafrane for any ideas

[2019-07-03 07:19] stiller-leser commented on #131
Hi everybody,

you rock! Thank you for getting back to me so quickly - this is awesome. Thanks to the pointer of @nrb I was able to see that I was using an old version of the snapshotter. Updated it and it works :+1:

Also @xing-yang - I must have misread this then. Guess that happens if you play around way above your K8s knowledge ;) - Thank you for the explanation!

[2019-07-03 07:19] #131 closed

[2019-07-03 07:47] jsafrane commented on #134
IMO, proper solution without changing of CSI spec is the same as in volume provisioning. The snapshotter should retry until it gets a final response and decide what to do - either the snapshot is too old or user deleted VolumeSnapshot objects in the meantime and delete it or create VolumeSnapshotContent.

As you can immediately spot, if the snapshotter is restarted while the snapshot is being cut

[2019-07-03 15:33] xing-yang commented on #125
Repo was created: https://github.com/kubernetes-sigs/execution-hook

[2019-07-03 15:33] #125 closed

[2019-07-03 16:37] xing-yang commented on #132
This only affects statically provisioned volume snapshots.  For dynamically provisioned snapshots, we use CreateSnapshot to get the status.  For statically provisioned snapshots, we cannot call CreateSnapshot because it was pre-provisioned, the only way to verify its status is to call ListSnapshots with a snapshot_id to get its status.

I looked at the code in PV controller to see how it handles s

[2019-07-03 16:41] xing-yang commented on #108
Closing this as this is a duplicate of #132.

[2019-07-03 16:41] #108 closed

[2019-07-05 20:26] xing-yang commented on #132
Actually ListSnapshots was used to check whether snapshot is ready to use when the snapshot CRD was introduced in v0.4.0, for both dynamic and static binding.

In v1.0.1, there was a fix to use CreateSnapshot to replace ListSnapshots in order to support CSI spec 1.0 changes (https://github.com/kubernetes-csi/external-snapshotter/commit/c01fb649f287b3bfa723d12f7e131ec858ef08f0).  That fix allowed d

[2019-07-05 20:28] xing-yang commented on #132
In the CSI spec, ListSnapshots is optional, but we recommend drivers that need to upload snapshot to implement ListSnapshots function because it could be a time consuming process for upload to complete and for the snapshot to become ReadyToUse.

[2019-07-08 16:40] xing-yang commented on #115
In this case, driver can return success but need to know that PVC already deleted in k8s.  After all snapshots are deleted, driver should delete the volume itself.

We need to add documentation for this.

[2019-07-08 16:49] msau42 commented on #115
In this case, shouldn't PV object still exist because DeleteVolume() will fail?

Can the presence of PVs in Released state indicate that something in the deletion is not working?  PVC deletion is how we signal to the driver to start volume deletion.

[2019-07-08 16:49] xing-yang commented on #115
We should add a test to make sure PVC can be deleted when there are still snapshots.

[2019-07-08 17:05] xing-yang commented on #115
We discussed about this in the snapshot meeting.  We want this to be handled consistently.  So driver should return success and both PV and PVC will be deleted successfully.  Driver needs to handle the cleanup of the volume resource on the storage system after all snapshots are deleted.

[2019-07-08 21:49] ggriffiths commented on #132
Working on this issue now, will open a PR when ready.

[2019-07-12 00:08] xing-yang opened #140 "Separate common controller logic from the sidecar"
Investigate how to separate common controller logic from other logic that belongs to the sidecar.  Can be in the same external-snapshotter repo.  The common controller should not be deployed with the driver.  It should be deployed by the cluster deployer, or we can provide a way to deploy it as a separate Statefulset, not together with the driver.

[2019-07-12 00:10] xing-yang opened #141 "Update Snapshot CRD version to v1beta1"
Change in-tree feature gate to Beta and enable by default; Increment Snapshot CRD version to v1beta1; Update e2e tests snapshot CRD version to v1beta1

[2019-07-12 00:11] xing-yang opened #142 "Add Metrics to the snapshot controller"
Add Metrics to snapshot controller.  Need to be consistent with Metrics in PV/PVC controller.

@jingxu97 to check if Shawn (?) can work on this.

[2019-07-12 00:15] #128 closed

[2019-07-12 00:33] xing-yang commented on #134
@ggriffiths will be helping out with this bug fix.  Thanks.

[2019-07-12 00:46] ggriffiths commented on #134
/assign ggriffiths

[2019-07-15 02:13] #132 closed

[2019-07-18 16:59] gman0 opened #147 "cannot update snapshot metadata"
My attempt of creating a new VolumeSnapshot from a PVC source resulted in following error message in external-snapshotter:
[code]
The snapshot is successfully created by the driver, but external-snapshotter is having trouble updating the snapshot object metadata.

I'm using external-snapshotter v1.2.0-0-gb3f591d8 in k8s 1.15.0 running with `VolumeSnapshotDataSource=true` feature gate. The previous

[2019-07-18 17:04] gman0 commented on #147
/kind bug

[2019-07-18 22:00] xing-yang commented on #147
@gman0 Thanks for reporting the issue!  Do you see this "failed to update snapshot default/new-nfs-share-snap creation timestamp" appear multiple times in the log?  By default it should retry 5 times.

[2019-07-18 22:23] xing-yang commented on #147
/assign @zhucan

[2019-07-19 02:13] zhucan commented on #147
@gman0 can paste your rbac yaml file for snapshot?

[2019-07-19 10:52] gman0 commented on #147
@xing-yang here's the whole log https://pastebin.com/8TqMZqwt
@zhucan i've just copy-pasted RBAC rules from this repo

[code]

[2019-07-21 16:39] xing-yang commented on #147
@gman0 In v1.2.0, we added a new feature to support status subresource.  In order for that to work, you'll have to deploy the newer version of the snapshot CRD's.  I think since you have already installed snapshot CRD v1.1.0 in your k8s cluster, it will not be installed again when you deploy external-snapshotter v1.2.0.  Therefore the snapshot controller and the CRD's are out of sync.

Is it possi

[2019-07-22 06:52] zhucan commented on #147
@gman0  @xing-yang I have tested it in v1.15.0, I have already installed snapshot( image's version is v1.0.1) CRD v1.0.1 in my k8s cluster and successful snapshot creation, but when I upgrade the image's version to v1.0.2, the CRD will not be upgraded, it used old CRD, so I delete the snapshot pod and old CRD and rebuild snapshot pod, It can works.

It's no needed to restart k8s cluster, only dele

[2019-07-22 07:00] gman0 commented on #147
@xing-yang @zhucan ah I see, I'll try it out today, thanks!

[2019-07-22 13:23] xing-yang commented on #147
@zhucan Sure.  Please work on a fix.  Thanks.

[2019-07-22 17:55] gman0 commented on #147
@xing-yang @zhucan removed the volumesnapshot CRDs, all is working now! Thank you both! :) A fix would be nice though :p Closing.

[2019-07-23 01:57] xing-yang commented on #147
@gman0 I'm going to re-open this issue to keep track of the bug fix.  Once it is fixed, we can close this again.

[2019-07-29 06:05] #45 closed

[2019-07-30 23:17] yuxiangqian commented on #142
/assign

[2019-07-30 23:18] yuxiangqian commented on #142
/kind feature

[2019-07-31 00:09] yuxiangqian opened #151 "e2e testing for snapshot controller metrics"
to create e2e test cases for snapshot controller metrics in #142

[2019-07-31 00:09] yuxiangqian commented on #151
/assign
/kind feature

[2019-08-02 21:37] saad-ali opened #152 "Add a secret key for ListSnapshot to SnapshotClass"
Once CSI spec is update to add new secret field to `ListSnapshotRequest` (https://github.com/container-storage-interface/spec/issues/370), we should:

1. Add a new key (something like `csi.storage.k8s.io/list-snapshot-secret-name`) to `SnapshotClass`.
2. Update kubernetes-csi docs to reflect what we support.

[2019-08-03 05:53] yuxiangqian opened #154 "Update README to indicate controller architecture changes"
1. Common controller will watch VolumeSnapshotContent and bind VolumeSnapshotContent with VolumeSnapshot.
2. Snapshotter will watch VolumeSnapshot to invoke corresponding gRPC call, create VolumeSnapshotContent.
3. Deletion of a snapshot should follow similar pattern

[2019-08-03 05:53] yuxiangqian commented on #154
/kind documentation

[2019-08-08 01:39] saad-ali opened #155 "external-snapshotter should not allow annotation in template for snapshotter-secret-name"
external-snapshotter supports `${volumesnapshot.annotations['ANNOTATION_KEY']}` as a template for `csi.storage.k8s.io/snapshotter-secret-name`. It should not. It is ok for all other secrets (e.g. ListSnapshot secret) but not for the CreateSnapshot secret.

https://github.com/kubernetes-csi/external-snapshotter/blob/a1b3374fac007a0f3a122fc1cef1b9f3c38f1080/pkg/controller/util.go#L216-L220

CC @msau

[2019-08-08 13:04] xing-yang commented on #155
Hi @saad-ali, the secret handling logic in external-snapshotter is modeled after the code in external-provisioner.  We do strip prefixed parameters before calling create snapshot.  See here:

https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/controller/csi_handler.go#L70

I'll add comments to clarify that.  Is that okay?  Thanks.

[2019-08-09 01:10] msau42 commented on #155
@saad-ali's comment is not about stripping the k8s csi prefix.  It's about allowing `volumesnapshot.annotations` as a template value.  For Volume Create/Delete, we do not allow PVC annotations to be used in the StorageClass secret template.  Very long discussion here: https://github.com/kubernetes-csi/external-provisioner/issues/86

[2019-08-09 02:19] xing-yang commented on #155
Thanks @msau42!  I'll take a look of the discussion.

[2019-08-09 02:28] msau42 commented on #155
Some more discussion: https://github.com/kubernetes-csi/external-provisioner/issues/170

[2019-08-12 18:58] ggriffiths opened #159 "Use cached driver name in SnapshotController instead of getting it from CreateSnapshot"
A comment from @jsafrane in another open PR
https://github.com/kubernetes-csi/external-snapshotter/pull/153#discussion_r310598971

Specifically, this call can be cached:
https://github.com/kubernetes-csi/external-snapshotter/blob/7e09056156893c55cf45d9059afd8f564bdfed5e/pkg/snapshotter/snapshotter.go#L64

[2019-08-14 21:14] saad-ali opened #161 "Improve Deletion Secret Handling"
This is the same underlying issue as https://github.com/kubernetes-csi/external-provisioner/issues/330 for external-provisioner. This bug is to track the work for the external-snapshotter. We should make sure the annotations used for both solution have the same name.

Today, the external-snapshotter will look at VolumeSnapshotClass for deletion secret. If the secret does not exist, delete is calle

[2019-08-21 18:41] ggriffiths commented on #159
This is actually already cached as `snapshotterName` in the controller. We don't use the driverName inside of `external-snapshotter/pkg/snapshotter/snapshotter.go`, it's just passed back upstream to the controller.

Instead of doing this, we can have the controller use it's cached version `ctrl.snapshotterName`

[2019-08-22 11:55] wavezhang opened #163 "'SnapshotContentMissing' VolumeSnapshotContent is missing"
I'm trying to import existing snapshot from ceph using following yamls:

[code]

[code]

but get following error:
[code]

[code]

why?

[2019-08-22 11:56] wavezhang commented on #163
@xing-yang

[2019-08-22 14:18] xing-yang commented on #163
@wavezhang Please leave volumeSnapshotSource to nil and give a try.

[2019-08-23 01:10] wavezhang commented on #163
@xing-yang You mean use the following:
[code]

same error, and I‘ll miss the snapshot name to be imported

[2019-08-23 02:51] wavezhang commented on #163
problem solved by changing **csiVolumeSnapshotSource** to **csi**
[code]

[2019-08-23 02:55] #163 closed

[2019-08-23 16:13] xing-yang commented on #163
I meant to refer to the source field in VolumeSnapshot yaml, not the volumeSnapshotSource field in VolumeSnapshotContent, but the source field is already nil in your case.  Glad you got it resolved.  Thanks.

[2019-08-23 18:36] xing-yang commented on #161
CC @yuxiangqian

[2019-08-25 21:12] #60 closed

[2019-08-30 13:54] abrden commented on #45
I'm having the same problem. @GongWilliam any info on how to solve it? I already checked the csi-sock but I don't think that's the issue, my csi driver is responding to `GRPC call: /csi.v0.Identity/GetPluginInfo` like yours, but not to `GRPC call: /csi.v0.Controller/CreateSnapshot` :/

[2019-09-02 08:04] jsafrane commented on #159
Sure, removing `driverName` return value is OK.

[2019-09-05 18:00] #161 closed

[2019-09-06 21:41] ggriffiths opened #168 "snapshotter 1.x support for configmap leadership election type"
Since leases leadership election is only supported in k8s 1.14+, the snapshotter leadership election will not work in k8s 1.13.

Attacher/provisioner sidecars allow non-lease leadership election types in their latest 1.x releases:
https://github.com/kubernetes-csi/external-provisioner/blob/v1.3.0/cmd/csi-provisioner/csi-provisioner.go#L205-L213

https://github.com/kubernetes-csi/external-attacher/

[2019-09-06 23:05] msau42 commented on #168
Snapshotter is still alpha so we don't need to follow backwards compatibility and upgrade requirements like attacher and provisioner do. For recommended k8s versions for snapshotter, follow this table: https://kubernetes-csi.github.io/docs/external-snapshotter.html

[2019-09-08 01:21] #168 closed

[2019-09-08 01:22] ggriffiths commented on #168
Makes sense, thanks!

[2019-10-03 18:48] ggriffiths commented on #159
/good-first-issue
/help
/kind cleanup

[2019-10-04 00:27] msau42 commented on #124
/lifecycle frozen

[2019-10-06 20:37] #117 closed

[2019-10-10 02:07] xing-yang commented on #134
/remove-lifecycle stale

[2019-10-10 02:08] xing-yang commented on #140
/remove-lifecycle stale

[2019-10-10 02:08] xing-yang commented on #141
/remove-lifecycle stale

[2019-10-24 06:55] k0da opened #185 "release 0.4.2 image is not available"
[code]

Looks like image tag is hardcoded now to 0.4-canary https://github.com/xing-yang/external-snapshotter/blob/d933f30b5138465de83da8fcbe00f29a6f9f8382/Makefile#L19

[2019-10-24 12:07] xing-yang commented on #185
I see.  I think the v0.4.2 image needs to be published manually.  We changed the tag to canary because we don't want it to overwrite the 0.4.1 image.

[2019-10-24 12:08] k0da commented on #185
Could you please push one? we sync images, based on GH releases, right now our pipeline is broken :(

[2019-10-24 12:15] xing-yang commented on #185
Will do.

[2019-10-24 12:24] xing-yang commented on #185
Done.

[2019-10-24 12:59] #185 closed

[2019-10-24 16:56] msau42 opened #186 "Move APIs and generated clients outside pkg"
It could also be exported as a go module.

[2019-10-24 16:56] msau42 commented on #186
/assign @yuxiangqian

[2019-10-24 16:58] msau42 opened #187 "Create a webhook to do extra validation on beta APIs"
/assign @yuxiangqian

[2019-10-29 00:22] xing-yang commented on #142
/remove-lifecycle stale

[2019-10-29 00:22] xing-yang commented on #151
/remove-lifecycle stale

[2019-11-01 00:16] xing-yang commented on #152
/remove-lifecycle stale

[2019-11-01 14:32] xing-yang commented on #154
/remove-lifecycle stale

[2019-11-02 11:57] A-Hilaly commented on #159
/assign

[2019-11-05 18:21] xing-yang commented on #133
In the beta version of snapshot API, deletion policy is a required field in both VolumeSnapshotClass and VolumeSnapshotContent.  Therefore we won't have this confusion any more.

[2019-11-05 19:28] xing-yang commented on #115
/remove-lifecycle rotten
We still need to discuss and figure out a better way to handle this.

[2019-11-07 15:30] xing-yang commented on #155
This is fixed.

[2019-11-07 15:30] #155 closed

[2019-11-08 18:10] nrb commented on #133
Thanks!

Since it's required for VolumeSnapshotContent now, is it simply copied from the VolumeSnapshotClass each time a Content object is created?

[2019-11-08 18:28] xing-yang commented on #133
Yes, controller will copy it from snapshot class in the case of dynamic provisioning.  For pre-provisioned snapshots, admin has to set it when creating the content manually.

[2019-11-11 03:13] xing-yang commented on #141
This is done: https://github.com/kubernetes-csi/external-snapshotter/pull/139

[2019-11-11 03:13] #141 closed

[2019-11-11 03:14] xing-yang commented on #140
This is done: https://github.com/kubernetes-csi/external-snapshotter/pull/182

[2019-11-11 03:14] #140 closed

[2019-11-13 19:49] msau42 opened #193 "CVE-2019-11255: CSI volume snapshot feature can result in unauthorized volume data access"
Overall tracking issue: kubernetes/kubernetes#85233

Fixed in:

master: https://github.com/kubernetes-csi/external-snapshotter/pull/172
1.2.2: https://github.com/kubernetes-csi/external-snapshotter/pull/173
1.0.2: https://github.com/kubernetes-csi/external-snapshotter/pull/175
0.4.2: https://github.com/kubernetes-csi/external-snapshotter/pull/180

[2019-11-14 07:44] zhucan opened #194 "external-snapshotter start failed, because of the nil pointer"
https://github.com/kubernetes-csi/external-snapshotter/blob/d5da3c1e527cd356696300222ebd8bf728971ae4/pkg/controller/snapshot_controller.go#L918

**The pvc yaml**
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    **volume.beta.kubernetes.io/storage-class: test-sc**
  name: test-pvc
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      sto

[2019-11-14 07:45] zhucan commented on #194
@xing-yang

[2019-11-14 09:20] FengyunPan2 commented on #45
any thoughts?

[2019-11-14 17:39] xing-yang commented on #194
This should be fixed in master branch already.

[2019-11-14 19:11] msau42 commented on #193
/close

[2019-11-14 19:12] #193 closed

[2019-11-15 01:46] zhucan commented on #194
@xing-yang Thanks,  copy that

[2019-11-21 01:44] ggriffiths opened #196 "Improve code coverage for pkg/common-controller"
Need to improve code coverage after the split controller refactor.
/assign @ggriffiths
/cc @xing-yang
/kind cleanup

[2019-11-25 18:52] liyinan926 opened #198 "Static volume snapshot binding failure"
I was playing with static volume snapshot binding by first creating a `VolumeSnapshotContent` object and then a `VolumeSnapshot` object that is supposed to be bound to the `VolumeSnapshotContent` object by the external-snapshotter. However, I'm getting the following error:

[code]

The `VolumeSnapshot` was created with the `source` field unspecified because the intention is to statically bind it t

[2019-11-25 20:37] liyinan926 commented on #198
UPDATE: I had to add a dummy `source` field to make it work. I think the snapshotter should not fail on an empty `source` field.

[2019-11-25 21:07] xing-yang commented on #198
@liyinan926 Have you checked the example for importing existing snapshot in this blog? https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/

It does need a source with a CSI snapshot handle specified for static binding, otherwise there is no existing snapshot to be imported.  The new beta API has these fields more clearly defined and hopefully won't be so confusi

[2019-11-25 21:41] liyinan926 commented on #198
@xing-yang I read that blog post. I meant the `source` field in the `VolumeSnapshot`, which is supposed to reference a `PersistentVolumeClaim` that is to be snapshotted. I did set the `CSIVolumeSnapshotSource` field in the `VolumeSnapshotContent`.

[2019-11-25 21:49] xing-yang commented on #198
@liyinan926 that seems to be a bug.

[2019-11-25 22:47] yuxiangqian commented on #198
@liyinan926 Correct me if I am wrong please. You were trying to play with static binding feature without specifying a source? "CSIVolumeSnapshotSource" is removed from the beta version.

[2019-11-25 22:52] liyinan926 commented on #198
@yuxiangqian I did specify the `CSIVolumeSnapshotSource` field in the `VolumeSnapshotContent` object. The issue is that static binding failed because the field `source` in the `VolumeSnapshot` object was not specified, which is supposed to reference a `PersistentVolumeClaim` to be snapshotted. In the case of static binding, however, this `source` field should not be required. Like what @xing-yang

[2019-11-26 09:07] #194 closed

[2019-11-26 20:58] liyinan926 commented on #198
Update: actually using a dummy `source` in the `VolumeSnapshotSpec` that points to a non-existing PVC does not work, as it resulted in the following error:

[code]

I did something that made it appear to work. But it actually doesn't work, and it looks that static binding is broken.

[2019-11-26 21:06] liyinan926 commented on #198
Looks like https://github.com/kubernetes-csi/external-snapshotter/pull/98 is to blame?

[2019-11-26 22:42] liyinan926 commented on #198
I tried a newer version of the PD CSI driver with csi-snapshotter version `v1.1.0` and verified that static binding works as expected with an empty `source` field in `VolumeSnapshotSpec`. Thanks for helping!

[2019-11-26 22:42] #198 closed

[2019-11-27 17:36] tamalsaha opened #200 "Update client-go to kubernetes-1.16.3"
We use VolumeSnapshot CRD api and clients in our [Stash](https://github.com/stashed) project. We are trying to use the 1.16.3 client libraries. But we are blocked on this project, since it uses 1.14 client-go. Can you please update the client-go to 1.16.3 ?

Thanks.

[2019-11-27 18:14] msau42 commented on #200
/assign @yuxiangqian

[2019-11-27 18:14] msau42 commented on #200
We probably should update the go-client to 1.17 actually

[2019-11-27 18:17] msau42 commented on #200
I think what can also help the import dependency issue is if we separate out the client libraries to a separate go module: https://github.com/kubernetes-csi/external-snapshotter/issues/186

[2019-11-27 18:26] tamalsaha commented on #200
I think https://github.com/kubernetes/kubernetes/issues/85692 is the real blocker.

More here: https://github.com/kubernetes/kubernetes/issues/85693

[2019-11-27 21:14] msau42 commented on #200
Is that dependency from the snapshot API package though? If not then I think moving the client libraries to its own go module will help eliminate that dependency

[2019-11-27 22:14] tamalsaha commented on #200
The dependency is coming from the following packages:

- github.com/kubernetes-csi/external-snapshotter/pkg/common-controller
- github.com/kubernetes-csi/external-snapshotter/pkg/sidecar-controller
- github.com/kubernetes-csi/external-snapshotter/pkg/utils

So, if the api and client libraries are moved to its own package that will solve my issue. But how is the pkg/ folder going to use those types

[2019-11-27 22:21] msau42 commented on #200
I mean moving to its own go module in the same repo.  Then when you import that go module, you shouldn't be picking up the dependencies from things inside pkg/

[2019-11-28 00:03] tamalsaha commented on #200
Yeah, that will solve my use-case.

[2019-12-04 23:26] #200 closed

[2019-12-05 00:29] yuxiangqian commented on #186
/reopen

[2019-12-05 00:30] yuxiangqian commented on #186
this would need another to resolve

[2019-12-05 17:59] #126 closed

[2019-12-06 00:43] xing-yang opened #204 "Add more unit tests under pkg/sidecar-controller"
We need to add more unit tests under pkg/sidecar-controller.

[2019-12-06 00:45] xing-yang commented on #204
/assign @nrb

[2019-12-06 00:48] xing-yang commented on #204
Hi Nolan, can you assign this to yourself?  I don't know your github handle.

[2019-12-06 03:23] nrb commented on #204
/assign @nrb

[2019-12-08 19:11] #133 closed

[2019-12-11 07:05] #159 closed

[2019-12-12 12:11] igorgonibm opened #208 "Snapshotter container stuck on connecting"
We use tag 1.2.2

In logs the following message appears endless number of times:
connection.go:170] Still connecting to unix:///var/lib/csi/sockets/pluginproxy/csi.sock
The logs are:
main.go:89] Version: v1.2.2-0-gd5da3c1e
Connecting to unix:///var/lib/csi/sockets/pluginproxy/csi.sock
connection.go:170] Still connecting to unix:///var/lib/csi/sockets/pluginproxy/csi.sock
connection.go:170] Still c

[2019-12-12 13:06] xing-yang commented on #208
What is the k8s version?

[2019-12-12 13:17] igorgonibm commented on #208
1,14

[2019-12-12 13:29] zhucan commented on #208
@igorgonibm  @xing-yang It works well. k8s version: v1.14.2

[2019-12-12 13:29] zhucan commented on #208
@igorgonibm Can you paste the yaml about the snapshotter？

[2019-12-12 13:42] igorgonibm commented on #208
The full version is: GitVersion:"v1.14.7"
@zhucan which yaml is it? We just define container given csi-snapshotter image path from operator code.

[2019-12-12 13:45] zhucan commented on #208
setup-csi-snapshotter.yaml

[2019-12-12 13:47] igorgonibm commented on #208
@zhucan We didn't use such file.. Where can I get it? Is it something in csi-snapshotter sources?

[2019-12-12 13:52] zhucan commented on #208
@igorgonibm How do you deploy snapshotter? Isn't it through set-csi-snapshotter yaml？

https://github.com/kubernetes-csi/external-snapshotter/tree/v1.2.2/deploy/kubernetes

[2019-12-12 14:11] igorgonibm commented on #208
@zhucan we did it according to https://github.com/kubernetes-csi/external-snapshotter. There was nothing about such yaml. We create snapshotter container from code not yaml.

[2019-12-12 14:18] zhucan commented on #208
@igorgonibm I don't understand what you mean. If you deploy the sidecar not through the yaml,
How did you specify the socket path for the snapshotter？

[2019-12-12 14:19] zhucan commented on #208
![image](https://user-images.githubusercontent.com/13997135/70719697-701e7700-1d2d-11ea-8c10-16b9e279fc53.png)
like this？

[2019-12-12 14:45] igorgonibm commented on #208
@zhucan yes exactly. We just give another socket path (as specified above)

[2019-12-12 14:51] zhucan commented on #208
@igorgonibm I have not tried this way, why not deploy snapshotter with yaml？

[2019-12-12 15:01] igorgonibm commented on #208
@zhucan this is just the way our deployment works. We do it using csi operator in go-lang code.

[2019-12-13 20:22] yuxiangqian opened #209 "Potential leaking of snapshot on underlying storage system when deletion fails"
In sidecar controller [here](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/sidecar-controller/snapshot_controller.go#L72), it's possible that the scheduled CSI deletion operation in another goroutine fails. The content finalizer should not be removed until the CSI deletion operation success.

[2019-12-13 20:23] yuxiangqian commented on #209
/kind bug
/assign @yuxiangqian

[2019-12-13 20:23] yuxiangqian commented on #209
cc @xing-yang

[2019-12-13 20:46] xing-yang commented on #208
I tested csi-snapshotter v1.2.2 image on k8s 1.14.7.  It worked for me.

[2019-12-13 20:50] xing-yang commented on #208
I deployed csi-snapshotter using the yaml files below except that I modified the image version from v1.1.0 to v1.2.2 (`image: quay.io/k8scsi/csi-snapshotter:v1.2.2`):
https://github.com/kubernetes-csi/external-snapshotter/tree/v1.2.2/deploy/kubernetes

[2019-12-18 02:03] #209 closed

[2019-12-19 00:29] msau42 opened #212 "Don't crash sidecar or controller if CRD Is not installed"
Because of the alpha and beta CRD install conflicts, it's possible that the beta CRD may not be defined by the time the controller/sidecar starts.

We should probably log a warning message and backoff and retry.

[2019-12-19 00:29] msau42 commented on #212
/assign @yuxiangqian

[2019-12-19 13:58] xing-yang commented on #102
/assign @xing-yang

[2019-12-19 14:16] xing-yang opened #213 "Create swagger.json"
We got a request to have a swagger.json so that it can be used to generate client code using Swagger Codegen.

[2019-12-19 14:16] xing-yang commented on #213
/assign @xing-yang

[2019-12-19 19:15] xing-yang opened #214 "Requeue the snapshot object"
This was brought up during the code review by
@msau42 in https://github.com/kubernetes-csi/external-snapshotter/pull/211.

[code]

Open this issue to track it.  I'll look at this after v2.0 release.

[2019-12-19 19:15] xing-yang commented on #214
/assign @xing-yang

[2019-12-20 00:35] xing-yang opened #216 "Verify snapshot name size limit in CSI spec"
During code review of https://github.com/kubernetes-csi/external-snapshotter/pull/206, @msau42 raised a comment about verifying snapshot name length.

Verify what is the size limit for a snapshot name in CSI spec.

CSI Spec says 128 max: https://github.com/container-storage-interface/spec/blob/master/spec.md#size-limits.  It also says length of the snapshot name conforms to the length limit of an

[2019-12-20 00:36] xing-yang commented on #216
/assign @xing-yang

[2019-12-20 01:15] #154 closed

[2019-12-20 03:35] #147 closed

[2019-12-21 09:05] liyongxian opened #219 "Unable to attach or mount volumes"
I did as follow:
1、kubectl create -f config/crd；
2、kubectl create -f deploy/kubernetes/snapshot-controller
3、kubectl create -f deploy/kubernetes/csi-snapshotter/rbac-csi-snapshotter.yaml,rbac-external-provisioner.yaml ,setup-csi-snapshotter.yaml.
I created pvc sucessfully.When I used it in Pod, but it was wrong.
**The problem :**
![aaaaa](https://user-images.githubusercontent.com/18571576/71305807

[2019-12-21 16:22] xing-yang commented on #219
The deployment example file in the external-snapshotter repo is only intended to show how to create/delete a snapshot.  It does not include external-attacher sidecar and the node-driver-registrar sidecar so you can't test it with a Pod.

To see a full example, take a look of here:
https://github.com/kubernetes-csi/csi-driver-host-path#deployment

[2019-12-23 18:46] ggriffiths commented on #196
Still need to revisit and update the following:
- pkg/common-controller/snapshot_create_test.go (a few need to be re-visited)
- pkg/common-controller/snapshot_delete_test.go (most need to be re-written)
- pkg/common-controller/snapshot_update_test.go (a few need to be re-visited)

[2019-12-25 22:17] xing-yang opened #221 "Further simplify syncSnapshot"
During the review of https://github.com/kubernetes-csi/external-snapshotter/pull/201, there's a comment that syncSnapshot() in the common snapshot controller can be simplified further.  Open this issue to track that.

[2019-12-25 22:17] xing-yang commented on #221
/assign @xing-yang

[2019-12-25 22:21] xing-yang opened #222 "Check isVolumeBoundToClaim()"
During the review of https://github.com/kubernetes-csi/external-snapshotter/pull/201, there's a comment that isVolumeBoundToClaim() needs to be more strict.  Open this issue to track that.

[2019-12-25 22:21] xing-yang commented on #222
/assign @xing-yang

[2019-12-30 02:57] bswartz opened #223 "Snapshotter sidecar spams CreateSnapshot() forever"
I created a snapshot, and it succeeded as expected within a few seconds. However the sidecar continues to call CreateSnaphot() over and over every 60 seconds, despite my SP returning success every time. If I create multiple snapshots, each one causes an RPC call every 60 seconds to CreateSnapshot() as long as the snapshot exists. This will turn into a scalability problem very quickly with any reas

[2019-12-30 02:59] xing-yang commented on #223
Is this happening with latest code in master?

[2019-12-30 02:59] xing-yang commented on #223
/assign @xing-yang

[2019-12-30 03:11] xing-yang commented on #223
@bswartz Does your driver support idempotency?  If the controller calls CSI driver function CreateSnapshot periodically with the same input parameters, does it return information for the same snapshot?  The sidecar controller will call CreateSnapshot to get status of a dynamically created snapshot. If the status is lost, we'll need to rebuild status based the CreateSnapshot call for dynamic provis

[2019-12-30 03:55] bswartz commented on #223
Yes the driver is idempotent. If you look at the log you can see exactly what gets returned from CreateSnapshot() each time, and you can see it doesn't change.

The image I'm using is: quay.io/k8scsi/csi-snapshotter:canary
I can try with any other version (or build my own) if that would help.

[2019-12-30 04:14] xing-yang commented on #223
So it won't create multiple physical snapshots on your storage system for the same snapshot creation request, right?  It just keeps calling CreateSnapshot to check status.

I think this came in after the splitting controller change.  Before the split, snapshot controller will stop calling CreateSnapshot to check status when readyToUse is true.  With the split, the common snapshot controller keeps

[2019-12-30 04:41] bswartz commented on #223
Yes I suspect the same. Polling would make sense if readyToUse was false, but once it's true, the sidecar must stop polling.

[2019-12-30 04:48] xing-yang commented on #223
Can you give this a try?
https://github.com/kubernetes-csi/external-snapshotter/pull/224

[2019-12-30 05:14] bswartz commented on #223
That change does seem to fix this bug. There's another related bug that's less annoying but still problematic for me. I'll create another issue for that.

[2019-12-30 05:25] bswartz opened #225 "Random delay before readyToUse=true"
My CSI plugin always returns readyToUse=true, because it simply blocks in CreateSnapshot() until the snapshot is created (typically 1 second or less). Usually the volumesnapshot object in k8s reflects readyToUse=true immediately, but with some randomness it sometimes shows up as readyToUse=false, and only get corrected after about a minute.

Here is a log that illustrates this happening:
[external

[2019-12-30 14:51] xing-yang commented on #225
/assign @xing-yang

[2019-12-30 18:07] xing-yang commented on #225
Is this tested with my fix https://github.com/kubernetes-csi/external-snapshotter/pull/224?
Can you provide corresponding logs from snapshot-controller?

[2019-12-30 18:28] xing-yang commented on #225
Can you also check the status of content: "kubectl describe volumesnapshotcontent"?  Is ReadyToUse in content already set to "true" while ReadyToUse in volumesnapshot is still "false"?  Is it a long delay until they are in sync?  I noticed this behavior early on and fixed it.  If it still happens to you, I need to see logs from both sidecar and snapshot controller.

[2019-12-31 01:50] saad-ali commented on #142
Fixed in https://github.com/kubernetes-csi/external-snapshotter/pull/227

[2019-12-31 01:51] saad-ali commented on #142
@xing-yang @yuxiangqian You should open one a similar bug on the common snapshot controller

[2019-12-31 01:51] saad-ali commented on #142
Or I guess we can leave this open to track that

[2019-12-31 01:56] bswartz commented on #225
I just reproduced this with the canary version controller and the #224 version of the sidecar. During the period between when the snapshot is created and readyToUse=true on the volumesnapshot, the volumesnapshotcontent object has no status subresource at all.

Here are the 2 logs from the test run:
[snapshot-controller.log](https://github.com/kubernetes-csi/external-snapshotter/files/4011693/snaps

[2019-12-31 02:54] xing-yang commented on #225
I guess you meant "readyToUse=false" in the above paragraph?

The status of VolumeSnapshot is updated based on the status of VolumeSnapshotContent. So what you are seeing is "in sync" since VolumeSnapshotContent will be created before we try to create the physical snapshot on the storage system to avoid leaking.  So looks like it is not a delay of status synchronization issue.  I'll take a look of

[2019-12-31 03:05] bswartz commented on #225
I just mean from the time the snapshot is created until it's ready to use. In this case it appears to be 49 seconds between 01:29:02-01:29:51.

The relevant line in the log is line 96 of the external-snapshotter.log, where the controller fails to update the status. It seems to be losing a race with something else that updates the same object, but I'm not sure what it's racing with. Also it's not c

[2019-12-31 03:14] xing-yang commented on #225
Regarding "Also it's not clear why the controller can't just retry the update immediately after losing the race", there were some concerns raised during reviews over retries added immediately after an API object update error.  The decision was to revisit this issue after 2.0 release.  See this issue here: https://github.com/kubernetes-csi/external-snapshotter/issues/214.  It's probably not obvious

[2019-12-31 03:15] xing-yang commented on #214
There's a question raised in issue https://github.com/kubernetes-csi/external-snapshotter/issues/225 that we should do retry immediately after update content status fails.  We should re-visit it when we look at this requeue issue.

[2019-12-31 04:04] xing-yang commented on #142
Sure.

[2019-12-31 15:26] bswartz commented on #225
Yeah a retry might not be appropriate and a requeue could be the better strategy, as long as it syncs again quickly, at least of the case of losing an API race.

For other error conditions that are likely to persist for some time, I think an exponential backoff would be better than automatically waiting a whole minute.

[2020-01-01 09:05] igorgonibm commented on #208
We found the problem. We forgot to add volumeMounts to sidecar definition.

[2020-01-01 09:05] #208 closed

[2020-01-02 15:21] #223 closed

[2020-01-02 19:24] xing-yang commented on #214
Also for successfully processed snapshot, we should "Forget" it so it won't be queued until another change happens.

[2020-01-03 20:04] xing-yang opened #231 "PVC Finalizer should be removed when not in use"
This is a bug introduced by the latest code refactoring.  PVC finalizer should not be tied to the deletionTimestamp on the snapshot.  It should always be removed when there are no snapshots actively using it as a source.

[2020-01-03 20:05] xing-yang commented on #231
/assign @xing-yang

[2020-01-03 20:37] #231 closed

[2020-01-08 03:23] xing-yang commented on #134
/remove-lifecycle stale

[2020-01-08 15:52] xing-yang commented on #186
I think the snapshot-controller should stay with the APIs and generated clients in the same repo.  Otherwise there's no way to validate the APIs and we'll have more problems trying to sync up 3 repos.

[2020-01-08 15:52] xing-yang commented on #186
/assign @xing-yang

[2020-01-08 16:20] msau42 commented on #186
Yes I think same repo but separate go modules would be great

[2020-01-14 16:43] bells17 opened #236 "Add support ListSnapshots secrets"
Hi, CSI supported ListSnapshots secrets in [this PR](https://github.com/container-storage-interface/spec/pull/372).
So I want external-snapshotter to support ListSnapshots secrets.

ref: #152

[2020-01-14 16:48] xing-yang commented on #236
There is a PR on this: https://github.com/kubernetes-csi/external-snapshotter/pull/162.  It was delayed because we were busy with the snapshot beta work.  Hopefully we can get it in the next release.

[2020-01-14 16:52] bells17 commented on #236
@xing-yang Oh, Thank you.
I created [PR](https://github.com/kubernetes-csi/external-snapshotter/pull/237)...but should I close this?
(I did not notice that there was PR...)

[2020-01-14 16:55] xing-yang commented on #236
Oh, I didn't notice that you've already created a PR.  I'm checking with the author of the other PR and see if he is still interested in working on it.

Leave your PR there now.  Let me sort it out first.  Thanks.

[2020-01-14 16:57] bells17 commented on #236
I see. Thanks.

[2020-01-14 18:39] xing-yang commented on #236
I have checked with the author of the other PR.  You can keep your PR.   I'll review it soon.  Thanks for contributing!

[2020-01-14 19:05] tdmanv commented on #236
@bells17 @xing-yang thank you!

[2020-01-15 15:54] igorgonibm opened #238 "Create volume from snapshot - dataSource is empty"
Our team is working on csi driver and currently adding snapshots support
We succeeded to create snapshots - volumesnapshotcontents are created

But for some reason when trying to create volume using these snapshots the controller CreateSnapshots doesn't receive dataSource info (it is empty)
If we remove dataSource entry from this yaml pv is created successfully so it seems the problem is snapshot

[2020-01-15 16:01] xing-yang commented on #238
Did you enable VolumeSnapshotDataSource feature gate? https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html#kubernetes-cluster-setup

It needs to be manually enabled for k8s version 1.12 to 1.16.  In 1.17, it is enabled by default when it is promoted to Beta.

[2020-01-15 16:14] igorgonibm commented on #238
It is enabled already. In /etc/kubernetes/manifests/kube-apiserver.yaml we added - --feature-gates=VolumeSnapshotDataSource=true.
Is there any other place we should enable it too?

[2020-01-15 16:36] zhucan commented on #238
I think the kube-controller and  kubelet that it needs the feature-gates @igorgonibm

[2020-01-16 09:05] igorgonibm commented on #238
How can I do it? I couldn't find it.

[2020-01-16 09:24] igorgonibm commented on #238
How to enable feature gate in kube-controller and kubelet ?

[2020-01-16 09:27] zhucan commented on #238
**kube-controller-manager:**
![image](https://user-images.githubusercontent.com/13997135/72510937-448b3100-3885-11ea-886f-f7daf6d55532.png)
**kubelet:**
![image](https://user-images.githubusercontent.com/13997135/72511098-8025fb00-3885-11ea-9795-f2396eeeadda.png)

@igorgonibm

[2020-01-16 23:27] alex1989hu opened #239 "Incorrect repository layour for v2 Go Modules"
It is impossible to use repository with Go Modules because it breaks the mandatory requirements for `v2`.

It works with `v1.2.2` but not with `v2.0.0`.
https://sum.golang.org/lookup/github.com/kubernetes-csi/external-snapshotter@v1.2.2

[code]

Details and requirements:
- https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning
- https://blog.golang.org/v2-go-modules

[2020-01-16 23:54] xing-yang commented on #239
Hi @pohly, can you take a look?

[2020-01-17 07:55] pohly commented on #239
@xing-yang you need to do something similar to https://github.com/kubernetes-csi/csi-test/pull/232

You can probably drop the "dep" compatibility symlinks. This seems less important for external-snapshotter than it was for csi-test.

[2020-01-17 10:29] alex1989hu commented on #239
Agree, drop the `dep` compatibility.

[2020-01-17 11:20] alex1989hu commented on #239
If I understood well the documentation, a new tag should be also added once `v2` is in to let dependant project use the implementations here. But it needs a deep dive into docs.

[2020-01-17 13:09] pohly commented on #239
That's correct. The existing v2.0.0 release needs to be replaced by a v2.0.1.

[2020-01-22 18:01] xing-yang commented on #187
/remove-lifecycle stale

[2020-01-23 17:19] xing-yang commented on #239
I'm still getting the same error after merging the fix and cutting the v2.0.1 release:
[code]

I tried csi-test, but it also does not work for me.
[code]

Reopen this issue.
@alex1989hu let me know if it works for you now.
@pohly any comments?

[2020-01-23 17:45] alex1989hu commented on #239
The original issue is solved, dependency can be resolved now. You can check it: https://sum.golang.org/lookup/github.com/kubernetes-csi/external-snapshotter/v2@v2.0.1

`code-generator` remains only.

**Example go.mod**
[code]
Import statements have to be updated to use it correctly:

[code]

[2020-01-23 20:06] alex1989hu commented on #239
I think it is a defect of `code-generator`: incorrectly resolve package path => wants to write into `v2` directory instead of resolving `v2` as package path. To overcome this, the following workaround works:

# Step 1
[code]

# Step 2 - add `v2` to hack/update-generated-code.sh
[code]

# Step 3
[code]

# Step 4 - revert `v2` directory
[code]

[2020-01-24 04:20] xing-yang commented on #239
One more step: git checkout -- hack/update-generated-code.sh

[2020-01-24 04:22] xing-yang commented on #239
It tried it and it worked for me, but too complicated and error prone.  I wonder if v2 should actually be the physical path while pkg and cmd should be symlinks, but I'm not sure what additional problems that will bring.

Can you submit a PR and add these steps to hack/README.md?

[2020-01-24 07:07] pohly commented on #239
Xing Yang <notifications@github.com> writes:

You also need to include the version in the path, like this:

  go get github.com/kubernetes-csi/csi-test/v3/pkg/sanity@v3.0.0

[2020-01-24 14:24] xing-yang commented on #239
@pohly that works. Thanks.

[2020-01-30 04:40] xing-yang commented on #152
/remove-lifecycle stale

[2020-01-30 09:26] Kartik494 opened #245 "Issue With https://github.com/kubernetes-csi/external-snapshotter/blob/master/examples/kubernetes/snapshot.yaml"
When i apply Snapshot.yaml in my enviorment i got error
root@kmaster:/home/vagrant# kubectl apply -f snapshot.yaml
error: unable to recognize "snapshot.yaml": no matches for kind "VolumeSnapshot" in version "snapshot.storage.k8s.io/v1beta1"

/kind bug

[2020-01-30 15:00] xing-yang commented on #245
Looks like you don't have the v1beta1 snapshot CRDs installed.  See instructions on how to install CRDs here:
https://github.com/kubernetes-csi/external-snapshotter/blob/master/README.md#usage

[2020-01-31 04:25] Kartik494 commented on #245
Thanks,it is working fine now

[2020-01-31 04:25] #245 closed

[2020-02-02 17:27] bells17 opened #246 "Remove volumesnapshot.spec.source.snapshotHandle field."
It seems that volumesnapshot.spec.source.snapshotHandle is the same field that has meaning as volumesnapshot.spec.snapshotHandle.

And I noticed volumesnapshot.spec.source.snapshotHandle never had any value set.
So now the GetSnapshotStatus method never calls.
https://github.com/kubernetes-csi/external-snapshotter/blob/4b7aec33d4760138711058c8d94f324188b4e06b/pkg/sidecar-controller/snapshot_contro

[2020-02-02 21:02] xing-yang commented on #246
Spec.Source.SnapshotHandle in VolumeSnapshotContent is only specified for pre-provisioned snapshots.    It indicates a desired state.  If you are testing dynamically creating a snapshot, it will be empty.  See "Importing an existing volume snapshot with Kubernetes" section in the blog https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/.

Status.SnapshotHandle in

[2020-02-03 11:01] bells17 commented on #246
Thank you for your describe. I understand.

[2020-02-03 11:01] #246 closed

[2020-02-03 20:31] xing-yang commented on #115
/remove-lifecycle stale

[2020-02-05 12:26] jsafrane opened #247 "Print useful info in kubectl get <CRD>"
Current info printed by kubectl is not really useful:

[code]

With [additional printer columns](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns), it could print e.g. CSI driver (in VolumeSnapshotClass and VolumSnapshotContent) or "Ready" column in VolumeSnapshot. Add more columns as you see fit - check `kubectl get pv

[2020-02-05 14:08] zhucan commented on #247
+1,  Is possible the same as the display of pvc?

[2020-02-05 14:18] xing-yang commented on #247
Yes, this is good to have.

[2020-02-05 14:20] xing-yang commented on #247
/assign @xing-yang

[2020-02-07 01:24] boylee1111 opened #248 "Cannot delete VolumeSnapshotContent with 'Retain' policy for imported snapshot using external-snapshotter beta"
**Kubernetes version:**
[code]

**Snapshot common controller image:**
[code]

**snapshot sidercar controller image:**
[code]

**Reproduce steps:**
1. Create VolumeSnapshotContent with snapshot handle, the DeletionPolicy is **Retain**:
[code]

2. Create VolumeSnapshot bound to content:
[code]

3. Delete VolumeSnapshot, and it is gone successfully.
4. Delete VolumeSnapshotContent, the finalizer is n

[2020-02-07 01:34] boylee1111 commented on #248
It seems not working for 'Delete' policy either.

After step 3, I patched VolumeSnapshotContent deletion policy:
`kubectl patch volumesnapshotcontent snapshotcontent-static-binding -p '{"spec":{"deletionPolicy":"Delete"}}' --type=merge`

Then `kubectl` delete the VolumeSnapshotContent, it is never deleted either. Underlying snapshot is exist as well.

[2020-02-07 02:22] xing-yang commented on #248
Do you see any error messages in the logs or events?

[2020-02-07 02:30] boylee1111 commented on #248
The common controller will print logs below repeatedly:

[code]

The sidecar controller will print logs below repeatedly:

[code]

Looks like https://github.com/kubernetes-csi/external-snapshotter/blob/release-2.0/pkg/sidecar-controller/snapshot_controller.go#L542 always return false, because there is no annotation  on the content.

[2020-02-07 02:46] xing-yang commented on #248
Do you know if the "Volume Snapshot Ref" UID is set after snapshot and content is bound to each other?  If so, what is the UID?

[2020-02-07 03:02] xing-yang commented on #248
I'm trying to figure out why the volumesnapshot-being-deleted annotation is not set.  One possibility is that for some reason snapshot is set to nil.  One reason for snapshot to be nil is that UID in VolumeSnapshotRef in the content is somehow different from the snapshot UID.

[2020-02-07 03:19] boylee1111 commented on #248
Yes, the VolumeSnapshotRef UID on VolumeSnapshotContent is set correctly before I deleted the VolumeSnapshot.

My guess is that the annotation is set on syncContent() function instead of syncSnapshot (https://github.com/kubernetes-csi/external-snapshotter/blob/release-2.0/pkg/common-controller/snapshot_controller.go#L144).
When the VolumeBackupContent deletion policy is 'Retain', delete VolumeSnap

[2020-02-07 14:35] xing-yang commented on #248
If policy is Retain, it will not trigger a syncContent event immediately.  So looks like this will always happen for the Retain case.

I'll work on a fix.

[2020-02-07 14:35] xing-yang commented on #248
/assign @xing-yang

[2020-02-07 15:10] xing-yang commented on #248
Made a fix here: https://github.com/kubernetes-csi/external-snapshotter/pull/249
Can you give a try to see if it has fixed the problem?

[2020-02-07 18:57] boylee1111 commented on #248
Tested and it works for scenarios above, thanks!

[2020-02-10 02:06] bells17 opened #251 "Should set snapshot.storage.kubernetes.io/deletion-secret-name(space) annotation automatically to VolumeSnapshotContent when importing an exists snapshot"
Hi, I think it should set snapshot.storage.kubernetes.io/deletion-secret-name(space) annotation automatically to VolumeSnapshotContent when importing an exists snapshot.

Now, If your CSI driver uses VolumeSnapshotClass Secrets in DeleteSnapshot RPC, may DeleteSnapshot is failed.
Because the VolumeSnapshotClass Secrets don't be used when requesting the DeleteSnapshot RPC call.

If you want to use

[2020-02-11 20:03] xing-yang commented on #134
Hi @ShyamsundarR, have you tested this with the beta version of snapshot feature?  I tested it and found that this problem is fixed.  Can you give a try?

[2020-02-11 23:50] ShyamsundarR commented on #134
Will test and report in a day or two, thanks!

[2020-02-12 18:53] ggriffiths opened #253 "Refactor common-controller tests to use test model similar to in-tree PV tests"
/assign @ggriffiths

[2020-02-17 20:13] ShyamsundarR commented on #134
Tested the v2.0 csi-snapshotter on a kubernetes v1.17 setup, using a slightly [modified](https://github.com/ShyamsundarR/ceph-csi/commit/be50b635be855ae1ec8f708c7b83d323fd00a3d0) ceph-csi, to ensure CreateSnapshotRequest times out.

Here are the tests and the results.

- Test case 1:
  - Create a [VolumeSnapshot](https://github.com/ShyamsundarR/ceph-csi/blob/k8s-snapshot-beta/examples/rbd/snapshot

[2020-02-17 20:54] xing-yang commented on #134
Thanks for the details tests.  For test case 5 and 6, are you creating the snapshot dynamically?  Do you mean that the VolumeSnapshot API object was deleted, but VolumeSnapshotContent was not deleted and physical snapshot resource was not created on the storage system?

For the finalizer on PVC, I'll take a look.

[2020-02-18 11:50] ShyamsundarR commented on #134
I did not understand the "dynamic" part, I'll try to clarify my steps better below, hope that helps.

So, VolumeSnapshot object and VolumeSnapshotContent were deleted, but the physical snapshot resource was created and not deleted on the storage system.

The test went something like so, (start time T)
- T: Create VolumeSnapshot object
  - VolumeSnapshotContent gets created soon after
- T+1: csi-sn

[2020-02-18 16:11] xing-yang commented on #134
Between step T and T+2, do you see a "snapshot.storage.kubernetes.io/volumesnapshotcontent-bound-protection" finalizer on the VolumeSnapshotContent?  Also what finalizers are on VolumeSnapshot?

[2020-02-18 16:26] ShyamsundarR commented on #134
- VolumeSnapshotContent finalizers between T and T+2
     - snapshot.storage.kubernetes.io/volumesnapshotcontent-bound-protection
- VolumeSnapshot finalizers between T and T+2
    - snapshot.storage.kubernetes.io/volumesnapshot-as-source-protection
    - snapshot.storage.kubernetes.io/volumesnapshot-bound-protection

[2020-02-18 19:44] ShyamsundarR commented on #134
@xing-yang what I see as the issue, is in this snapshotter side car [code](https://github.com/kubernetes-csi/external-snapshotter/blob/62e1dbb61c274a6168aea4129c4448f16b8230b3/pkg/sidecar-controller/snapshot_controller.go#L59-L74) snippet.

  - On a delete annotation that is set by the snapshot controller, `shouldDelete` would return true
  - As the SnapshotCreate request is still in flight (or ti

[2020-02-18 19:51] xing-yang commented on #134
Sure, I'll take a look.

[2020-02-19 01:36] #253 closed

[2020-02-19 19:10] xing-yang opened #259 "Investigate compatibility of restored volume vs original source volume for snapshot"
Open this issue to investigate whether we should check compatibility of volume mode (block mode-> filesystem mode) and fstype when restoring volume from snapshot.

Note: original source volume may be deleted already during restore.

[2020-02-21 02:28] #236 closed

[2020-02-27 16:23] #247 closed

[2020-02-28 04:38] xing-yang commented on #134
@ShyamsundarR can you give this fix a try?  https://github.com/kubernetes-csi/external-snapshotter/pull/261

[2020-02-28 14:37] xing-yang commented on #251
Yes, it makes sense to set deletion secret annotation for pre-provisioned snapshots as well.

I think it should be added in this routine and secrets should be retrieved from snapshotClass on the content for pre-provisioned case (same as ListSnapshots secret):
https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/sidecar-controller/snapshot_controller.go#L261

One thing we need to

[2020-02-28 22:02] #248 closed

[2020-03-02 07:51] wing328 commented on #213
You may also consider using OpenAPI Generator to generate API clients in different programming languages.

You may name the file as "openapi.json" or "openapi.yaml" instead as the Swagger specification has been donated to OpenAPI Initiative and renamed to OpenAPI Specification: https://en.wikipedia.org/wiki/OpenAPI_Specification

Disclosure: I'm the top contributor to both Swagger Codegen and Open

[2020-03-02 18:41] xing-yang commented on #251
CC @msau42

[2020-03-03 08:41] inajob opened #264 "VolumeSnapshot resources still remain after pass the E2E test"
**What happened**:

Run storage E2E test and passed the test, but some VolumeSnapshot resources remain.

**What you expected to happen**:

VolumeSnapshot resources are deleted after E2E test.

**How to reproduce it (as minimally and precisely as possible)**:

Use https://github.com/zlabjp/kube-conformance .

Below is my testdriver.yaml

[code]

**Anything else we need to know?**:

The main cause m

[2020-03-04 02:59] msau42 commented on #251
In terms of responsibility, I think we currently have some clear boundaries:
* When dynamically provisioning a snapshot, it's the snapshot controller that creates and owns the SnapshotContent object. The only thing the controller can modify is the Status.
* When manually importing a snapshot, it's the admin that creates and owns the object.

I don't think we should mix responsibilities and have th

[2020-03-04 18:50] yuxiangqian commented on #151
/remove-lifecycle rotten

[2020-03-04 19:05] #196 closed

[2020-03-05 05:14] xing-yang opened #267 "Add more sidecar tests"

[2020-03-05 05:15] xing-yang commented on #267
/assign @ggriffiths

[2020-03-05 05:16] #267 closed

[2020-03-05 05:40] ggriffiths commented on #204
I meant to refer to this one @xing-yang in #266

[2020-03-05 19:25] msau42 opened #268 "Add event for snapshotting in progress"
We have a similar event when creating a PVC that we're waiting for the driver to provision.

/kind feature

[2020-03-05 19:31] xing-yang commented on #268
@msau42 you want this event to be on VolumeSnapshot object, not VolumeSnapshotContent, right?

[2020-03-05 19:35] msau42 commented on #268
Correct

[2020-03-05 19:38] xing-yang commented on #268
If we are adding this on VolumeSnapshot object, we can do it after we've created VolumeSnapshotContent in the common controller.  It is not very precise but probably close enough.

The sidecar is the one that sends request to the CSI driver but it only has access to the VolumeSnapshotContent object.

We can also have the common controller check the VolumeSnapshotBeingCreated annotation (which is b

[2020-03-07 21:07] xing-yang commented on #115
This issue is discussed here as well: https://github.com/kubernetes-csi/external-provisioner/issues/252

[2020-03-09 15:05] xing-yang commented on #152
This is fixed by this PR: https://github.com/kubernetes-csi/external-snapshotter/pull/252

[2020-03-09 15:05] #152 closed

[2020-03-09 15:14] xing-yang opened #269 "Add E2E test for retain policy (dynamic provisioning)"
Currently we only have e2e test for Delete policy.
Should add a e2e test for Retain policy.

[2020-03-09 15:15] xing-yang opened #270 "Add E2E tests for deleting API objects out of order (finalizers)"
Test the following finalizers
- "snapshot.storage.kubernetes.io/volumesnapshotcontent-bound-protection"
- "snapshot.storage.kubernetes.io/volumesnapshot-bound-protection"
- "snapshot.storage.kubernetes.io/volumesnapshot-as-source-protection"
- "snapshot.storage.kubernetes.io/pvc-as-source-protection"

[2020-03-09 15:18] xing-yang opened #271 "Add E2E tests for secret fields"
Test the following secrets:
- Delete snapshot secrets
- ListSnapshots secrets

[2020-03-09 17:28] xing-yang commented on #268
Discussed about this at today's CSI implementation meeting and had a conclusion:
We'll add an event on the VolumeSnapshot API object after we've created VolumeSnapshotContent in the common controller.

Take a look of the create event on PVC for example.

[2020-03-09 17:29] xing-yang commented on #268
/assign @zhucan

[2020-03-09 22:21] ashish-amarnath opened #272 "Lifecycle of VolumeSnapshot Kubernetes objects should be decoupled from that in the storage system"
## User Story
As a user of CSI volumesnapshots, I would like to use the volumesnapshots to recover from (intentional/unintentional) deletion of my Kubernetes workloads without having to indefinitely retain all of the volumesnapshots.

## Detailed Description
Without using the `DeletionPolicy: Retain` an accidental deletion of the kubernetes namespace will trigger a cascading delete of volumesnapsh

[2020-03-09 22:32] ashish-amarnath opened #273 "Relation between VolumeSnapshotContent and VolumeSnapshot should be 1:many"
## User Story
As a user of CSI volumesnapshot API, I would like to be able to use volumesnapshotcontents, with a non-nil `Source.snapshotHandle`, to provision new volumes pre-populated with data from the same snapshot in different namespaces in a kubernetes cluster.

## Detailed Description
For Volumesnapshots with a non-nil `.Spec.Source.SnapshotHandle` currently, it is only possible to create mu

[2020-03-09 22:50] ashish-amarnath opened #274 "VolumeSnapshotRef.UID should be cleared on volumesnapshot deletion"
## User story
As a user of CSI volumesnapshot APIs, I would like to be able to reuse existing volumesnapshotcontents to provision new volumes pre-populated data when using `DeletionPolicy: Retain` on the volumesnapshotcontent.

## Detailed Description
When using `DeletionPolicy: Retain` on the volumesnapshotcontent, deletion of volumesnapshot objects will leave a dangling reference to the deleted

[2020-03-10 16:51] nrb commented on #273
Would https://github.com/kubernetes/enhancements/pull/1112 be relevant here, as an alternative to having a 1:N relationship between VSContents to VolumeSnapshots?

I ask because making the 1:N relationship would break the analog between VSContents/VS and PV/PVC, which makes the snapshot objects a little harder to reason about.

Another suggestion may be to copy the `snapshotHandle` from one VSCont

[2020-03-11 01:54] ashish-amarnath commented on #273
This is what I imaging the `VolumeSnapshotContentSpec` type to look like in a 1:N mapping
[code]
Every volumesnapshot object would add itself to the ref list. This will need some synchronization primitive to protect the ref list and out of band manipulation of the ref list, think editing the spec by hand, can lead to undesirable and unexpected behavior.

[2020-03-11 20:23] yuxiangqian commented on #212
this is no longer an issue.

[2020-03-11 20:23] yuxiangqian commented on #212
/close

[2020-03-11 20:23] #212 closed

[2020-03-11 21:36] ShyamsundarR commented on #134
Repeated tests as in [this](https://github.com/kubernetes-csi/external-snapshotter/issues/134#issuecomment-587423293) comment.

Tests 1-4 passed, but the new annotation was removed in tests 3 and 4, due the Aborted error code, as noted in the review [here](https://github.com/kubernetes-csi/external-snapshotter/pull/261#pullrequestreview-373118804).

Test 5 actually failed to delete the snapshot, I

[2020-03-12 03:31] xing-yang commented on #134
@ShyamsundarR Thanks for testing this.  In Test 5, was the deletion timestamp added to VolumeSnapshot and VolumeSnapshotContent objects and was the `snapshot.storage.kubernetes.io/volumesnapshot-being-deleted` annotation added to the VolumeSnapshotContent.

[2020-03-12 15:23] ShyamsundarR commented on #134
Yes, these were present.
(edited yaml output as below)
[code]

I waited ~5+ minutes, checked again now, the sidecar is still looping on delete checking for the new annotation and not invoking DeleteSnapshot CSI call.

[2020-03-12 15:33] xing-yang commented on #134
So "ctrl.handler.CreateSnapshot()" never finished successfully and therefore this (https://github.com/kubernetes-csi/external-snapshotter/pull/261/files#diff-de5dbd65778c167a3d05cd17929d6851R368) is never called to remove the `volumesnapshot-being-created` annotation?

[2020-03-12 18:17] ShyamsundarR commented on #134
The issue seems to be that, on deletion of the snapshot prior to a successful creation, the control flow enters the else part of [this](https://github.com/kubernetes-csi/external-snapshotter/blob/2890f4af52e7bd616077d736a9aa9c608c61f4a5/pkg/sidecar-controller/snapshot_controller.go#L75-L87) check.

The code path here `checkandUpdateContentStatus` -> `checkandUpdateContentStatusOperation` -> calls

[2020-03-12 19:04] ShyamsundarR commented on #134
Correction, this (taking the else branch) occurs even without deleting the in flight volume snapshot.

The condition `content.Status` is non-nil post the initial CreateVolume error (say DeadlineExceeded) is updated on the content object. Thus future retries of the same enters the `checkandUpdateContentStatus` call, which does not have the annotation addition/removal logic in it.

This leads to lea

[2020-03-12 19:08] xing-yang commented on #134
Thanks.  Yeah, we call CreateSnapshot to check snapshot status after the initial call.  Let me add the new annotation logic to this update status code path as well.

[2020-03-16 12:56] zhucan commented on #268
@xing-yang Can you show me the example for creating event on PVC?

[2020-03-16 13:50] xing-yang commented on #268
We need to make a call like this:
https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L661

The event will be added on VolumeSnapshot object and eventype should be v1.EventTypeNormal.  Take a look of the caller of updateSnapshotErrorStatusWithEvent() to see how the parameters are passed in.  We don't need to call updateSnapshotErrorStatus

[2020-03-16 13:53] xing-yang commented on #268
The message itself should be similar to this one:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L1617

[2020-03-16 16:53] nrb commented on #273
The other thing you can do is to copy the VolumeSnapshotContent object, with the same snapshotHandle.

If different VSCs have conflicting deletion policies, then one VSC could delete the handle underneath the others, but there's not a whole lot we can do about that.

[2020-03-16 21:12] xing-yang opened #276 "Number of worker threads should be configurable"
Number of worker threads are fixed for snapshot-controller and csi-snapshotter.  They should be configurable.

https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/snapshot-controller/main.go#L44
https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/csi-snapshotter/main.go#L52

Example: https://github.com/kubernetes-csi/external-attacher/blob/master/cmd/csi-attac

[2020-03-16 22:47] xing-yang commented on #273
As discussed in today's Volume Snapshot WG meeting, there is a workaround. While the relationship between VolumeSnapshotContent to VolumeSnapshot is 1:1 mapping, we can create multiple VolumeSnapshotContents referencing the same snapshotHandle.  We can have many 1:1 VolumeSnapshotContent to VolumeSnapshot mappings.

@ashish-amarnath can this issue be closed as we have this workaround?

[2020-03-16 22:48] xing-yang commented on #274
Use case: When the whole namespace is deleted by accident, we want to be able to restore from VolumeSnapshotContent with the associated physical snapshot resource.

[2020-03-16 22:48] ashish-amarnath commented on #273
Yes. closing this one.
/close

[2020-03-16 22:49] #273 closed

[2020-03-16 22:56] xing-yang commented on #274
Discussed at today's Volume Snapshot WG meeting.

- Have the snapshot controller clear up VolumeSnapshotRef.UID may be reasonable, but need to think about potential race conditions.

Clearing up `volumesnapshotcontent.Spec.Source.volumehandle` and setting `volumesnapshotcontent.Spec.Source.snapshothandle` to the  `volumesnapshotcontent.Status.snapshotHandleset` are not the responsibility of the sn

[2020-03-16 23:11] xing-yang commented on #274
This can be discussed as part of the Data Protection workflow.

[2020-03-17 02:33] xing-yang commented on #272
Discussed at today's Volume Snapshot WG meeting.

This is asking for a 3rd deletion policy:
1. Delete - delete VolumeSnapshot, VolumeSnapshotContent, and its associated physical snapshot resource on the storage system.
2. Retain -  delete VolumeSnapshot, but keep VolumeSnapshotContent and its associated physical snapshot resource on the storage system.
3. New: SoftDelete or Delete with expiration

[2020-03-17 09:58] jichenjc opened #277 "[question] should I manually apply CRD after upgrade to 2.0.0?"
previous in cloud-provider-openstack we used 1.2.2 version seems we don't need apply CRD from snapshoter

but when I upgrade to 2.0.1, I start to see logs
https://github.com/kubernetes/cloud-provider-openstack/pull/974
[code]

I applied config/crd/*.yaml in this repo then everything is fine
should I manually apply this or I have some configuration error when upgrade to 2.0.1? thanks

[2020-03-17 10:01] zhucan commented on #277
@jichenjc You need to delete the old CRD and apply the "config/crd/*.yaml".

[2020-03-17 10:08] jichenjc commented on #277
my k8s is fresh new env  through hack command ..

ALLOW_PRIVILEGED=true RUNTIME_CONFIG="storage.k8s.io/v1=true" LOG_LEVEL=5 hack/local-up-cluster.sh

previously I don't need create CRD and now I need create CRD , correct? and is there any links so that I can apply on the fly?
otherwise I need download source code and apply? which mean it might out of sync... thanks

[2020-03-17 10:18] zhucan commented on #277
Before the v2.0.0（it's alpha）， we needn't to create crd，Because when the snapshotter sidercar running， it will create the crd in default. After the v2.0.0（it's beta）, we should create the crd by the yaml, If you k8s cluster has old crd, you need to delete it.

[2020-03-17 10:23] zhucan commented on #277
@jichenjc  Take a look at this, https://github.com/kubernetes-csi/external-snapshotter/issues/147

[2020-03-17 10:24] jichenjc commented on #277
perfect, that's what I need , thanks a lot

the only question is where to apply those CRDs? usually you can apply on line ,but apply the master branch directly is not a good idea ...
https://github.com/kubernetes-csi/external-snapshotter/releases doesn't have this kind of CRD

[2020-03-17 10:42] jichenjc commented on #277
Sorry, I mean follwing is what I need

[code]

#147 seems not related because https://github.com/kubernetes-csi/external-snapshotter/releases told us v2.0.0 is Jan this year while the question #147 is July last year

[2020-03-17 11:19] zhucan commented on #277
What's version do you want to use?

[2020-03-17 11:31] jichenjc commented on #277
latest one.. v2.0.1 ,thanks a lot

[2020-03-17 11:41] zhucan commented on #277
You should use there yaml  for apply "https://github.com/kubernetes-csi/external-snapshotter/tree/v2.0.1/config/crd"

[2020-03-17 12:01] jichenjc commented on #277
ok, got it ,thanks~

[2020-03-17 20:59] yuxiangqian commented on #142
Plan to add following metrics into common controller:
1. end to end latency of the following snapshot operations:
   a. creation (including snapshot cutting and uploading time if any)
   b. deletion
metric name: snapshot_operation_total_seconds
metric type: histogram
labels: driver, operation_name
2. Error counts of operation
metric name: snapshot_operation_error_count
metric type: Counter
labels:

[2020-03-17 23:45] saad-ali commented on #142
You can combine both (latency and count) in to a single metric.

[2020-03-18 00:14] msau42 commented on #142
Count is strange for a total latency metric that you want to capture across retry loops in the controller.

[2020-03-18 00:15] msau42 commented on #142
Maybe we can get some guidance from sig-instrumentation in this area. How do we map the K8s reconciliaton model to typical metrics patterns which are generally call-based?

[2020-03-18 02:00] yuxiangqian commented on #142
I share the some concern as Michelle, but @saad-ali what's the major benefits of combining them into one? one less TS?
One possibility is to model reconciliation as async-call-based metrics pattern.

[2020-03-18 03:33] jichenjc commented on #277
could you please let me know whether we have plan to put CRD into release?
otherwise ,I will take https://github.com/kubernetes-csi/external-snapshotter/tree/v2.0.1/config/crd into our doc..

[2020-03-18 03:44] jichenjc commented on #277
kubectl apply -f https://github.com/kubernetes-csi/external-snapshotter/tree/v2.0.1/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
error: error parsing https://github.com/kubernetes-csi/external-snapshotter/tree/v2.0.1/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml: error converting YAML to JSON: yaml: line 114: mapping values are not allowed in this context

download

[2020-03-18 17:48] xing-yang commented on #269
/assign @ggriffiths

[2020-03-18 17:48] ggriffiths commented on #269
/assign

[2020-03-19 01:01] xing-yang commented on #216
/remove-lifecycle stale

[2020-03-20 00:15] saad-ali commented on #142
My recommendation is based on this conversation: https://github.com/kubernetes-csi/external-provisioner/pull/386#discussion_r358461293
I'll defer to @logicalhan

[2020-03-20 07:07] yuxiangqian commented on #142
Its certainly possible to save the error counter by introducing a new label into the latency histogram. Unlike the csi metrics, there is no well-defined return code ATM in snapshot-controller which could serve as another label. To achieve that, a more well-defined error reporting mechanism needs to be introduced in the snapshot-controller. I will do some more digging.
 could be as simple as three

[2020-03-20 16:25] logicalhan commented on #142
A histogram metric is actually a series of metrics and it includes a count metric. So having another metric for counting is redundant; this is an artifact of the way prometheus exposition format expresses histograms.

[2020-03-20 17:32] msau42 commented on #142
@logicalhan @saad-ali the challenge here is that this metric is a total latency metric that captures the time across multiple retry loops, so the "count" is really only the number of Snapshot objects that were created.

How much value do you see in also having a per-retry loop metric? In reality, I found that per-loop metric at least for latency has not been very useful because it doesn't map to t

[2020-03-20 17:33] yuxiangqian commented on #142
this is slightly different than a pure count, it's an error count not total operation count. It also makes the situation more complex as the end to end latency metric tries to record the whole duration of an operation from the controller took it to either it succeeded or permanently failed. An operation might go through multiple reconcile loops before it's done, and same errors could happen. I pro

[2020-03-22 18:14] #239 closed

[2020-03-24 01:02] yuxiangqian commented on #274
"When using DeletionPolicy: Retain on the volumesnapshotcontent, deletion of VolumeSnapshot objects will leave a dangling reference to the deleted VolumeSnapshot object, preventing new VolumeSnapshots, with the same name in the same namespace, to attach back to the volumesnapshotcontent."
@ashish-amarnath I am not sure this is accurate.
Setting Retain as the DeletionPolicy implies the following: w

[2020-03-24 01:03] yuxiangqian commented on #272
/assign

[2020-03-24 01:22] ashish-amarnath commented on #274
@yuxiangqian I agree that it is a little over reaching to update the `volumesnapshotcontent`'s source fields and I've scratched that from the description.

But on the VolumeSnapshotRef.UID side, not sure what the inaccuracy is. I am saying that if the DeletionPolicy is retain, then the volumesnapshotcontent is retained even though the volumesnapshot is deleted.
In the retained volumesnapshotconten

[2020-03-24 01:35] yuxiangqian commented on #274
@ashish-amarnath The UID field is preserved on purpose ATM to not allow rebinding. It could certainly be revisited.
"Is reusing volumesnapshotcontent objects to pre-populate newly created volumes, not a supported scenario?" I meant once a VolumeSnapshotContent has been bound to a VolumeSnapshot, it's no longer bindable even if it's corresponding VolumeSnapshot has been removed from the system. One

[2020-03-24 01:52] ashish-amarnath commented on #274
@yuxiangqian Thanks for the clarifications.
I think we would want to revisit the preservation of the `UID` in the volumesnapshot ref.

About

I am curious to know why we want to disallow volumesnapshotcontents to be made re-bindable, by removal of the UID in the volumesnapshotref, iff the associated volumesnapshot is deleted.
Adding clarifiers my previous question:
Is reusing volumesnapshotcontent

[2020-03-24 03:22] yuxiangqian commented on #274
@ashish-amarnath As I stated previously:
In current design, rebinding is NOT allowed for good reasons.
In dynamic snapshot case, a VolumeSnapshotContent will be created by the common controller following a naming scheme, and the VolumeSnapshot's UID is part of it. This is the make sure the common controller NOT to recreate snapshots if it crashed, but rather using the consistent naming scheme to i

[2020-03-24 03:31] ashish-amarnath commented on #274
Are those reasons documented some where I can refer to?
Also curious to know if the static binding flow documented anywhere?

[2020-03-24 03:35] yuxiangqian commented on #274
[this](https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/) blog should give you an overview about it. The blog uses "pre-provisioned" instead of "static".

[2020-03-24 17:45] nrb commented on #274
@yuxiangqian Thanks for that. The blog post seems to be the mechanics, but not the reasoning.

I'm still a little confused, though - if the namespace is entirely deleted, and a VolumeSnapshotContents is bound via UID, how would a user be able to use the snapshot at all? Create a new, statically bound VSC for a new VolumeSnapshot?

Relatedly, what would you envision is the right path for tools gene

[2020-03-24 18:29] yuxiangqian commented on #274
@nrb
"I'm still a little confused, though - if the namespace is entirely deleted, and a VolumeSnapshotContents is bound via UID, how would a user be able to use the snapshot at all? Create a new, statically bound VSC for a new VolumeSnapshot?"
The original VolumeSnapshotContent now is an orphan. And yes, in order to reuse the physical snapshot, a preprovisioned (static) VSC and VS could be created

[2020-03-24 18:51] nrb commented on #274
Yeah, that's not really difficult; I think my original intent was to minimize creating too many objects in the cluster, but it sounds like from this issue and the meeting last week that I'm in the minority with this concern. I also don't want to break the controller logic by modifying the objects, so I think we can revisit the Velero assumptions. I also don't think I had anywhere to see the reason

[2020-03-24 19:51] yuxiangqian commented on #277
@jichenjc on top of what @zhucan has pointed out, in VolumeSnapshot BETA, there will be two controllers in your cluster (in Alpha it was only one). Details could be found in [here](https://github.com/kubernetes-csi/external-snapshotter/blob/master/README.md). In short:
1. snapshot controller, which is per-cluster. Its responsible for managing VolumeSnapshot and VSC binding, status update etc. CRDs

[2020-03-25 03:29] jichenjc commented on #277
@yuxiangqian I want to install both
https://github.com/kubernetes/cloud-provider-openstack/pull/974
is the PR that do the upgrade to beta version, it use both
https://github.com/kubernetes/cloud-provider-openstack/pull/974/files#diff-b50205da73c11460aff7f62130649d99R61

https://github.com/kubernetes/cloud-provider-openstack/pull/974/files#diff-b50205da73c11460aff7f62130649d99R61

the CRD need to b

[2020-03-25 03:41] xing-yang commented on #277
@jichenjc To use snapshot v2.0.1, you can install CRDs from the following location:
https://github.com/kubernetes-csi/external-snapshotter/tree/release-2.0/config/crd

The addon is for in-tree testing purpose.

[2020-03-25 03:51] jichenjc commented on #277
@xing-yang thanks , as previous mentioned, I understand I can download file from given places
but it's html format now.. not convenient for end user (e.g I need document user how to apply thoes CRD)

# kubectl apply -f https://github.com/kubernetes-csi/external-snapshotter/tree/release-2.0/config/crd
error: error parsing https://github.com/kubernetes-csi/external-snapshotter/tree/release-2.0/confi

[2020-03-25 04:08] xing-yang commented on #277
@jichenjc Please check the usage section of README: https://github.com/kubernetes-csi/external-snapshotter/blob/master/README.md#usage

Snapshot controller should not install the CRDs.  It should be the k8s distro that deploys the CRDs and the snapshot controller.

[2020-03-26 07:36] zhucan commented on #268
@xing-yang we only need to add the event after the volumesnapshotcontent  be created?

[2020-03-26 11:48] xing-yang commented on #268
Yes.

[2020-03-27 06:24] jichenjc commented on #277
@xing-yang thanks, I will read this and get back here later on

[2020-03-30 17:27] msau42 commented on #186
Here's an example of csi-proxy creating a separate go module for their client library: https://github.com/kubernetes-csi/csi-proxy/tree/master/client

[2020-03-30 17:29] xing-yang commented on #186
Thanks!  Will take a look.

[2020-03-30 19:31] huffmanca commented on #276
/assign huffmanca

[2020-03-30 20:08] huffmanca commented on #271
/assign huffmanca

[2020-03-30 20:09] huffmanca commented on #264
/assign huffmanca

[2020-03-30 20:10] huffmanca commented on #264
I also noticed this issue, and submitted https://github.com/kubernetes-csi/external-snapshotter/pull/275 which has been merged to resolve it.

[2020-03-31 04:12] ashish-amarnath commented on #274
Based on the discussion here, the conclusion seems to be that dynamically created volumesnapshotcontents should not be modified for static binding. Instead, a new volumesnapshotcontent should be created for static binding purposes. Further, an existing volumesnapshot object should use the statically bound volumesnapshotcontent to create a volume from this volumesnapshot w/ data prepopulated.
Closi

[2020-03-31 04:12] #274 closed

[2020-03-31 12:38] xing-yang commented on #225
/remove-lifecycle stale

[2020-03-31 18:59] #276 closed

[2020-04-01 00:03] ggriffiths commented on #270
/assign ggriffiths

[2020-04-01 14:01] xing-yang opened #285 "Add E2E test for pre-provisioned snapshots (both Delete and Retain policies)"
We need E2E tests for pre-provisioned snapshots with both Delete and Retain policies.

[2020-04-01 14:01] xing-yang commented on #285
/assign @ggriffiths

[2020-04-01 20:33] xing-yang commented on #214
/remove-lifecycle stale

[2020-04-01 23:52] ShyamsundarR commented on #134
@xing-yang Tested latest PRs #261 and #283 running the test cases detailed [here](https://github.com/kubernetes-csi/external-snapshotter/issues/134#issuecomment-587143158).

Comment is to report that there are no further leaks based on these tests, nor are there any finalizer leaks on the PVC. The patches look good based on these tests.

[2020-04-03 18:49] #134 closed

[2020-04-06 04:39] inajob commented on #264
@huffmanca

Thank you for your fix, but the probrem has still remained.
I found there are two components which deal with Snapshot. One is snapshot-controller(I mentioned above), the other is external-snapshotter(sidecar).
Your PR fixed snapshot-controller, but haven't fixed external-snapshotter.

I use v2.0.2-rc1 and encounted the same probrem.
The cause is here -> https://github.com/kubernetes-cs

[2020-04-06 13:48] Kartik494 commented on #186
/assign

[2020-04-08 10:27] ialidzhikov opened #288 "volumesnapshots CRD has invalid property: anyOf"
**What happened**:
volumesnapshots CRD has invalid property: anyOf

**How to reproduce it (as minimally and precisely as possible)**:
1. Apply the `volumesnapshots.snapshot.storage.k8s.io` CRD.

[code]

2. Ensure the following log entry in the kube-apiserver logs:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.16.8

[2020-04-08 15:01] xing-yang commented on #288
This is automatically generated by controller-gen.  Maybe because it does not know how to interpret `resource.Quantity`.

[code]

@yuxiangqian should we manually remove a type after it is generated automatically?
https://github.com/kubernetes-csi/external-snapshotter/blob/master/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml#L160

[2020-04-08 16:58] xing-yang commented on #272
AI: add more documentation to clarify this.

[2020-04-09 18:09] yuxiangqian opened #290 "findContentFromStore in snapshot controller potentially allows rebinding a dynamically provisioned VSC to a pre-provisioned VS"
to reproduce:
1. create a dynamic snapshot (VS1) from a PVC, this should lead to the controller to create a VolumeSnapshotContent( VSC1)
2. Update VSC1's VolumeSnapshotRef such that it points to a different VolumeSnapshot with name VS2, UID left to be empty.
3. create a pre-provisioned snapshot (VS2) which points VSC1, the two should bind.

[2020-04-09 18:09] yuxiangqian commented on #290
/bug

[2020-04-09 18:09] yuxiangqian commented on #290
cc @oleksiys

[2020-04-09 18:54] xing-yang commented on #290
/assign @xing-yang

[2020-04-09 19:15] yuxiangqian commented on #290
Just so you know, I have started working on it @xing-yang

[2020-04-09 19:17] xing-yang commented on #290
Cool!

[2020-04-09 19:17] xing-yang commented on #290
/assign @yuxiangqian

[2020-04-09 21:46] yuxiangqian opened #291 "Deletion of a VolumeSnapshot object can causes deletion of a unbound VolumeSnapshotContent"
[checkContentAndBoundStatus](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L222) returns four values:
1. the content (NOT necessarily bound to the given VS)
2. content's deletion policy == Delete, a boolean
3. content bound to given snapshot, a boolean
4. any error

[processSnapshotWithDeletionTimestamp](https://github.com/kubernete

[2020-04-09 21:46] yuxiangqian commented on #291
/assign

[2020-04-09 21:47] yuxiangqian commented on #291
/cc @xing-yang

[2020-04-10 23:04] yuxiangqian opened #292 "Not able to delete a VolumeSnapshot if it's corresponding VolumeSnapshotContent updates deletion policy from Delete to Retain"
Steps to reproduce the issue:
1. Create a dynamic VolumeSnapshot refer to a VolumeSnapshotClass with DeletionPolicy as Delete, this should trigger a VolumeSnapshotContent creation for the given PVC, and both VolumeSnapshot and VolumeSnapshotContent should have the following finalizer:
snapshot.storage.kubernetes.io/volumesnapshot-bound-protection
2. Update VolumeSnapshotContent's DeletionPolicy fr

[2020-04-10 23:04] yuxiangqian commented on #292
/assign

[2020-04-10 23:16] yuxiangqian commented on #292
/cc @xing-yang
When delete a bi-directionally bound VolumeSnapshot and VolumeSnapshotContent with DeletionPolicy set to "Delete" on the content, the original idea is to wait until the VolumeSnapshotContent is removed from API server before removing the bound finalizer on VolumeSnapshot. However that does not apply to the situation when deletion policy is "Retain".

[2020-04-13 03:27] xing-yang commented on #291
Reproduced it:

- create a dynamic snapshot (VS1) from a PVC, this should lead to the controller to create a VolumeSnapshotContent( VSC1)
- Update VSC1's VolumeSnapshotRef such that it points to a different VolumeSnapshot with name VS2, UID left to be empty.
- create a pre-provisioned snapshot (VS2) which points VSC1, the two should bind.
- readyToUse from VS1 becomes False as VSC1 no longer point

[2020-04-14 03:18] celiawa opened #295 "Support for tags parameter in VolumeSnapshotClass"
In our test environment (azure), we have policy set that only when the resources to be created with some specific tags are allowed to create.

In azuredisk storageclass we can add tags like below.
parameters:
  ...
  tags: 'foo=aaa,bar=bbb'

Can we add tags parameter for VolumeSnapshotClass.

[2020-04-14 03:49] xing-yang commented on #295
For tags in StorageClass, is it the Azure CSI driver who decides whether to create volume or not?

[2020-04-14 03:52] xing-yang commented on #295
Parameters field in VolumeSnapshotClass is similar to that in StorageClass.  It is up to the driver to decide what to add there and how to use them.

[2020-04-14 06:01] celiawa commented on #295
Thanks, I'll close it and raise a request to csi.

[2020-04-14 06:01] #295 closed

[2020-04-15 10:13] Kartik494 commented on #186
Hi @msau42 According to this we don't have to move apis and generated clients outside pkg?
Rather within pkg we have to create go module for apis and generated client like this [client library](https://github.com/kubernetes-csi/csi-proxy/tree/master/client) Please let me know regarding this
Thanks

[2020-04-15 15:25] msau42 commented on #186
While technically you don't need to move it out of pkg, I think it makes more sense from a code organization perspective to move it out to a top level client

[2020-04-16 05:31] Kartik494 commented on #186
Thanks,  i will follow up on this.

[2020-04-17 22:02] nrb commented on #204
/remove-lifecycle rotten

[2020-04-19 08:35] humblec commented on #272
I am trying to understand this some more in detail.  When we use `delete` policy,  from the CO's user pov, it is assumed that the underlying volume or storage space is deleted is the expectation.
However this storage space/chunk is NOT limited to snapshot object , it can be the volume too which is attached with `PV` object in a PVC workflow. IMO, if we introduce  the `delete with TTL`   it should

[2020-04-20 15:15] xing-yang commented on #272
@humblec The existing Delete/Retain policies for VolumeSnapshot/VolumeSnapshotContent/"physical snapshot resource" are consistent with those policies for PVC/PV/"physical volume resource".  If we are thinking about introducing new policies, we do need to consider what that means for PVC/PV as well as they should be consistent.

[2020-04-20 20:10] humblec commented on #272
@xing-yang yeah, that was my ask too and good to know it will be considered for PVC. Didnt notice any kubernetes issue/KEP for similar RFE as we have here, may be I missed it.

[2020-04-20 20:22] xing-yang commented on #272
We have not made a decision on how/whether to proceed with this.  So no issues opened.

[2020-04-21 09:36] igorgonibm opened #300 "Get error when creating volume snapshot"
When creating snapshot I get the following messages in csi-snapshotter logs:
Full log, snap content describe and relevant yamls attached

I0421 09:23:09.254741       1 snapshot_controller.go:606] setAnnVolumeSnapshotBeingCreated: set annotation [snapshot.storage.kubernetes.io/volumesnapshot-being-created:yes] on content [snapcontent-3f3c2bc8-2305-4b26-95f6-0e641e8e3762].
I0421 09:23:09.259302

[2020-04-21 12:26] #290 closed

[2020-04-21 15:17] xing-yang commented on #292
The fix is merged.  Closing this.

[2020-04-21 15:17] #292 closed

[2020-04-21 15:17] xing-yang commented on #291
The fix is merged.  Closing this.

[2020-04-21 15:17] #291 closed

[2020-04-21 15:21] xing-yang commented on #300
I see the following error message in your logs.  It looks like you have not created the secret but you have that secret referenced in the snapshot class.

[code]

[2020-04-22 12:19] igorgonibm commented on #300
@xing-yang any idea what could be wrong?

[2020-04-22 13:50] xing-yang commented on #300
@igorgonibm what image versions of snapshot-controller and csi-snapshotter sidecar are you using?

Can you provide "kubectl describe volumesnapshot"?   Those error messages you posted are failures updating the APIs but the retried were successful later as VolumeSnapshotContent has its status updated and ReadyToUse is set true.  I don't know what is the status of VolumeSnapshot.  Can you set log le

[2020-04-22 14:16] igorgonibm commented on #300
I created new snapshot and attached relevant yamls. describe of class, snapshot and snapshotcomntent and snapshotter log
thank y
[logs.zip](https://github.com/kubernetes-csi/external-snapshotter/files/4516670/logs.zip)
ou

[2020-04-22 14:34] xing-yang commented on #300
According to "kubectl describe volumesnapshot", the snapshot is created successfully.

[code]

`Ready To Use` is true.  Creation time, restore size, and bound volume snapshot content name are all set in the VolumeSnapshot status.

[2020-04-22 15:04] igorgonibm commented on #300
@xing-yang so why is there error message in  the log? It is related to the current snap content.

E0422 14:08:03.234487       1 snapshot_controller_base.go:250] could not sync content "snapcontent-b52df980-4158-4af1-b0ad-bffa7d1a2937": failed to remove VolumeSnapshotBeingCreated annotation from the content snapcontent-b52df980-4158-4af1-b0ad-bffa7d1a2937: "snapshot controller failed to update snap

[2020-04-23 13:52] igorgonibm commented on #300
Thank you. Will wait for your answer.

[2020-04-23 15:00] igorgonibm commented on #300
There seems to be additional problem which may be related
Our controller doesn't receive CreateVolume request

Describe on pvs specifies that:
`failed to provision volume with StorageClass "sc-snapshot": error getting handle for DataSource Type VolumeSnapshot by Name snap20: error getting snapshot snap20 from api server: the server could not find the requested resource (get volumesnapshots.snapsho

[2020-04-26 18:39] ialidzhikov opened #306 "VolumeSnapshot cannot be deleted when the VolumeSnapshotClass is missing"
**What happened**:
Checking the changelog, there is #275 which should allow deletion of VolumeSnapshot when the VolumeSnapshotClass is missing, but this is not happening.

**What you expected to happen**:
I would expect to be able to delete VolumeSnapshot when its `.spec.volumeSnapshotClassName` is missing.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create PVC

[code]

2

[2020-04-26 18:54] ialidzhikov commented on #306
/kind bug

[2020-04-26 19:54] xing-yang commented on #306
#275 only fixed it in the snapshot controller.  There's also a place in the csi snapshotter sidecar that needs to be fixed.  There's WIP PR to address this: https://github.com/kubernetes-csi/external-snapshotter/pull/287

[2020-04-30 10:56] #268 closed

[2020-05-03 07:48] humblec commented on #271
@huffmanca are you on this ? if not, I will take this up.

[2020-05-03 08:31] humblec commented on #102
@xing-yang I could take this up :+1:

[2020-05-03 08:51] humblec commented on #213
/assign @humblec

[2020-05-03 08:52] humblec commented on #187
@yuxiangqian are you on this ?

[2020-05-03 09:15] humblec commented on #288
Yeah.. looks like that.  we could add `resource.Quantity` . Let me give a try.

[2020-05-03 09:16] humblec commented on #222
@xing-yang do we need to reopen this ?

[2020-05-03 09:17] humblec commented on #221
@xing-yang do we need to reopen this ?

[2020-05-03 09:21] humblec commented on #238
@zhucan hope this issue is closed now. Please revert if thats not the case.

[2020-05-03 14:37] xing-yang commented on #221
This is already addressed as part of other bug fixes.  I'll close it.

[2020-05-03 14:37] #221 closed

[2020-05-04 16:28] yuxiangqian commented on #187
@humblec yep, I have it on my plate. thanks.

[2020-05-05 16:36] humblec commented on #288
@xing-yang @yuxiangqian this https://github.com/kubernetes-sigs/controller-tools/issues/328 has some details on what we are facing. for now, adjusting the CRD looks to be the way. I can send a PR for the same if we are in agreement.

[2020-05-05 17:02] yuxiangqian commented on #288
https://github.com/kubernetes-csi/external-snapshotter/commit/c3beea55ba5a0f6c493ab77a3ab6546b5a6c0cea#diff-f816aba0495ad43b0e3b8b097e94a8d2
this is the PR which introduced the breakage. we should *NOT* use anyof according to ([details](https://github.com/kubernetes-sigs/kubebuilder/issues/413))

[2020-05-05 17:53] xing-yang commented on #288
The existing code was generated automatically by controller-gen.  @yuxiangqian did you have to manually set this to "type: string" in 2.0?  Otherwise, this is a change in behavior in controller-gen.

This is what we have in release-2.0:
https://github.com/kubernetes-csi/external-snapshotter/blob/release-2.0/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml#L133

Should we just manually modif

[2020-05-05 18:19] yuxiangqian commented on #288
@humblec did you follow the instructions [here](https://github.com/kubernetes-csi/external-snapshotter/tree/master/hack#update-crdsh)?
I saw this field has been removed from that PR: preserveUnknownFields: false
which likely will cause problem.

[2020-05-06 12:16] humblec commented on #216
/assign @humblec

[2020-05-06 12:16] humblec commented on #222
/assign @humblec

[2020-05-06 12:19] humblec commented on #251
I agree with @msau42 here, with that, this is no longer an issue or we dont have to fix something here. Can we close this @bells17 ?

[2020-05-06 12:23] humblec commented on #288
/assign humblec

[2020-05-06 12:24] humblec commented on #219
/assign @humblec

[2020-05-06 12:24] humblec commented on #251
/assign @humblec

[2020-05-06 12:54] xing-yang commented on #222
This can be closed.

[2020-05-06 12:54] #222 closed

[2020-05-06 14:56] igorgonibm opened #313 "Cannot create volume from snapshot"
We are adding snapshot support t our CSI driver for kubernetes 1.17
When trying to create volume from snapshot csi-provisioner can't fine volumesnapshot:
Describe on pvc gives:
`failed to provision volume with StorageClass "sc-snapshot": error getting handle for DataSource Type VolumeSnapshot by Name snap1: error getting snapshot snap1 from api server: the server could not find the requested resou

[2020-05-07 03:57] xing-yang commented on #313
External-provisioner v1.4.0 is released with k8s release 1.16 so it is too old.  You need to use at least v1.5.0.

[2020-05-07 12:36] igorgonibm commented on #313
Thank you! With 1.5.0 it works.

[2020-05-07 13:16] #313 closed

[2020-05-11 15:21] humblec commented on #288
@yuxiangqian Yes, I did and once I have a commit to update the controller gen to v0.3.0, if I run update-crd.sh, below is the only change:

[code]

The document says about, removing the newly added `metadata` section, so we can ignore that part. Second thing what the current document says is `replacing` the `api-approved.kubernetes.io` which actually got removed once we ran the script. but I can b

[2020-05-14 06:50] bells17 commented on #251
Thank you for response @xing-yang @msau42.
I understand.

@humblec Yes, I closed this issue.

[2020-05-14 06:50] #251 closed

[2020-05-14 08:17] humblec commented on #251
Thanks @bells17 :+1:

[2020-05-15 15:57] humblec commented on #214
@xing-yang cant we close this in favor of #225 . Basically retry on update fail and forgetting the requeue once its successful should address this issue as well, Isnt it ? or anything else I missed ?

[2020-05-15 16:00] xing-yang commented on #214
Let's keep this one open until that PR is merged.

[2020-05-15 16:03] humblec commented on #214
ok.. then lets wait. do we need to add this PR as well in `fix` section of the PR ?

[2020-05-20 08:06] gangkui2008 opened #316 "Why external-snapshotter does not support retry indefinitely until a VolumeSnapshotContent is created?"
I wonder why `external-snapshotter` hard coded the retry count and interval, instead of retrying indefinitely (e.g.  exponential backoff) and allow customization like https://github.com/kubernetes-csi/external-provisioner?

From `kubernetes-csi/external-snapshotter/pkg/common-controller/snapshot_controller_base.go`:
[code]

From https://github.com/kubernetes-csi/external-provisioner:
* `--retry-in

[2020-05-20 12:57] xing-yang commented on #316
This is because the existing re-queue logic is broken.  I have a PR out to fix it.  https://github.com/kubernetes-csi/external-snapshotter/pull/230

Once that PR is merged, I'll take a look of this.

[2020-05-20 12:57] xing-yang commented on #316
/assign @xing-yang

[2020-05-21 02:38] gangkui2008 commented on #316
Okay, thanks very much. I'm looking forward to this feature.

[2020-05-22 03:08] gangkui2008 opened #318 "The VolumeSnapshotSpec object/CRD should have a 'Parameters' key-value map property"
ENV: all `external-snapshotter` releases

from From https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/apis/volumesnapshot/v1beta1/types.go:
[code]

The `VolumeSnapshotSpec` does not have a `Parameters` key-value map, which means I can not put some special/customized values (which my CSI driver will handle) in the spec in order to create the snapshot I want.

Currently only the

[2020-05-22 03:31] xing-yang commented on #318
VolumeSnapshot/VolumeSnapshotContent follows the PVC/PV model.  Opaque parameters are passed thru StorageClass when creating a PVC.  Similarly opaque parameters are passed thru VolumeSnapshotClass when creating a VolumeSnapshot.  Parameters field in the CSI spec maps to the StorageClass or VolumeSnapshot in k8s.  The reason that we don't have another parameters field directly in VolumeSnapshotSpec

[2020-05-22 03:45] gangkui2008 commented on #318
We are developing a CDP(Continuous Data Protection) product, in which we allow user to specify a timestamp to create the snapshot based on for an existing volume (e.g. capture a snapshot of a volume with its 2 minutes ago's state). This timestamp could be different for each volume snapshot request, even for the same volume. This timestamp should be put in the `VolumeSnapshotSpec` instead of `Volum

[2020-05-22 15:35] xing-yang commented on #318
When the snapshot is cut, there is a timestamp in VolumeSnapshot status which is returned by the CSI driver.  Why can't you use that timestamp?

[2020-05-22 22:37] gangkui2008 commented on #318
I might not explained the timestamp I used well. The timestamp in VolumeSnapshot status, called `creationTime`, means "when this snapshot was created", it's updated and returned by the CSI driver.

The timestamp I mentioned, which will be specified by end user of our product, I will call it `protectionTime`, means "on what time of this volume do you want to create a snapshot".  They're totally dif

[2020-05-26 21:37] yuxiangqian commented on #142
/reopen

[2020-05-26 21:38] yuxiangqian commented on #142
this is not done yet. #280 only supplies the metrics utility functions, implementation in controller is still needed.

[2020-06-02 10:51] #238 closed

[2020-06-02 19:38] xing-yang commented on #151
/remove-lifecycle stale

[2020-06-05 00:16] yuxiangqian commented on #318
@gangkui2008 thank you for providing the use case.
After reading all the threads, I am not convinced VolumeSnapshotSpec *should* have an opaque key-val map in it and there are good reasons why we do not want that in the API. The k-v opaque map in volumesnapshotclass/storageclass is specifically introduced to fit the reality that different storage vendors need different input to provision/snapshot/

[2020-06-05 00:21] #264 closed

[2020-06-05 00:31] yuxiangqian commented on #187
/cc @andili99

[2020-06-05 00:58] yuxiangqian commented on #142
cc @andili99

[2020-06-05 13:23] #219 closed

[2020-06-10 11:11] igorgonibm opened #321 "Cannot create snapshot from existing snapshot content"
1) created snapshot class with retain deletion (class_retain.yaml)
2) created snapshot (snapshot_retain.yaml)
3) snapshot content was created succerssfully
4) deleted the snapshot
5) snapshot content was not deleted (as expected)
6) created new snapshot from this snapshot content as source
7) snapshot stays not ready and controller didn't receive CreateSnapshot request

All relevant yamls and logs

[2020-06-11 07:59] igorgonibm commented on #321
Changed version as requested. Controller log says content is bound to a different snapshot. Attached logs.
[211.zip](https://github.com/kubernetes-csi/external-snapshotter/files/4763393/211.zip)

[2020-06-11 12:34] xing-yang commented on #321
What is the result of "kubectl get volumesnapshot snap-from-content -o yaml"?

[2020-06-11 12:39] xing-yang commented on #321
See this error here:
[code]
It says your content still has the UID from the previous snapshot which is different from the UID from the new snapshot.

For pre-provisioned snapshot, you need to create a new VolumeSnapshotContent.  You can't use the old VolumeSnapshotContent which was created from the dynamic provisioning.

[2020-06-11 12:44] igorgonibm commented on #321
Oh I didn't se this limitation.
Is there an  example how to create VolumeSnapshotContent from the scratch?

[2020-06-11 12:46] xing-yang commented on #321
There's an example in this blog.  Search for the section titled "Importing an existing volume snapshot with Kubernetes":

https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-cis-volume-snapshot-beta/

[2020-06-11 14:04] igorgonibm commented on #321
Thank you. Created new objects according to the ink. Still get error. "snapshot-controller  Failed to check and update snapshot: VolumeSnapshotContent [imp-snap-cont] is bound to a different snapshot"

[new.zip](https://github.com/kubernetes-csi/external-snapshotter/files/4765220/new.zip)

[2020-06-11 15:42] igorgonibm commented on #321
It seems there is a mistake in the import snapshot example in the  link you specified:
- In VolumeSnapshotConent volumeSnapshotRef:->name value is test-snapshot but it should be  manually-created-snapshot
- In VolumeSnapshot volumeSnapshotContentName is test-content but it should be manually-created-snapshot-content

[2020-06-11 15:42] #321 closed

[2020-06-11 15:44] xing-yang commented on #321
Glad it worked.

Yeah, the VolumeSnapshotRef name should be changed to manually-created-snapshot in the example.

[2020-06-11 15:50] igorgonibm commented on #321
And the volumeSnapshotContentName should be changed too, right?

[2020-06-17 05:17] DamonQu opened #323 "DeleteSnapshotRequest doesn't contains Parameters"
I have several questiones about the extra-snapshotter

1.  when created the snapshot, we can include the extra parameters in the yaml. Because we need extra information in order to create the snapshot
[code]
But I doubt, should we include the same parameters  in the deletesnapshotrequest?  the information is about snapshot

2. If users use the CSI driver and someting wrong with their configuartion

[2020-06-17 13:23] xing-yang commented on #323
1. If a snapshot is created successfully, you should get a snapshot_id in CreateSnapshotResponse. This is a unique id for the snapshot on the storage system that can be used to find the snapshot at deletion time.  So parameters should not be needed to find the snapshot.
What is "clusterId" under parameters shown in your example?  Is it the kubernetes cluster or some other cluster?  The snapshot_id

[2020-06-17 15:19] DamonQu commented on #323
Thanks for your reply

1.  in our system, the snapshot_id is unique for one cluster of our product but not for multiple clusters. and we try to implement the snapshotter for whole system (maybe multiple clusters)not just for one cluster.

2. I will try to reproduce the problem and check the log later

3.  the pre-provisioned snapshot will include the SnapshotId in the ListSnapshotRequest. It just

[2020-06-18 09:36] DamonQu commented on #323
Hi,

For Q2,  I am trying to import the snapshot from existing snapshot in our product.  the wrong snapshot id provided. we will return the gRPC codes: not found. But now we can not delete the snapshot anymore. The terminal will be in following status

[code]

Here are the logs:

CSI Controller Node

[code]

Snapshotter controller
[code]

sidecar
[code]

From the log, I don't find anything abnorma

[2020-06-18 13:48] xing-yang commented on #323
What version of snapshot-controller and csi-snapshotter are you running?

Can you provide "kubectl get volumesnapshot -o yaml" and "kubectl get volumesnapshotcontent -o yaml"?

[2020-06-19 18:22] yuxiangqian commented on #270
@ggriffiths ping on this issue. Are you still working on this issue？ I saw https://github.com/kubernetes/kubernetes/pull/89705 is now approved. thanks

[2020-06-19 18:36] #269 closed

[2020-06-19 18:58] ggriffiths commented on #270
@yuxiangqian I don't think I'll have the bandwidth to work on this until next month. I'll unassign myself for now

[2020-06-22 09:04] DamonQu commented on #323
I am not sure but i found the root cause may be the delete sequence. We can not delete the snapshotclass before deleting the snapshot otherwise it will stop there and the "snapshot class *** not found" would be reported. I usually delete by the command "kubectl delete -f <folder>:"
I am not sure if it is normal behavior.

[2020-06-22 14:06] xing-yang commented on #323
That problem should be fixed by this PR: https://github.com/kubernetes-csi/external-snapshotter/pull/287

The fix is in the master, not released yet.

[2020-06-22 14:12] zhucan commented on #323
Maybe you can persistent this information to  etcd by configmaps, for example "cluster_id" or other params.

[2020-06-22 17:23] AndiLi99 commented on #285
@ggriffiths ping on the issue here, are you working on this? I saw you may not have bandwidth here:  https://github.com/kubernetes-csi/external-snapshotter/issues/270#issuecomment-646817439

[2020-06-22 17:26] xing-yang commented on #285
@AndiLi99 This issue is fixed by kubernetes/kubernetes#89705

[2020-06-22 17:27] #285 closed

[2020-06-22 17:37] xing-yang commented on #285
Actually I think the Deletion policy is only tested with dynamically provisioned snapshots in kubernetes/kubernetes#89705.  Let me open another issue to track the pre-provisioned snapshots e2e tests.

[2020-06-22 17:38] xing-yang opened #324 "Add E2E tests for pre-provisioned snapshots (both Delete and Retain policies)"

[2020-06-22 17:40] xing-yang commented on #324
/assign @AndiLi99

[2020-06-22 17:40] xing-yang commented on #324
@AndiLi99, can you assign this to yourself if you are interested in working on it?  Thanks.

[2020-06-22 18:14] AndiLi99 commented on #324
/assign AndiLi99

[2020-06-22 18:14] AndiLi99 commented on #324
/assign @AndiLi99

[2020-06-22 18:15] AndiLi99 commented on #270
/assign @AndiLi99

[2020-06-22 20:36] yuxiangqian commented on #270
@ggriffiths thanks. @AndiLi99 will take a look on this.

[2020-06-23 01:54] DamonQuu commented on #323
Yeah, we have a work around solution for this.

@xing-yang  my last question is
the pre-provisioned snapshot will include the SnapshotId in the ListSnapshotRequest. It just check one snapshot. But in the ListSnapshotRequest, it includes other paging related parameters(MaxEntities/NextToken). The pre-provisioned snapshsot will use them?

[2020-06-23 10:08] roysahar-ibm opened #325 "Can not delete imported snapshot - wrong secret"
Scenario -
Import a volumesnapshotcontent from existing snapshot on storage.
Create a volumesnapshot with the imported volumesnapshotcontent.
Delete the volumesnapshot failed.
Looks like our csi driver does not receive correct secret (storage address/endpoint argument is empty).
Attached all logs and yamls.
[delete_snap_imported.zip](https://github.com/kubernetes-csi/external-snapshotter/files/481

[2020-06-23 12:38] xing-yang commented on #325
In your secret yaml file, you have stringData:
[code]

I can't find stringData defined in the Secret API:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L4768

Where did you find this Secret API definition that has stringData?

Can you show the results of "kubectl describe secret"?

[2020-06-23 12:39] xing-yang commented on #325
Snapshotter only retrieves "data" from Secret, not "stringData".

[2020-06-23 12:51] roysahar-ibm commented on #325
Name:         br-secret
Namespace:    kube-system
Labels:       <none>
Annotations:  <none>

Type:  Opaque

Data
====
username:            5 bytes
management_address:  21 bytes
password:            10 bytes

[2020-06-23 13:06] xing-yang commented on #325
What about "kubectl get secret -o yaml"?

[2020-06-23 13:31] roysahar-ibm commented on #325
apiVersion: v1
data:
  management_address: XXXXXXXXXXXXXXXXXXXXXXX
  password: XXXXXXXXXXXXXXXXXXXXXXX
  username: XXXXXXXXXXXXXXXXXXXXXXX
kind: Secret
metadata:
  creationTimestamp: "2020-06-22T21:47:41Z"
  name: br-secret
  namespace: kube-system
  resourceVersion: "2289"
  selfLink: /api/v1/namespaces/kube-system/secrets/br-secret
  uid: d6ddab60-dc59-4f12-87d6-5e74483a97b2
type: Opaque

[2020-06-23 13:39] xing-yang commented on #325
Did you get password correctly in your driver?  Are management_address and username both empty?  How does the management_address look like?  Is it like 1.2.3.4:12?

Can you try to create secret like this?

[code]

[2020-06-23 13:47] xing-yang commented on #325
I found where "stringData" is defined:
https://github.com/kubernetes/api/blob/master/core/v1/types.go#L5511

"stringData" only allows you write data.  It gets merged into "data" when the secret is created, however, that data is not readable.  If you want "management_address" to be retrieved from secret at delete snapshot time, you need to store "management_address" under "data", not "stringData".

[2020-06-23 13:55] roysahar-ibm commented on #325
Could you please write an example of secret yaml with "data" instead of "stringData"?

[2020-06-23 13:57] xing-yang commented on #323
the pre-provisioned snapshot will include the SnapshotId in the ListSnapshotRequest. It just check one snapshot. But in the ListSnapshotRequest, it includes other paging related parameters(MaxEntities/NextToken). The pre-provisioned snapshsot will use them?

If the SnapshotId is included in ListSnapshotsRequest, MaxEntities/NextToken won't be very useful as there is only one entry.  However your d

[2020-06-23 14:01] xing-yang commented on #325
[code]

[2020-06-23 18:20] roysahar-ibm commented on #325
Hi,
The new template of secret does not help, still getting:

I0623 18:18:38.322463       1 snapshot_controller_base.go:144] enqueued "manually-created-snapshot-content" for sync
I0623 18:18:38.322483       1 snapshot_controller_base.go:159] contentWorker[manually-created-snapshot-content]
I0623 18:18:38.322506       1 util.go:169] storeObjectUpdate updating content "manually-created-snapshot-cont

[2020-06-23 18:38] xing-yang commented on #325
I wonder if you have some special character that can't be recognized by the secret.  Is it a string or array?  Any special char?

[2020-06-23 19:16] roysahar-ibm commented on #325
No special chars.
All strings (for user, server, and password)

[2020-06-24 07:16] igorgonibm commented on #325
@xing-yang just to mention. We use the secrets in this format for other operations in our driver.
Create snapshot works with it. And also delete snapshot works (when it is not imported one)
thank you

[2020-06-24 12:39] xing-yang commented on #325
What are the results of "kubectl get volumesnapshot -o yaml" and "kubectl get volumesnapshotcontent -o yaml"?

When a snapshot is dynamically provisioned, the secret's name and namespace will be added as annotation to the content if they are specified in the class.

If a snapshot is pre-provisioned, user has to make ensure the secret annotation is on the content.

When deleting the snapshot (if de

[2020-06-25 07:29] Madhu-1 opened #326 "snapshot creation takes more time"
External snapshotter+snapshot controller is taking around 30 seconds to create a snapshot, in a total time of 30 sec the time consumed in CSI is 2 seconds

Note: even I have seen some times it takes around 1 Minute, total number of snapshots was around 10 during this testing

The images used for testing are v2.1.1
* snapshot-controller logs
[code]

* The external-snapshotter logs

[code]

* the ti

[2020-06-25 07:29] Madhu-1 commented on #326
cc @xing-yang

[2020-06-25 07:34] roysahar-ibm commented on #325
**volumesnapshot:**
apiVersion: v1
items:
- apiVersion: snapshot.storage.k8s.io/v1beta1
  kind: VolumeSnapshot
  metadata:
    creationTimestamp: "2020-06-25T07:28:51Z"
    finalizers:
    - snapshot.storage.kubernetes.io/volumesnapshot-as-source-protection
    - snapshot.storage.kubernetes.io/volumesnapshot-bound-protection
    generation: 1
    name: test-snapshot
    namespace: default
    reso

[2020-06-25 12:11] xing-yang commented on #325
You need to add secret annotations to your VolumeSnapshotContent manually for pre-provisioned snapshots.

[code]

[2020-06-25 12:31] xing-yang commented on #326
Have you run the same test with previous images?  Can you try 2.1.0 and 2.0.1?

[2020-06-25 12:33] Madhu-1 commented on #326
same issue exists with older images also.

[2020-06-25 12:55] xing-yang commented on #326
I see that there's a failure updating the API server. After that there's a retry that happened 30 sec later.

[code]

We've made a fix to the requeue logic in the sidecar.  I think retry should happen quicker now.  Can you try this from master?

[2020-06-25 12:59] Madhu-1 commented on #326
yeah sure will give a try and report back.

[2020-06-25 14:15] roysahar-ibm commented on #325
Hi,
It worked thanks.

[2020-06-25 14:15] #325 closed

[2020-06-25 14:15] roysahar-ibm commented on #325
Worked when adding secret annotations on volumesnapshotcontent.

[2020-06-25 20:30] ialidzhikov commented on #288
Ping, is there any update?

[2020-06-25 20:32] ialidzhikov commented on #306
I see that #287 is merged. But it is still not included in any release, right?

[2020-06-25 20:59] xing-yang commented on #306
Not yet.  We are still waiting for a few PRs to be merged before cutting the next release.

[2020-06-26 09:29] Madhu-1 commented on #326
tested with canary tagged images, the creation time is greatly reduced to around 3 to 10 sec

[2020-06-26 09:29] #326 closed

[2020-06-26 13:08] xing-yang commented on #326
That's great.  Thanks for validating this!

[2020-06-28 02:46] benlangfeld commented on #273
@xing-yang @ashish-amarnath I don't think that workaround properly addresses the use case, and I think this should be re-opened. Conflicting deletion policies are a problem. If there were a 1:many mapping and a `Delete` `deletionPolicy`, the deletion of the `VolumeSnapshotContent` could be prevented until it is not bound to any other `VolumeSnapshot`s. I don't think any workaround which does not a

[2020-06-30 05:58] yuxiangqian commented on #187
Update:
A design doc to introduce webhook is under written. review session will be scheduled soon once done.

[2020-06-30 08:53] zhucan opened #328 "will add 'additionalPrinterColumns' for snapshot?"
like this: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/

[2020-07-06 14:32] pohly opened #330 "release v2.2.0-alpha1?"
For https://github.com/kubernetes-csi/external-provisioner/pull/450 I'd like to import a revision of the external-snapshotter which supports the client-go API from Kubernetes >= 1.18. The code has been merged into master, so I could use that, but doing a formal release might be cleaner.

IMHO it is not necessary to bump the major version number: the usual purpose of that is to support co-existence

[2020-07-06 14:59] xing-yang commented on #330
I'm waiting for a couple of PRs to get merged before cutting the next release.  If you need it sooner, we can cut a RC version first.

[2020-07-06 15:10] pohly commented on #330
Do you have an estimate when that next regular release might be ready?

There's no immediate need for a RC, but something by the end of this week might be good.

[2020-07-11 04:35] xing-yang commented on #330
RC build is cut: https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v2.2.0-rc1

[2020-07-14 15:00] #330 closed

[2020-07-15 16:36] saikat-royc opened #333 "Snapshot controller cannot recover from missing volume snapshot class error"
In the current implementation of the snapshot controller, in checkAndUpdateSnapshotClass()
if a missing volume snapshot class is detected, an error status is stamped on the volume snapshot object.
Periodic sync, does not clear the error status. Side effect of this is that, even if the volume snapshot class is detected in the subsequent resyncs, syncUnreadySnapshot() never triggers the snapshot con

[2020-07-15 16:42] mattcary commented on #333
With #4 would the error status stay on the VS? If so that seems wrong, if not it seems equivalent to #3 (?)

Anyway #3 seems best to me with my limited knowledge of the situation.

[2020-07-15 18:19] xing-yang commented on #333
I'm thinking that if a contentObj is nil, we should always try to create a new content.  I think we can get rid of this check here (
https://github.com/kubernetes-csi/external-snapshotter/blob/v2.2.0-rc1/pkg/common-controller/snapshot_controller.go#L456). At this point, we already know it is dynamic provisioning but a contentObj is not created yet. So I think we should always retry to create a new

[2020-07-15 18:31] saikat-royc commented on #333
@xing-yang  the error status will still not be cleared even if we remove the check and proceed with VS Content object creation. That may mislead user to think volume object has an vsc missing error?

[2020-07-15 18:37] xing-yang commented on #333
@saikat-royc I think we need to continue to work on this PR which is to update snapshot status based on the content status: https://github.com/kubernetes-csi/external-snapshotter/pull/284

[2020-07-15 18:37] msau42 commented on #333
On a success, can we clear the error?

[2020-07-15 18:41] xing-yang commented on #333
Yes.

[2020-07-15 18:46] mattcary commented on #333
Yeah, that might make sense. Or at least retry unless we know it's an unrecoverable error (if such an error exists?) rather than retrying only on certain known errors as the current code does in syncUnreadySnapshot.

[2020-07-15 19:00] msau42 commented on #333
+1 on always retrying no matter what the error is

[2020-07-15 19:20] saikat-royc commented on #333
Thanks for all the input. I think the next steps is to make https://github.com/kubernetes-csi/external-snapshotter/pull/284 handle clearing out errors, and as part of issue #333 remove the if check and retry unconditionally.
@xing-yang  I have put my comments in your patch 284.

[2020-07-18 23:17] #259 closed

[2020-07-21 06:01] Kartik494 commented on #204
Hi @xing-yang  since i saw this [PR](https://github.com/kubernetes-csi/external-snapshotter/pull/266) is merged.So is there any work to be done on this issue?

[2020-07-21 06:14] Kartik494 commented on #328
Hi @zhucan there is already "additionalPrinterColumns" present in [yaml](https://github.com/kubernetes-csi/external-snapshotter/blob/master/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml#L12), could you clarify more on this?

[2020-07-22 12:58] xing-yang commented on #333
@saikat-royc #284 is merged now. Do you want to work on the 2nd part that is to remove the if check and retry unconditionally?

[2020-07-22 14:38] saikat-royc commented on #333
Yes will do @xing-yang

[2020-07-23 12:38] smitaraut opened #336 "VolumeSnapshotContent with Retain policy cannot be deleted"
I created a VolumeSnapshot dynamically with deletionPolicy as "Retain". Then I deleted the VolumeSnapshot, it got deleted but the corresponding VolumeSnapshotContent remained, which is expected.
Now I explicitly tried to delete the VolumeSnapshotContent but it never gets deleted.

One observation is that the "volumesnapshotcontent-bound-protection" finalizer is still there on the object. The code

[2020-07-23 13:43] xing-yang commented on #336
Can you try this with snapshot-controller:canary and csi-snapshotter-canary images?

[2020-07-23 16:09] smitaraut commented on #336
Problem was that the controller manifest file given at below location pointed to controller image v2.0.1
[https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v2.1.1/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml
](https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v2.1.1/deploy/kubernetes/snapshot-controller/setup-snapshot-controller.yaml)

[2020-07-24 04:24] #333 closed

[2020-07-24 13:05] xing-yang commented on #336
It's good to know that 2.1.1 works.
Yeah, we need to update those images.

[2020-07-27 11:45] Kartik494 commented on #336
/assign

[2020-07-29 04:26] Madhu-1 opened #341 "Provide an option to pass snapshot metadata to csi driver"
When external snapshotter sends a request to the csi-driver it doesn't contain any additional information about the snapshot name, snapshot namespace, or the snapshot content name, it would be nice if we can provide an option to do the same. currently the same feature is available in external-provisioner to pass the PVC metadata (PVC name, namespace, and PV name) as additional parameters in create

[2020-07-29 08:40] Madhu-1 opened #342 "restoresize in volumesnapshotcontent is show in bytes"
[code]
[code]

the restore size is shown in bytes format as well in volume snapshot output its show in formatted size(either in Mib/Gib ...)  it would be good we volumesnapshotcontent size also show in human-readable format(converted to Mib,Gib etc)

[2020-07-29 08:40] Madhu-1 commented on #342
cc @xing-yang

[2020-07-29 14:29] xing-yang commented on #342
That's because RestoreSize in VolumeSnapshot and VolumeSnapshotContent have different types.  It is int in the content.  This is just to print out what is actually in the content.  I don't think converting is good idea, but that would defeat the purpose.  The size is VolumeSnapshot is converted based on size in the Content.  Whatever shown in VolumeSnapshot status is user's view.  Content is suppo

[2020-07-29 14:31] bswartz commented on #225
@xing-yang I think this one is fixed now with the requeue logic improvements. Can we close this, or is there a remaining issue to solve?

[2020-07-29 14:34] xing-yang commented on #341
Can you provide use cases for the need for these metadata?  Why are they needed?  If we decide to pass these 3 types of metadata, why don't we also pass other metadata?

I see that external-provisioner has them, but I didn't follow the initial introduction of those metadata.  So I'd like to know why those were added to the external-provisioner side as well.

[2020-07-29 14:43] xing-yang commented on #225
Yes, we can close it now.  Thanks!

[2020-07-29 14:43] #225 closed

[2020-07-29 17:35] msau42 commented on #341
It was added in external-provisioner to retain the in-tree behavior of being able to label the underlying disk resource with the Kubernetes workload information

[2020-07-29 18:00] xing-yang commented on #341
We don't have in-tree implementation of volume snapshots.  Does it make sense to do the same thing for volume snapshots?

I remember that we actually have tags in our very early snapshot implementation in external-storage repo, but we were asked to drop it when working on the alpha design.

[2020-07-29 18:14] msau42 commented on #341
I think it makes sense to be able to label all the underlying disk/snapshot resources similarly. It would help associate the underlying resource with the Kubernetes object.

[2020-07-29 21:04] RaunakShah opened #343 "Use separate API server client for snapshot controller and leader election"
At scale, requests to the API server may lead to throttling since default API server client QPS=5 and Burst=10. This affects the leader election routine since this client is shared with snapshot controller.

Filing this issue to use a separate client for leader election, similar to other sidecars.

[2020-07-29 21:04] RaunakShah commented on #343
/assign

[2020-07-30 01:50] #343 closed

[2020-08-02 01:01] xing-yang commented on #271
/remove-lifecycle stale

[2020-08-03 11:06] Madhu-1 commented on #341
Yes even we have a requirement, we need want to replicate the snapshot object to remote kubernetes cluster and reuse the underlying storage snapshot for disaster recovery. Using the snapshot name and namespace name as part of  CreateSnapshot help us to name the backend and use it in the remote cluster.

[2020-08-03 14:13] xing-yang commented on #341
I’m not against this and I think it is useful, but I want to make sure that we are using a consistent criteria to determine what metadata should or should not be passed to the CSI driver.  We have got other requests to pass additional metadata to CSI driver such as this one here: https://github.com/kubernetes-csi/external-snapshotter/issues/318

CC @saad-ali  @jingxu97  @yuxiangqian Any objections

[2020-08-03 20:19] roysahar-ibm opened #345 "Create volumesnapshot from snapshot content of retain volumesnapshot failed"
Scenario:
---------
* Create pvc.
* Create volumesnapshotclass with "deletionPolicy: Retain".
* Create volumesnapshot from the created pvc.
* Delete the volumesnapshot, its volumesnapshotcontent remain as should be by design.
* Create a volumesnapshot with the content that remain ==> Failed:
 "Snapshot failed to bind   VolumeSnapshotContent, Could not bind snapshot snap-testcreatesnapshotsanity an

[2020-08-04 01:08] xing-yang commented on #345
This works as designed.  We do not support binding a new VolumeSnapshot to a pre-existing VolumeSnapshotContent.  You'll have to create a new VolumeSnapshotContent and then create a new VolumeSnapshot to bind with the new content.  For the existing VolumeSnapshotContent, make sure its policy is Retain and delete it.

[2020-08-04 18:13] #345 closed

[2020-08-05 03:31] xing-yang commented on #115
/reopen

[2020-08-05 12:02] smitaraut opened #346 "Failure events are not propagated to VolumeSnapshot or VolumeSnapshotContent"
In the case when driver fails to create a snapshot and returns an appropriate GRPC error code, the same is not propagated to the VolumeSnapshot object. The VolumeSnapshot remains in ReadyToUse=False as expected-

[code]

But describe on the object does not show any failure events, it continues to show "CreatingSnapshot" as below-

[code]

Similarly the corresponding VolumeSnapshotContent doesnt sh

[2020-08-05 12:23] xing-yang commented on #346
We do have logic to add events if create snapshot failed.  Can you provide logs?

[2020-08-05 15:41] smitaraut commented on #346
Here are the snapshotter logs-

[code]

[2020-08-07 13:51] humblec commented on #341
IMO, like  external provisioner allow the `extra-metadada` we could have the same facility here on snapshot too.

[2020-08-09 04:23] xing-yang commented on #346
This is because status update fails, so event is not emitted.
Did you see retry happens?  If create snapshot retries and it fails again, it should try to update status again.

[2020-08-09 04:28] xing-yang commented on #214
This is fixed.

[2020-08-09 04:28] #214 closed

[2020-08-11 02:00] xing-yang commented on #346
@smitaraut Can you try PR #347 to see if it solves your problem?

[2020-08-11 10:17] venkatsc opened #349 "VolumeSnapshot cannot be deleted"
Kubernetes version: v1.18.5
CSI snapshotter version: v2.1.1

ouptput of `kubectl get volumesnapshot`
[code]
events from `kubectl describe volumesnapshot`
[code]

logs from `snapshot-controller`
[code]

PVC status
[code]

snapshotter sidecar does not have any relevant logs.

`Workaround:` Setting finalizers to null as below on the PVC on which the snapshot is created, removed both PVC and volume sn

[2020-08-11 10:34] #328 closed

[2020-08-11 12:15] venkatsc opened #350 "VolumeSnapshot[Content] failures"
Volume snapshot is created in storage system but `VolumeSnapshotContents` object is not updated with the CSI driver response.

k8s version: v1.18.5
snapshotter version: v2.1.1

logs for `csi-snapshotter`
[code]

output of `kubectl get volumesnapshot`
[code]
output of `kubectl get volumesnapshotcontent`
[code]

evnents from `kubectl describe volumesnapshotcontent`
[code]

[2020-08-11 12:18] xing-yang commented on #186
/remove-lifecycle stale

[2020-08-11 14:57] venkatsc commented on #350
The missing `CreationTime` timestamp in the `CreateSnapshotResponse` is the issue. This is expected to be returned by CSI Driver.

[2020-08-11 14:57] #350 closed

[2020-08-11 14:59] xing-yang commented on #349
It looks like PVC was being deleted when you tried to create a snapshot from it.  That's why create snapshot failed.

Can you do a "kubectl get pvc -o yaml" and "kubectl get volumesnapshot -o yaml" before you manually removed the finalizers and show the results?  VolumeSnapshotContent was not created yet, right?

[2020-08-11 19:48] venkatsc commented on #349
Unfortunately, I don't have these objects anymore.

Yes, PVC is being deleted but stuck in `Terminating` and also `VolumeSnapshot` cannot be deleted (kubectl delete volumesnapshot \<snapshot\> cannot be completed).

Yes, `VolumeSnapshotContent` was not created. Looks like this only happens when create `VolumeSnapshotContent` fails.

[2020-08-12 06:58] smitaraut commented on #346
Tried with this latest change, it does propagate the failure to volumeSnapshot and VolumeSnapshotContent but not as a failure event. It is shown in Status.Error while Events are shown as "none"-

[code]

This is still better than before, but what is missing is that the error message for root cause of failure is getting lost and we are just getting "DeadlineExceeded" in the Message. One would expec

[2020-08-12 12:29] xing-yang commented on #346
Can you provide logs for your latest try?  I'll keep this issue open.

[2020-08-12 15:39] smitaraut commented on #346
Here are csi-snapshotter logs-

[code]

[2020-08-12 15:55] smitaraut commented on #346
snapshot-controller logs-

[code]

[2020-08-12 16:33] smitaraut commented on #346
Also in this case I think VolumeSnapshotContent should not be created because VolumeSnapshot creation didnt succeed.

[2020-08-12 17:18] xing-yang commented on #349
I just want to add one more test case here. When creating a snapshot, if the PVC is not bound yet, we may also have a problem deleting the snapshot due to the un-removed finalizer.  CC @gnufied

[2020-08-13 12:28] prasant123 commented on #346
The other aspect is, on a final error, the external snapshotter should stop retrying CreateSnapshot call back again. For instance, there are valid failures where storage systems has limits to the number of snapshots that can be created on a particular source volume. In such scenarios, when the driver returns valid final error, external snapshotter should honor the error by not retrying.

[2020-08-13 16:42] chrishenzie commented on #349
Encountered this issue. VolumeSnapshot cannot be deleted due to `snapshot.storage.kubernetes.io/volumesnapshot-as-source-protection` and PVC cannot be deleted due to `snapshot.storage.kubernetes.io/pvc-as-source-protection`. This can be replicated with a manifest that creates a PVC and snapshot simultaneously.

[2020-08-14 01:09] msau42 commented on #346
I disagree with not retrying again. Kubernetes controllers follow a reconciling architecture that will always retry until the Kubernetes object is deleted. In your example failure case, someone can clean up and delete some snapshots from the storage system and if the snapshot-controller did not retry, then it could not automatically recover.

[2020-08-14 21:29] msau42 opened #359 "Generate api clients for Java"
Some consumers of the snapshots api are written in Java, so providing a Java client would be useful.

/kind feature

[2020-08-16 15:16] xing-yang commented on #346
@smitaraut By looking at your logs, it looks like you are testing the old code, not my PR as the line number does not match. The following log message from csi-snapshotter should be on line 166 now, not 163.  Since my PR is merged, can you test the latest in the master branch?

[code]

[2020-08-17 02:31] xing-yang commented on #349
Hi @venkatsc and @chrishenzie, can you check if this PR https://github.com/kubernetes-csi/external-snapshotter/pull/360 fixes this issue?

[2020-08-17 23:17] msau42 opened #361 "Add e2e stress test"
That creates and restores a lot of snapshots.

Can use https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/stress.go as a starting point.

[2020-08-17 23:21] AndiLi99 opened #362 "Document each field in snapshot objects as immutable / mutable with rationale"
The KEP https://github.com/kubernetes/enhancements/pull/1902 proposes to add additional validation to snapshot objects.

We need to go through all the fields in both VolumeSnapshot and VolumeSnapshotContent objects and provide rationale for fields not listed as immutable. Fields which we can't find a good reason / scenario should be made immutable.

[2020-08-17 23:39] AndiLi99 opened #363 "Add labels for invalid snapshot objects"
Modify the common controller to add a label according to the KEP https://github.com/kubernetes/enhancements/pull/1902.

Note that the controller resyncs every 24 hours, so there may be a delay for the labels to appear. This should be mitigated by the sync on startup of the controller and the informers.

/assign @AndiLi99

[2020-08-18 11:41] Antiarchitect opened #364 "Kubernetes 1.17.5 incompatible CRD API version"
Stuck installing snapshotter CRDs:
Applying https://github.com/kubernetes-csi/external-snapshotter/tree/master/config/crd (seems like last modification was at Feb 27) without modification:
[code]
Changing `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1`:
[code]

[2020-08-18 15:39] #336 closed

[2020-08-18 16:23] xing-yang commented on #364
Manifest under https://github.com/kubernetes-csi/external-snapshotter/tree/master/config/crd are generated automatically by controller-gen.  We are not supposed to manually modify those manifests.

[2020-08-18 16:23] xing-yang commented on #364
Do you already have those volume snapshot installed on your system?  You'll have to uninstall the old ones before installing new ones.

[2020-08-18 19:17] Antiarchitect commented on #364
I've uninstalled alpha CRDs

[2020-08-18 19:22] xing-yang commented on #364
It seems that your helm chart requires apiextensions.k8s.io/v1 but we have v1beta1 in the manifests files.  Will need to do some investigation to figure out how to get the manifests generated using v1.  It automatically uses v1beta1, even with controller-gen 0.3.0 which is the latest release.

[2020-08-19 21:33] ialidzhikov commented on #306
@xing-yang , is there a target date for the v2.2.0 release?

[2020-08-20 02:59] xing-yang commented on #306
I'm mainly waiting for 2 changes to get in before cutting the release:
- the validation web hook: https://github.com/kubernetes-csi/external-snapshotter/pull/353
- move apis and client to a separate package: https://github.com/kubernetes-csi/external-snapshotter/pull/307

[2020-08-24 05:07] Kartik494 commented on #361
/assign

[2020-08-24 08:26] #277 closed

[2020-08-24 11:52] smitaraut commented on #346
These are the logs of code from master branch.

snapshot-controller:
[code]

csi-snapshotter:
[code]

Also with this latest code, I dont see the error in "status" anymore-

[code]

[2020-08-24 12:29] xing-yang commented on #346
You don't see error in "status" because there was a failure updating status in the API server.  The fix I made was to log an event even if status update failed.  So it worked as expected.  As for the error itself, a retry should happen and hopefully fix it.

[2020-08-24 22:37] msau42 opened #368 "Use patch instead of update"
To reduce the number of update failures due to resources being out of date, it is recommended to use patch instead of update. For updates where it's important that no other field in the object got modified, then you can include the object version in the patch.

[2020-08-24 22:37] msau42 commented on #368
/kind cleanup

[2020-08-24 22:46] xing-yang commented on #368
@Kartik494 do you want to work on this?  Thanks.

[2020-08-25 11:37] Kartik494 commented on #368
@xing-yang  yes i will take a look in this

/assign

[2020-08-28 21:25] #324 closed

[2020-08-29 01:51] #187 closed

[2020-08-29 01:51] #363 closed

[2020-08-31 17:24] xing-yang commented on #368
See example here: https://github.com/kubernetes/kubernetes/blob/v1.20.0-alpha.0/pkg/volume/util/resize_util.go#L165

[2020-09-01 04:09] xing-yang commented on #151
/remove-lifecycle stale

[2020-09-02 17:27] #349 closed

[2020-09-03 19:50] xing-yang commented on #142
/remove-lifecycle stale

[2020-09-04 02:18] Sathishkunisai commented on #147
/reopen
ceph/ceph:v14.2.11
quay.io/cephcsi/cephcsi:v2.1.2
quay.io/k8scsi/csi-attacher:v2.1.0
quay.io/k8scsi/csi-node-driver-registrar:v1.2.0
quay.io/k8scsi/csi-provisioner:v1.6.0
 quay.io/k8scsi/csi-resizer:v0.4.0
 quay.io/k8scsi/csi-snapshotter:v2.1.0
 rook/ceph:v1.3.9

kubectl volumensnapshots  shows "ReadyToUse   false".  Please suggest whether the version of snapshotter I am using is correct,

[2020-09-04 03:39] #115 closed

[2020-09-04 04:37] xing-yang commented on #147
I don't think what you had is the same problem reported by this very old issue.
Can you try v2.1.1?  We are actually going to cut a 2.2.0 release very soon.

[2020-09-04 04:45] Sathishkunisai commented on #147
Thanks @xing-yang  . To give more insight, my cluster is running in Azure Kubernetes (AKS), using Azure Disk to mount rook volumes (OSD) with feature gate is enabled in API Server [ volumesnapshot=true ] . Followed the procedure here in the link
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/install-csi-driver-master.md

apart from that  CSI_ENABLE_SNAPSHOTTER: "true" is

[2020-09-04 05:01] Sathishkunisai commented on #147
@xing-yang   upgraded to **2.1.1**

NAME                            READYTOUSE   SOURCEPVC                                    SOURCESNAPSHOTCONTENT   RESTORESIZE   SNAPSHOTCLASS             SNAPSHOTCONTENT   CREATIONTIME   AGE

datadir-mongo-pvc-snapshot-15   **false**        datadir-mongo-replica-mongodb-replicaset-0                                         csi-rbdplugin-snapclass

[2020-09-04 05:08] Sathishkunisai commented on #147
apiVersion: snapshot.storage.k8s.io/v1beta1
deletionPolicy: Delete
driver: rook-ceph.rbd.csi.ceph.com
kind: VolumeSnapshotClass
metadata
  name: csi-rbdplugin-snapclass
parameters:
  clusterID: rook-ceph
  csi.storage.k8s.io/snapshotter-secret-name: rook-ceph-csi
  csi.storage.k8s.io/snapshotter-secret-namespace: rook-ceph

[2020-09-04 06:24] Kartik494 commented on #359
/assign

[2020-09-04 08:06] Madhu-1 commented on #147
@Sathishkunisai as this is more specific to ceph I would suggest you open issue in a [rook](https://github.com/rook/rook) and try to get help in rook [slack](https://github.com/rook/rook#contact)

[2020-09-14 13:56] vpnachev commented on #306
Hello @xing-yang, I see that the linked PRs are merged now and most of the are part of 2.2.0-rcX releases. For when do you plan to cut the final 2.2.0 release?

[2020-09-14 14:28] xing-yang commented on #306
There are still a couple of PRs pending.  Also waiting for this changelog PR to be merged: https://github.com/kubernetes-csi/external-snapshotter/pull/332

[2020-09-14 15:00] #316 closed

[2020-09-14 15:01] xing-yang commented on #271
Hi @huffmanca,

Are you going to work on this in 1.20?  We need this for bringing snapshot to GA in 1.20.  Thanks.

[2020-09-14 15:03] xing-yang commented on #270
Hi @humblec,

Do you want to work on this in 1.20? We need this for bringing snapshot to GA in 1.20. Thanks.

[2020-09-14 15:03] xing-yang commented on #186
This is done.

[2020-09-14 15:03] #186 closed

[2020-09-14 15:04] xing-yang commented on #142
/assign @ggriffiths

[2020-09-14 15:05] xing-yang commented on #151
/assign @ggriffiths

[2020-09-14 15:06] xing-yang commented on #361
Hi @Kartik494,

Are you going to work on this in 1.20?  We need this for bringing snapshot to GA in 1.20.  Thanks.

[2020-09-14 15:07] xing-yang opened #374 "Add e2e tests for validation webhook"

[2020-09-14 16:14] humblec commented on #270
@xing-yang sure.. Let me take that ! thanks for the ping

[2020-09-15 06:56] Kartik494 commented on #361
Hi @xing-yang I am working on some other issues (https://github.com/kubernetes-csi/external-snapshotter/issues/368)  (https://github.com/kubernetes-csi/external-snapshotter/issues/359)  too ,I am unassigning myself if someone else would like to work on this.
Thanks

[2020-09-15 15:58] chrishenzie commented on #361
/assign

[2020-09-15 23:08] yuxiangqian commented on #341
While I do see it's legit request to pass K8s names to for labeling on underlying resources in storage system like PVs/Snapshots, I dislike the idea of letting the side car controller to understand more opaque parameters from the class.(though we are already doing that for secrets, but that's for filtering out). Mixing-usage of the prefix also seems to be a bit confusing. I am not sure if snapshot

[2020-09-16 05:41] #364 closed

[2020-09-16 13:52] xing-yang commented on #270
/assign @humblec

[2020-09-17 08:33] Kartik494 commented on #368
Hi @xing-yang @msau42  for just confirmation if i am right here i have to patch the objects for resources persistentvolumes persistentvolumeclaim,volumesnapshotclasses and persistentvolumecontents?

[2020-09-17 17:43] xing-yang commented on #368
@Kartik494 this is only for patching the Status field of VolumeSnapshot and VolumeSnapshotContent in external-snapshotter repo.

[2020-09-17 17:47] xing-yang commented on #368
For example,
https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L740
https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L764

Search for any usage of Update and UpdateStatus in the code.

[2020-09-17 17:49] xing-yang commented on #368
We do an update of PVC as well for a finalizer.  So we can consider that one as well.  I'll say work on VolumeSnapshot and VolumeSnapshotContent Update and UpdateStatus first.

[2020-09-17 17:53] Kartik494 commented on #368
@xing-yang Thanks for sharing information, i will work on this first.

[2020-09-17 22:01] #272 closed

[2020-09-19 07:34] #204 closed

[2020-09-21 08:41] eyinwag opened #377 "snapshot READYTOUSE status keep as false all along"
We try snapshot in our cluster for k8s v1.17.11. We  have deployed the sanpshot crd and contorller according https://github.com/kubernetes-csi/external-snapshotter and there are no error. Then we deploy the snapshot class and sanoshot, but the snapshot keep the READYTOUSE as false.

[code]
[snapshot.log](https://github.com/kubernetes-csi/external-snapshotter/files/5254324/snapshot.log)

[2020-09-23 02:10] #377 closed

[2020-09-23 13:13] #300 closed

[2020-09-24 17:25] chrishenzie commented on #341
PR has since been updated. If you can take another look I appreciate it.

[2020-09-29 11:41] humblec opened #379 "Allow SP to record some opaque parameters in the snapshot content object."
At present volumesnapshot object does not have a provision to record parameters which can be consumed later by the SP for its own use.  Like in PVC -> PV workflow, the volumeattribute ( volumeContext in createvolumeresponse) can carry some information which is opaque in the PV.  Like that , volumesnapshot/content object should have a provision to keep similar data. This is missing atm ( no snapsho

[2020-09-29 11:56] Madhu-1 commented on #379
currently, CSI spec doesn't the csi driver to return the context in CreateSnapshotResponse, isn't it better to open an issue in CSI spec repo?

[2020-09-29 13:00] jsafrane opened #380 "snapshot-controller panics when source PVC does not exist"
When taking a snapshot of a non-existing PVC, snapshot controller panics:

[code]

To reproduce this, the VolumeSnapshot must not have a VolumeSnapshotClass:
[code]

[2020-09-29 13:00] jsafrane commented on #380
/assign

[2020-09-29 13:17] xing-yang commented on #379
volume_context is needed in ControllerPublishVolume, NodeStageVolume, NodePublishVolume, and ValidateVolumeCapabilities RPCs.  We don't have such RPCs for volume snapshot that need snapshot_context.

[2020-09-29 15:48] xing-yang opened #382 "Document how to use quota with snapshot CRs"
Add documentation in README to explain how to use quota with VolumeSnapshot resources:
See example here for custom resources: https://kubernetes.io/docs/concepts/policy/resource-quotas/#object-count-quota

Since the support is only added for namespaced CRD's, we can only use quota for VolumeSnapshot resources, but not VolumeSnapshotContent and VolumeSnapshotClasses.

[2020-09-30 19:52] #380 closed

[2020-10-01 18:03] ggriffiths opened #385 "Fix go 1.15 install issue in release-2.1"
As seen in https://github.com/kubernetes-csi/external-snapshotter/pull/384

and originally https://github.com/kubernetes-csi/external-snapshotter/pull/348, release-2.1 PR jobs are failing with `ERROR: installation of Go 1.15.0 failed`.

Looking into this now.

[2020-10-01 18:03] ggriffiths commented on #385
/assign @ggriffiths

[2020-10-03 14:14] xing-yang commented on #216
/remove-lifecycle rotten

[2020-10-03 14:14] xing-yang commented on #216
/reopen

[2020-10-05 12:25] Kartik494 commented on #359
Hi @xing-yang @msau42   As These are the kubernetes client supported [libraries](https://kubernetes.io/docs/reference/using-api/client-libraries/#officially-supported-kubernetes-client-libraries) , so for snapshots api we have to add the support Likewise mentioned in the [docs](https://github.com/kubernetes-client/java#installation) ? Please suggest is this the right approach for providing java cl

[2020-10-05 13:15] xing-yang commented on #359
@Kartik494 Yes.

[2020-10-05 13:17] xing-yang commented on #306
Release 3.0.0 is cut.  Closing this issue.

[2020-10-05 13:18] xing-yang commented on #271
Looking for an owner for this in v1.20.

[2020-10-06 00:59] msau42 commented on #216
I think we need to reconsider the 128 limit in the CSI spec. We actually hit the 128 character limit on volumeid recently and will be working on increasing the 128 limit in the spec.

[2020-10-06 01:52] xing-yang commented on #216
Sure.  I wonder what use case requires a name to be > 128 char?

[2020-10-06 01:54] msau42 commented on #216
For PD driver, our ids are fully qualified with project name + zone name. Both those names can be quite long like "northamerica-northeast-1a"

[2020-10-06 03:38] xing-yang commented on #216
I see.

[2020-10-06 18:54] xing-yang commented on #270
@humblec As discussed, I'll un-assign this one from you now and look for a new owner for 1.20.

[2020-10-06 19:27] xing-yang commented on #270
This may be better achieved by using the csi mock driver with the javascript hooks:
* Javascript hooks for csi mock driver: https://github.com/kubernetes-csi/csi-test/pull/251
* e2e test example: https://github.com/kubernetes/kubernetes/commit/a4f080861f3586aae0f235e914526807eeea5cfa

[2020-10-07 01:17] ggriffiths commented on #385
Fixed by #386

[2020-10-07 01:17] #385 closed

[2020-10-07 20:21] xing-yang commented on #270
/assign @RaunakShah

[2020-10-08 16:59] boddumanohar commented on #271
/assign

[2020-10-09 09:42] stiller-leser commented on #273
I have to agree with @benlangfeld, I also just stumbled across this issue. We plan to import many existing disk snapshots (in our cloud provider), into Kubernetes using the `VolumeSnapshotContent`. This works fine as long as we do it in one namespace, but across namespaces it does not.

Sure, creating multiple `VolumeSnapshot*` touples does work, but would make the handling much harder. Not only b

[2020-10-09 12:35] xing-yang commented on #273
There's on-going design work for namespace transfer for resources such as PVCs and VolumeSnapshots.  The following KEP will be updated for this work:
https://github.com/kubernetes/enhancements/pull/1555

[2020-10-09 13:04] benlangfeld commented on #273
@xing-yang Namespace transfer doesn't solve this use case either.

[2020-10-09 22:03] msau42 opened #399 "release-notes discovery mode cannot handle client/* tags"
@Jiawei0227 noticed this when he was generating release notes for the 3.0.1 patch. We probably can fix the release-notes tool to ignore tags that don't match the version syntax.

[2020-10-09 23:14] Jiawei0227 commented on #399
The workaround for this is not use discover mode but use a --start-sha and --end-sha.

[2020-10-14 03:33] #341 closed

[2020-10-19 03:04] fantastic2085 opened #401 "Using CSI to create a snapshot, the following print appears: Remove Finalizer for PVC gaozh-test as it is not used by snapshots in creation"
**ceph version：14.2.10 ceph csi:3.0.0**

**The snapshot creation starts as follows**:
![image](https://user-images.githubusercontent.com/4116773/96396689-54f87f80-11fa-11eb-9be8-42d0df2effeb.png)
**But when the snapshot is complete, here is the picture**
![image](https://user-images.githubusercontent.com/4116773/96396730-693c7c80-11fa-11eb-9f23-1c1727833288.png)

**Here is the log information**:
I

[2020-10-19 03:34] xing-yang commented on #401
Thanks for the detailed report.  This works as designed. We only keep the PVC finalizer when snapshot is being created from the PVC.  Once snapshot is readyToUse, we no longer need the PVC finalizer.

[2020-10-19 03:51] fantastic2085 commented on #401
Are you saying that this phenomenon is reasonable？

[2020-10-19 04:15] fantastic2085 commented on #401
If this makes sense, then I delete the volume first, then the snapshot associated with that volume, I think, should also be deleted, but that's not the case right now, the volume has been deleted, but the snapshot corresponding to that volume is still there

[2020-10-19 05:39] fantastic2085 commented on #401
I hope you can give me a more detailed answer

[2020-10-19 15:19] xing-yang commented on #401
See this issue here: https://github.com/kubernetes-csi/external-snapshotter/issues/115#issuecomment-509310513

There are storage systems whose snapshots have independent life cycles from volumes. For them, you can delete a volume which still has snapshots taken from them.  There are other storage systems whose snapshots are dependent on the volumes. So deleting volumes which still have snapshots d

[2020-10-19 16:29] jsrz opened #402 "Multi-arch image support"
Hello,

Would like to put in a request for support of multi-arch images (Arm). Current external-snapshotter images only support x86.
I verified that I can easily build binaries and docker images manually, so I'd imagine it shouldn't take too much effort to support this.

[2020-10-19 17:39] jsrz commented on #402
Closing. My issue was that I'm using rook, and it's default images have not moved to the gcr.io hosted images (which support multi-arch).

[2020-10-19 17:39] #402 closed

[2020-10-20 01:53] fantastic2085 commented on #401
Thanks for your patient answer. I mainly use K8S to connect ceph. From the perspective of Ceph, if the block devices created by CSI have snapshots associated with them, they cannot be deleted.If possible, I sincerely hope that you can explain this issue for Ceph

[2020-10-20 03:26] fantastic2085 opened #403 "The volume was created through snapshot rollback, causing K8S POD to fail to start"
A volume is recovered by snapshot rollback, but CSI needs to add the Flatten feature. Kernel version 3.10.0-1127.el7.x86_64 does not support this feature, causing K8S POD to fail to start.The CSI version is 3.0.0

![image](https://user-images.githubusercontent.com/4116773/96536744-5348bd80-12c7-11eb-92b8-6477ce48d4a8.png)
How can flatten be banned?

[2020-10-20 22:30] yuxiangqian opened #404 "Use driver name from PV instead of from StorageClass to validate"
In current implementation, [SetDefaultSnapshotClass](https://github.com/kubernetes-csi/external-snapshotter/blob/master/pkg/common-controller/snapshot_controller.go#L1189) relies on PVC's StorageClass to find the driver name. Instead its more appropriate to rely on PV's driver name as StorageClass can be updated after a volume has been provisioned.

Per discussion in https://github.com/kubernetes/

[2020-10-20 22:38] yuxiangqian commented on #404
/assign

[2020-10-20 22:42] msau42 commented on #404
Should also evaluate where else we depend on storageclass and see if we can remove that dependency

[2020-10-23 23:56] xing-yang commented on #288
This is fixed.
https://github.com/kubernetes-csi/external-snapshotter/blob/v3.0.1/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml#L159

[2020-10-23 23:56] #288 closed

[2020-10-24 00:04] xing-yang commented on #403
CSI only supports creating a new volume from snapshot.  CSI does not support snapshot rollback.  Can you provide more details on what steps you took to rollback snapshot?

[2020-10-26 05:42] boddumanohar opened #406 "kubernetes/kubernetes e2e test fails if CRDs are installed from external-snapshotter latest master"
When I am running e2e tests on kubernetes/kubernetes I am expecting the following instructions to work:

[code]

instead, if I install the CRDs from here, the test run without any issues.
[code]

Is this because the k/k is still using v1beta1 but the crds that I am installing(the latest master) is v1?

[2020-10-26 23:20] msau42 commented on #406
I believe the issue is because the paths changed in master. We should have updated all the repos to use the new path. Can you try syncing to head?

cc @xing-yang

[2020-10-28 13:04] boddumanohar commented on #382
I would like to take-up this task

[2020-10-28 14:42] boddumanohar commented on #406
@msau42 I am sorry, the HEAD of which repo?

[2020-10-28 15:33] xing-yang commented on #406
@boddumanohar Snapshot v1 code is not merged yet.  So it is still v1beta1.  What errors are you getting?

[2020-10-29 01:22] chrishenzie commented on #361
Please see https://github.com/kubernetes/kubernetes/pull/95971

[2020-10-29 10:18] Madhu-1 opened #412 "Failed to delete volumesnapshot if the volumesnapshotclass is deleted"
In case of PVC deletion, nothing is blocking the PVC deletion even if the storageclass is deleted. external provisioner will send a request to the CSI driver with volumeID and no secrets will be sent as it cannot get the storageclass name. but in the case of volume snapshot, the volumesnapshot deletion will never complete as the volumesnapshotclass is already deleted. As per the CSI spec the secre

[2020-10-30 00:48] xing-yang commented on #412
Which version is this?  I thought the problem is already fixed.

[2020-10-30 07:27] Madhu-1 commented on #412
I have tested with old version 2.x I think. I verified with the latest master it's sending a request to delete the snapshot to the CSI driver. Thanks @xing-yang

One question,  volumesnapshot won't be deleted until the csi snapshot or volumesnapshotcontent is deleted is that correct?
but in the PVC case, kubernetes will delete the PVC object than the external-provisioner will take care of deleting

[2020-10-30 14:36] #382 closed

[2020-10-30 14:39] xing-yang commented on #412
The Alpha snapshot design was almost completely modeled after the PV/PVC design, but we made enhancements to the snapshot design when moving to Beta.  We delete CSI snapshot first, then VolumeSnapshotContent, and finally VolumeSnapshot to avoid leaking resources.

[2020-11-02 02:39] #318 closed

[2020-11-02 19:02] pantelis-karamolegkos opened #418 "Unable to delete VolumeSnapshot that was created with error"
Working on GKE with the following client / server version

[code]

I am working on the official helm [chart](https://github.com/jenkinsci/helm-charts) of `jenkins` and wanted to try out the VolumeSnapshot feature.

There was already a PVC created on my cluster and in `jenkins` ns.

[code]

I proactively created 2 Volume Snapshot classes:

[code]

So I try to create a volume snapshot using the foll

[2020-11-02 19:28] pantelis-karamolegkos commented on #418
By running through the code, if I am not mistaken, the error seems to be due to the fact that the corresponding volume was not provisioned with `pd.csi.storage.gke.io` so closing this.

[2020-11-02 20:20] #418 closed

[2020-11-03 11:52] jsafrane opened #421 "CVE-2020-8569: snapshot-controller DoS (NULL pointer dereference)"
CVSS Rating: TBD

The Kubernetes `snapshot-controller` has been found to be vulnerable to a denial of service attack via authorized API requests.

The `snapshot-controller` is an optional Kubernetes component that enables volume snapshot feature, which is beta in Kubernetes 1.19. It is installed typically as an add-on into a Kubernetes cluster. See https://kubernetes-csi.github.io/docs/snapshot-co

[2020-11-03 13:12] xing-yang commented on #421
Can you clarify that this only happens if user tries to create a VolumeSnapshot that does not have a VolumeSnapshotClassName specified?

[2020-11-03 14:22] jsafrane commented on #421
Added. And cut the rest a bit.

[2020-11-03 18:28] msau42 commented on #421
Does 2.x have this issue?

[2020-11-03 19:48] jsafrane commented on #421
No

[2020-11-03 20:11] xing-yang commented on #421
This was probably introduced when we fixed the bug where the VolumeSnapshot cannot be deleted if VolumeSnapshotClass is not found.

[2020-11-05 01:52] misterikkit opened #422 "snapshot-validation-webhook should reload server certificate on update"
If the server certificate for snapshot-validation-webhook is updated, we should begin using the new certificate instead of the old.

This is required if we are to support credential rotation. For example, an external service may update the k8s secret with this pod's certificate.

hat tip to @msau42 for pointing out that [controller runtime][1] already has this feature.

[1]: https://godoc.org/gith

[2020-11-05 01:53] msau42 commented on #422
/kind bug
/assign @yuxiangqian @xing-yang

Please add this to your GA task list

[2020-11-05 01:54] msau42 commented on #422
and we should backport the fix

[2020-11-05 02:36] xing-yang commented on #422
Sure

[2020-11-06 19:05] huffmanca commented on #412
We've investigated this a bit further, and here's my summary of what's occurring:

This issue is pertaining to deleting the VolumeSnapshotClass when the driver requires credentials for creation/deletion. In this case, the driver fails to remove the backend snapshot, which prevents the VolumeSnapshotContent being deleted, which prevents the VolumeSnapshot from being deleted.

At this point I think

[2020-11-06 21:41] #412 closed

[2020-11-11 15:01] xing-yang commented on #422
Discussed with @yuxiangqian about this.  We can watch `/etc/snapshot-validation-webhook/certs` for cert rotation and restart the webhook server when it happens.

[2020-11-16 19:52] xing-yang commented on #422
/assign @ggriffiths

[2020-11-16 22:30] xing-yang commented on #361
It is done.

[2020-11-16 22:30] #361 closed

[2020-11-17 17:18] msau42 commented on #422
For my understanding, is there a reason why we don't use controller-runtime for the webhook (which already handles rotation?)

[2020-11-17 17:45] ggriffiths commented on #422
I briefly looked into that package while looking at this issue. One thing I noticed while looking into the controller-runtime webhook is that it assumes the cert and key are required to be in the same directory.
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/server.go#L53-L61

The current snapshotter implementation supports direct file paths:
https://github.com/kuber

[2020-11-17 17:57] xing-yang commented on #422
@yuxiangqian can you answer this question?  Is this because we are not using kubebuilder?

[2020-11-17 18:04] yuxiangqian commented on #422
I think the main reason is the current snapshot controllers are hand written. One of the best way of using controller-runtime is to use kubebuilder to autogen controller/webhook skeleton. Andi has tried that option and it was too much work on getting it to work in the current code structure.

[2020-11-18 01:03] msau42 commented on #421
Announcement has been sent out to kubernetes security, storage and csi lists.

/close

[2020-11-18 01:03] #421 closed

[2020-11-18 01:04] msau42 commented on #421
I modified the description to say the feature has been beta since 1.17. I think the announcement said 1.19, which is not correct.

[2020-11-20 15:54] #323 closed

[2020-11-20 21:36] ggriffiths opened #431 "Add error code to VolumeSnapshotError"
Would it be possible to add a VolumeSnaphotError.Code field to classify different error messages and types?
https://github.com/kubernetes-csi/external-snapshotter/blob/8751eb0ca5b33a8a3c2589d506b48cc26684e0cd/client/apis/volumesnapshot/v1/types.go#L429

For example, if a backup system is checking the VolumeSnapshot object status, it would need to check the error message for a string that might cha

[2020-11-20 21:37] ggriffiths commented on #431
/kind feature

[2020-11-21 02:27] xing-yang commented on #431
It will be great if we can come up with error codes that everyone can agree to, but it is not trivial to determine error codes.  CSI spec only uses existing gRPC error codes.  We can try to use existing gRPC error codes when appropriate as well.  For snapshot id not found, I think we should be able to use gRPC NOT_FOUND error code.

We also tried to come up with common error codes when working on

[2020-12-01 04:46] Madhu-1 opened #432 "deleting snapshotclass is marking volumesnapshot readyToUse as false"
deleting the snapshot class which is used to create volume snapshots is leading to marking all volume snapshot readyToUse  as false

steps to reproduce:-
* create volumesnapshotclass
* create volumesnapshot
* wait till readyToUse is set to true
* Now delete the volumesnapshotclass
* check readyToUse on volumesnapshot

logs of snapshot controller

[code]

[2020-12-01 04:46] Madhu-1 commented on #432
cc @xing-yang

[2020-12-01 14:35] xing-yang commented on #432
@Madhu-1 which version of external-snapshotter are you testing with?

[2020-12-02 14:58] #422 closed

[2020-12-02 15:50] #404 closed

[2020-12-02 19:37] ggriffiths opened #434 "Add metric for detecting metrics operation leaks in snapshot controller"
It is possible that operation leaks can occur if logic changes happen in the snapshot controller. We should add a metric to count how many snapshot operations are cached. If this count does not decrease after any operation is finished, we have an operation cache leak.

_Originally mentioned by @msau42 in https://github.com/kubernetes-csi/external-snapshotter/pull/409#discussion_r532979019_

[2020-12-02 19:46] msau42 commented on #434
Another thing to investigate is if golang itself has any tools/metrics that could help us so we don't have to do something custom.

[2020-12-03 06:49] #142 closed

[2020-12-03 23:18] nemo83 opened #438 "PV and PVC are created but Pod errors with FailedAttachVolume"
Hi,

I'm running microk8s (v1812) with version 1.19 on raspberry pi 4.

I've installed  CRD, `csi-snapshotter` and `snapshot-controller` charts from the current HEAD.

I've additionally installed the following manifests

[code]

In the attempt of creating a first PV/PVC that I will then try to snapshot via the VolumeSnapshot.

Unfortunately, despite the PV and PVC being created by the csi.hostpath

[2020-12-04 15:50] xing-yang commented on #438
Can you show the yaml files that you used to deploy the csi hostpath driver and all the sidecars?

[2020-12-04 16:28] nemo83 commented on #438
Hi @xing-yang , thanks for taking the time to look into this. this is really much appreciated.

I have added the CRDs, unmodified: https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd

And then I've installed the `csi-snapshotter` and `snapshot-controller` with the following charts, modified to target the `kube-system` ns

rbac-csi-snapshotter.yaml
[code]

rbac-exte

[2020-12-04 17:35] xing-yang commented on #438
The yaml examples in external-snapshotter repo don't include the node plugin, external-attacher, etc.  It's just a simple example that allows you to create a PVC and create a snapshot.  So it's not going to work if you try to create a pod to use a PVC.  For a full deployment example of csi hosthpath driver, please see this doc here: https://github.com/kubernetes-csi/csi-driver-host-path#deployment

[2020-12-04 20:09] nemo83 commented on #438
🤦‍♂️ right. thanks for this and apologies.

[2020-12-04 20:09] #438 closed

[2020-12-05 00:17] ggriffiths commented on #434
Yes, will look into that as part of this.

[2020-12-08 21:55] xing-yang opened #443 "Move webhook logic from utils to validation-webhook folder"
https://github.com/kubernetes-csi/external-snapshotter/pull/425/files#r538807152

[2020-12-09 19:12] xing-yang opened #444 "Increase default ResyncPeriod to 15 minutes"
Currently it is 1 minute which is too frequent.  We should bump it up to 15 minutes, which is the default used by the external-provisioner.

https://github.com/kubernetes-csi/external-snapshotter/blob/master/cmd/snapshot-controller/main.go#L47 (1 min)
https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L198 (15 min)
https://github.com/kubern

[2020-12-09 21:58] mattcary opened #445 "Missing snapshot class causes panic in release-2.1 branch"
#380 is active in release-2.1 (and maybe others).

The fix #381 can be backported.

/assign

[2020-12-10 00:57] mattcary commented on #445
I've confirmed that it is not a problem for release-2.0 (the bug was introduced in #275).

I haven't attempted to test 1.x, which uses the alpha API.

I use the following to test: apply it, and then see if the snapshot controller errors, in particular looking for a nil pointer dereference error in the logs. (note it depends on installing a standard-rwo StorageClass)

[code]

[2020-12-10 13:18] #444 closed

[2020-12-14 16:51] xing-yang commented on #432
Current fix: Update updateSnapshotStatusWithEvent to include a "ready *bool" input parameter. If nil, ReadyToUse will not be changed.
- If snapshot class is not found, ReadyToUse will not be changed.
- If updateSnapshotStatus failed, ReadyToUse will not be changed.
- For all other cases, the code stays the same as before, meaning ReadyToUse will be False.

[2020-12-16 08:28] ialidzhikov commented on #306
@xing-yang , I see that https://github.com/kubernetes-csi/external-snapshotter/pull/287 is not cherry-picked into `release-2.1` branch (please correct if I am wrong). Is there any chance to have #287 PR cherry-picked into `release-2.1`?

[2020-12-17 00:30] mattcary commented on #445
/close

Fixed with v2.1.3.

[2020-12-17 00:30] #445 closed

[2020-12-17 05:19] #432 closed

[2020-12-17 06:48] Kartik494 commented on #368
/remove-lifecycle stale

[2020-12-17 21:29] tsunny opened #455 "YAML manifests should have multiple document delimiter"
Found document delimiter(`---`) missing in few manifests. This causes malformed YAML when loading it in ruby.

Files with missing document delimiter:
- https://github.com/kubernetes-csi/external-snapshotter/blob/master/deploy/kubernetes/csi-snapshotter/rbac-csi-snapshotter.yaml#L11
- https://github.com/tsunny/external-snapshotter/blob/master/deploy/kubernetes/csi-snapshotter/rbac-external-provisio

[2020-12-17 22:32] grosser commented on #455
technically not needed since they are single resources, but nice for consistency 👍

[2020-12-26 15:58] #342 closed

[2021-01-06 04:59] Kartik494 commented on #359
/remove-lifecycle stale

[2021-01-06 15:23] xing-yang commented on #270
This is done: https://github.com/kubernetes/kubernetes/pull/95863

[2021-01-06 15:23] #270 closed

[2021-01-06 15:26] xing-yang commented on #374
/remove-lifecycle stale

[2021-01-07 02:07] boddumanohar commented on #271
/remove-lifecycle stale

[2021-01-13 03:15] lixiaopengxiya opened #460 "Unable to create snapshot"
The specific errors are as follows：
[code]

Yaml:
[code]

snapshot-controller-0:
[code]

[2021-01-13 03:46] xing-yang commented on #460
It seems that you didn't install the new CRDs which has v1 resources.

https://github.com/kubernetes-csi/external-snapshotter/tree/master/client/config/crd

[2021-01-13 05:49] lixiaopengxiya commented on #460
I've solved it. Thank you very much

[2021-01-13 05:49] #460 closed

[2021-01-15 01:33] #362 closed

[2021-01-18 04:56] ajaykmis opened #461 "ARM64 image for the external snapshotter?"
Hi,

I am trying to use EBS CSI driver with the AWS EKS that has ARM nodes, but I am running into issues because the image for external-snapshotter might not be arm compatible?

I see the following issue:
~/Snapchat/dev/aws-ebs-csi-driver master*
$ kubectl get pods -n kube-system | grep ebs
ebs-snapshot-controller-0             0/1     CrashLoopBackOff   4          2m17s --->>>>>>>>

$ kubectl log

[2021-01-18 04:57] ajaykmis commented on #461
~/Snapchat/dev/aws-ebs-csi-driver master* 6s
$ kubectl describe pod ebs-snapshot-controller-0 -n kube-system
Name:         ebs-snapshot-controller-0
Namespace:    kube-system
Priority:     0
Node:         ip-192-168-24-190.us-west-1.compute.internal/192.168.24.190
Start Time:   Sun, 17 Jan 2021 20:44:24 -0800
Labels:       app=ebs-snapshot-controller
              app.kubernetes.io/name=aws-ebs-cs

[2021-01-19 20:29] ajaykmis commented on #461
I found this arm64 image for snapshot-controller:
raspbernetes/csi-external-snapshotter:2.1.1

But running this results in this error:
$ kubectl logs -f ebs-snapshot-controller-0 -n kube-system
I0119 20:29:19.125177       1 main.go:87] Version: v2.1.1-0-g034c545-dirty
I0119 20:29:19.126035       1 connection.go:153] Connecting to unix:///run/csi/socket
W0119 20:29:29.126143       1 connection.go:1

[2021-01-19 21:41] xing-yang commented on #461
Can you try the following images?  I think you are using old images.  The new ones should be multi-arch.

k8s.gcr.io/sig-storage/snapshot-controller:v2.1.3
k8s.gcr.io/sig-storage/csi-snapshotter:v2.1.3

[2021-01-19 22:31] ajaykmis commented on #461
Thanks @xing-yang ,

I will try these out, how about these images which are referenced in setup-csi-snapshotter.yaml.
 - name: csi-provisioner
   75           image: quay.io/k8scsi/csi-provisioner:v1.5.0

    - name: hostpath
  101           image: quay.io/k8scsi/hostpathplugin:v1.2.0

[2021-01-20 06:53] ajaykmis commented on #461
Hi @xing-yang

The image for csi-snapshotter doesn't seem to work for me.
- containerID: docker://7c5fd9e7dc01f9fdd2c16ef1b0dde4cc8df8fd3e0dd1679acdc1c95b7c20d4c4
    image: k8s.gcr.io/sig-storage/csi-snapshotter:v2.1.3
    imageID: docker-pullable://k8s.gcr.io/sig-storage/csi-snapshotter@sha256:ad9ebd1db27bc64e0d9ccac3d945fa598b7e5213aa6def217a10d6a4ae6a9770
    lastState:
      terminated:

[2021-01-21 10:37] Kartik494 commented on #461
Hi @ajaykmis This might be an issue with image when using with EBS CSI driver, but the image you mentioned above worked fine in my enviorment `k8s.gcr.io/sig-storage/csi-snapshotter:v2.1.3`

[2021-01-21 14:06] #346 closed

[2021-01-25 18:56] bswartz opened #463 "Sidecar spins on CreateSnapshot() retries instead of backing off"
According to the spec, if the plugin returns ABORTED from CreateSnapshot(), the sidecar should use exponential backup for the retries, but it does not. It retries immediately, consuming 100% CPU as long as the plugin continues to fail. Although the spec only mentions 3 errors codes: ALREADY_EXISTS, ABORTED, and RESOURCE_EXHAUSTED, there are several other possible error codes, and for most of them,

[2021-01-27 22:10] ayberk commented on #461
This is indeed due to the fact that the driver is using the old image. They were able to run the driver: https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/604

I think this can be closed.

[2021-01-27 22:44] ajaykmis commented on #461
HI @ayberk : Sorry, these images didn't work for me.  I am using these right now:
 image: longhornio/csi-snapshotter:v2.1.1-lh1

 When I used  k8s.gcr.io/sig-storage/csi-snapshotter:v2.1.3, I was still getting exec error.

[2021-01-28 00:11] korbin commented on #461
`k8s.gcr.io/sig-storage/snapshot-controller:v2.1.3` does not appear to be released for arm64.

[2021-01-28 00:42] ajaykmis commented on #461
yeah, that would make sense.  Are there plans to release arm64 versions for 2.1.1?